[%load_template file:'cms/includes/sidebar.template.html'/%]
	[%if [@config:show_home_ads@]%]
		[%advert type:'text' template:'carousel' limit:'10' ad_group:''%]
			[%param *header%]
				<section id="homepageCarousel" class="carousel slide" data-ride="carousel" aria-label="Banner images">
					[%if [@total_showing@] > 1%]
						<ol class="carousel-indicators">
							[%site_value id:'counter' type:'load'/%]
						</ol>
					[%/if%]
					<div class="carousel-inner">
			[%/param%]
			[%param *footer%]
					</div>
					[%if [@total_showing@] > 1%]
						<a class="carousel-control-prev" href="#homepageCarousel" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#homepageCarousel" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					[%/if%]
				</section>
			[%/param%]
			[%param *ifempty%]
				<a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
					Click to add a banner<br/>
				</a>
			[%/param%]
		[%/advert%]
	[%/if%]
	<hr aria-hidden="true" />
	<section id="homepage-content" class="n-responsive-content" aria-label="Main description">[@page_content@]</section>
	[%if [@config:show_home_ads@]%]
		[%advert type:'product' limit:'8' template:'' ad_group:''%]
			[%param *header%]
				<hr aria-hidden="true"/>
				<h2 class="sr-only">Featured products</h2>
				<section class="row products-row" aria-label="Featured products">
			[%/param%]
			[%param footer%]
				</section>
			[%/param%]
			[%param *ifempty%]
				[%random_products filter_category:'' template:'' limit:'8'%]
					[%param *header%]
						<hr aria-hidden="true"/>
						<h2 class="sr-only">Featured products</h2>
						<section class="row products-row" aria-label="Featured products">
					[%/param%]
					[%param *footer%]
						</section>
					[%/param%]
				[%/random_products%]
			[%/param%]
		[%/advert%]
	[%/if%]
</div>
