[%load_template file:'cms/includes/sidebar.template.html'/%]
	[%if [@config:show_home_ads@]%]
		[%advert type:'text' template:'carousel' limit:'10' ad_group:''%]
			[%param *header%]
				<div id="homepageCarousel" class="carousel slide">
					[%if [@total_showing@] > 1%]
						<ol class="carousel-indicators">
							[%site_value id:'counter' type:'load'/%]
						</ol>
					[%/if%]
					<div class="carousel-inner">
			[%/param%]
			[%param *footer%]
					</div>
					[%if [@total_showing@] > 1%]
						<a class="left carousel-control" href="#homepageCarousel" data-slide="prev">
							<span class="fa fa-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#homepageCarousel" data-slide="next">
							<span class="fa fa-chevron-right"></span>
						</a>
					[%/if%]
				</div>
			[%/param%]
			[%param *ifempty%]
				<a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
					Click to add a banner<br/>
				</a>
			[%/param%]
		[%/advert%]
	[%/if%]
	<hr>
	<div id="homepage-content">[@page_content@]</div>
	[%if [@config:show_home_ads@]%]
		[%advert type:'product' limit:'8' template:'' ad_group:''%]
			[%param *header%]
				<hr />
				<div class="row">
			[%/param%]
			[%param footer%]
				</div>
			[%/param%]
			[%param *ifempty%]
				[%random_products category:'0' template:'' limit:'8'%]
					[%param *header%]
						<hr />
						<div class="row">
					[%/param%]
					[%param *footer%]
						</div>
					[%/param%]
				[%/random_products%]
			[%/param%]
		[%/advert%]
	[%/if%]
</div>
