[%load_template file:'cms/includes/sidebar.template.html'/%]
	[%breadcrumb%]
		[%param *header%]
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
						<meta itemprop="position" content="0" />
					</li>
		[%/param%]
		[%param *body%]
					<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
						<meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
					</li>
		[%/param%]
		[%param *footer%]
				</ol>
			</nav>
		[%/param%]
	[%/breadcrumb%]
	<h1>[@content_name@]</h1>
	<hr aria-hidden="true"/>
	<section class="n-responsive-content" aria-label="Short Description">
		[@content_short_description1@]
		[@content_short_description2@]
		[@content_short_description3@]
	</section>
	<section class="n-responsive-content" aria-label="Description">
		[@content_description1@]
		[@content_description2@]
		[@content_description3@]
	</section>
	[%thumb_list type:'storelocation' limit:'50' filter_asc:'1'%]
		[%param *body%]
			<div class="card mb-2">
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8">
							<h2><a href="[@url@]">[@stloc_name@]</a></h2>
							[%if [@description@]%]<div class="lead">[@description@]</div>[%/if%]
							<address>
								<p>
									[@stloc_street1@] [@stloc_street2@]<br>
									[@stloc_city@][%if [@stloc_state@] or [@stloc_zip@]%], [@stloc_state@] [@stloc_zip@][%/if%][%if [@stloc_country@]%], [@stloc_country@][%/if%]
								</p>
								<p>
									[%if [@stloc_phone@]%]<i class="fa fa-phone"></i> [@stloc_phone@]<br>[%/if%]
									[%if [@stloc_fax@]%]<i class="fa fa-fax"></i> [@stloc_fax@]<br>[%/if%]
									[%if [@stloc_email@]%]<i class="fa fa-envelope"></i> <a href="mailto:[@stloc_email@]">[@stloc_email@]</a><br>[%/if%]
								</p>
							</address>
							[%thumbnails id:'[@stloc_id@]' type:'storeloc'%]
								[%PARAM *body%]<img src="[@thumb_image@]" alt="[@stloc_name@]">[%/PARAM%]
							[%/thumbnails%]
						</div>
						[%if [@stloc_lat@] and [@stloc_lng@]%]
							<div class="col-12 col-sm-4">
								<a href="https://www.google.com.au/maps/place/[%url_encode%][@stloc_street1@] [@stloc_street2@] [@stloc_city@] [@stloc_state@] [@stloc_zip@][%/url_encode%]/@[@stloc_lat@],[@stloc_lng@],15z" target="_blank" rel="noopener">
									<img src="https://maps.googleapis.com/maps/api/staticmap?center=[@stloc_lat@],[@stloc_lng@]&zoom=20&size=400x400&markers=color:blue%7Clabel:%7C[@stloc_lat@],[@stloc_lng@][%if [@config:GOOGLE_GEO_API@]%]&key=[@config:GOOGLE_GEO_API@][%/if%]" class="img-fluid" alt="[%nohtml%][@stloc_name@] [@stloc_street1@] [@stloc_street2@], [@stloc_city@], [@stloc_state@] [@stloc_zip@], [@stloc_country@][%/nohtml%]">
								</a>
							</div>
						[%/if%]
					</div>
				</div>
			</div>
		[%/param%]
		[%param *footer%]
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					[%paging limit:'3'%]
						[%param *previous_page%]<li class="page-item"><a class="page-link" href="[@url@]" aria-label="Go back one page"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>[%/param%]
						[%param *goback_pages%]<li class="page-item"><a class="page-link" href="[@url@]" aria-label="Go to page [@page@]">[@page@]</a></li>[%/param%]
						[%param *current_page%]<li class="page-item active"><a class="page-link" href="[@url@]" aria-label="Current page">[@page@]</a></li>[%/param%]
						[%param *gonext_pages%]<li><a href="[@url@]" class="page-link" aria-label="Go to page [@page@]">[@page@]</a></li>[%/param%]
						[%param *next_page%]<li class="page-item"><a class="page-link" href="[@url@]" aria-label="Go forward one page"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>[%/param%]
					[%/paging%]
				</ul>
			</nav>
		[%/param%]
	[%/thumb_list%]
</div>
