
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "[@name@]",
  "image": "[%asset_url type:'product' id:'[@sku@]' thumb:'full' check_parent:'y' header:'[@config:home_url@]' /%]",
  [%if [@short_description@]%]"description": "[%format type:'text' noeol:'1' rmhtml:'1'%][@short_description@][%/format%]",[%/if%]
  "sku": "[@sku@]",
  "mpn": "[@sku@]",
  [%if [@brand@]%]
  "brand": {
    "@type": "Thing",
    "name": "[@brand@]"
  },
  [%/if%]
  [%if [@config:show_product_reviews@]%]
  [%thumb_list type:'product_reviews' limit:'25'%]
    [%param filter_1%][@sku@][%/param%]
    [%param header%]
  "review": [
    [%/param%]
    [%param *body%]
    [%if [@count@] != 0%],[%/if%]{
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "[@score@]",
        "bestRating": "5"
      },
      "author": {
        "@type": "Person",
        "name": "[%nohtml%][@reviewname@][%/nohtml%]"
      }
    }
    [%/param%]
    [%param footer%]
  ],
    [%/param%]
  [%/thumb_list%]
  [%if [@reviews@] > 0%]
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "[@rating@]",
    "reviewCount": "[@reviews@]"
  },
  [%/if%]
  [%/if%]
  "offers": {
	"@type": "Offer",
    "itemCondition": "https://schema.org/NewCondition",	
    "url": "[@url@]",
    "priceCurrency": "[@config:defaultcurrency@]",
	[%if [@inpromo@]%]
    "price": "[@promo_price@]",
    "priceValidUntil": "[%format type:'date' format:'#Y-#M-#D'%][@promo_end@][%/format%]",
	[%else%]
    "price": "[@store_price@]",
	[%/if%]
	[%if [@store_quantity@] > 0 AND [@preorder@] %]
    "availability": "http://schema.org/PreOrder",
	[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
    "availability": "http://schema.org/InStock",
	[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
    "availability": "http://schema.org/LimitedAvailability",
	[%else%]
    "availability": "http://schema.org/OutOfStock",
	[%/if%]
    "seller": {
      "@type": "Organization",
      "name": "[@config:company_name@]",
      "logo": {
        "@type": "ImageObject",
        "url": "[%asset_url type:'logo' thumb:'website' /%]"
      }
    }
  }
}
</script>
