<article class="border-bottom mb-2" itemtype="http://schema.org/Article" role="article" aria-label="[@content_name@]">
	<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
		<meta itemprop="url" content="[@config:home_url@]"/>
		<meta itemprop="name" content="[@config:company_name@]"/>
		<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="[@config:home_url@][@config:imageurl@]/website_logo.png"></span>
	</span>
	<h4 itemprop="headline" content="[@content_name@]"><a href="[@url@]" itemprop="url">[@content_name@]</a></h4>
	<p class="text-muted">
		[%IF [@content_author@]%]
		<span itemprop="author" itemscope itemtype="https://schema.org/Person">
			Author: <span itemprop="name">[@content_author@]</span>
		</span>&nbsp;
		[%/ IF%]
		[%IF [@date_posted@] != 0000-00-00 00:00:00%]
		<meta itemprop="datePublished" content="[%format type:'date' format:'#Y-#M-#d'%][@date_posted@][%/format%]"/>
		Date Posted: [%FORMAT type:'date'%][@date_posted@][%/ FORMAT%]
		[%/ IF%]
	</p>
	<p class="clearfix" itemprop="description">[@content_short_description2@]</p>
	<p>
		[%IF [@content_allow_reviews@] and [@reviews@] > 0%]<a href="[@URL@]#comments">Comment</a> <span class="badge badge-pill badge-secondary">[@reviews@]</span>[%/ IF%]
		<div class="dropdown">
			<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu[@content_id@]" data-toggle="dropdown" aria-controls="dropdownMenu[@content_id@]" aria-label="Share content">
				Share: <i class="fab fa-facebook text-facebook" aria-hidden="true"></i>
				<i class="fab fa-twitter text-twitter" aria-hidden="true"></i>
				<i class="fab fa-pinterest text-pinterest" aria-hidden="true"></i>
				<i class="fab fa-google-plus text-google-plus" aria-hidden="true"></i>
				<span class="caret"></span>
			</button>
			<ul id="dropdownMenu[@content_id@]" class="dropdown-menu" aria-labelledby="dropdownMenu[@content_id@]">
				<li><a class="dropdown-item js-social-share" href="//www.facebook.com/sharer/sharer.php?u=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-facebook text-facebook" aria-hidden="true"></i> Facebook</a></li>
				<li><a class="dropdown-item js-social-share" href="//twitter.com/intent/tweet/?text=[%url_encode%][@content_name@][%/url_encode%]&amp;url=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-twitter text-twitter" aria-hidden="true"></i> Twitter</a></li>
				<li><a class="dropdown-item js-social-share" href="//www.pinterest.com/pin/create/button/?url=[%url_encode%][@url@][%/url_encode%]&amp;description=[%url_encode%][@content_name@][%/url_encode%]"><i class="fab fa-pinterest text-pinterest" aria-hidden="true"></i> Pinterest</a></li>
				<li><a class="dropdown-item js-social-share" href="//plus.google.com/share?url=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-google-plus text-google-plus" aria-hidden="true"></i> Google+</a></li>
			</ul>
		</div>
	</p>
</article>
