<aside class="col-12 col-md-3" id="left-sidebar">
	[%IF [@page_type@] eq 'category' and [@config:show_filters@]%]
		[%site_value id:'footer_javascript'%]
			<script>
			$(document).ready(function() {
				var seperator = window.location.href.includes("?") ? "&" : "?";
				var url = `${window.location.href}${seperator}templatebody=filters&templatehead=none&templatefoot=none`;

				$.get(url, function(data) {
					$('#filters').html(data);

					// Init price slider
					var dataset = document.querySelector('#price-filter').dataset
					var vals = [
						parseInt(dataset.min),
						parseInt(dataset.max)
					];
					$("#price-range").slider({
						range: true,
						min: vals[0],
						max: vals[1],
						values: vals,
						slide: function(event, ui) {
							$("#price-range-text").html('[@config:currency_symbol@]'+ui.values[0]+' to [@config:currency_symbol@]'+ui.values[1]);
							$('#pricesearch input[name="pr"]').val(ui.values[0]+'-'+ui.values[1] );
						},
						create: function(event, ui) {
							$("#price-range-text").html('[@config:currency_symbol@]'+vals[0]+' to [@config:currency_symbol@]'+vals[1]);
							$('#pricesearch input[name="pr"]').val(vals[0]+'-'+vals[1]);
						}
					});
				});
			});
			</script>
		[%/site_value%]
		<div class="card mb-2">
			<div class="card-header border-bottom">
				<h3 class="h4 mb-0">
					<a class="text-dark" role="button" data-toggle="collapse" aria-expanded="false" href="#filters" aria-controls="#filters">Filter Products</a>
				</h3>
			</div>
			<div id="filters" class="collapse">
				<p class="text-center py-3 h2">
					<i class="fas fa-spinner fa-spin"></i>
				</p>
			</div>
		</div>
	[%/IF%]
	[%CACHE type:'cmenu' id:'sidebar'%]
	[%CATEGORYMENU sortby:'sortorder,selected,name' show_empty:'1'%]
		[%param header%]
			<div class="card d-none d-md-block mb-2">
				<div class="card-header"><h3 class="h4 mb-0">Categories</h3></div>
				<div class="list-group list-group-flush" role="navigation" aria-label="Category menu">
		[%/param%]
		[%param *level_1%]
			<div class="position-relative border-bottom [%if [@next_level@]%] dropdown dropdown-hover[%/if%]">
				<a class="text-dark list-group-item list-group-item-action" href="[@url@]">[@name@]</a>
				[%if [@next_level@]%]
					<ul class="dropdown-menu dropdown-menu-horizontal">[@next_level@]</ul>
				[%/if%]
			</div>
		[%/param%]
		[%param *level_2%]
				<li class="[%if [@next_level@]%] dropdown dropdown-hover[%/if%]">
					<a class="dropdown-item" href="[@url@]">[@name@]</a>
					[%if [@next_level@]%]
						<ul class="dropdown-menu dropdown-menu-horizontal">[@next_level@]</ul>
					[%/if%]
				</li>
		[%/param%]
		[%param *level_3%]
				<li><a class="dropdown-item" href="[@url@]">[@name@]</a></li>
		[%/param%]
		[%param footer%]
				</div>
			</div>
		[%/param%]
	[%/CATEGORYMENU%]
	[%/CACHE%]
	[%CONFIG id:'phistory_limit' if:'ne' value:'0'%]
		[%PRODUCT_HISTORY limit:'[@config:phistory_limit@]' template:'box'%]
			[%param header%]
				<section class="card d-none d-md-block my-2" role="contentinfo" aria-label="Browsing history">
					<div class="card-header"><h3 class="h4 mb-0">Browsing History</h3></div>
					<ul class="nav list-group">
			[%/param%]
			[%param footer%]
					</ul>
				</section>
			[%/param%]
		[%/PRODUCT_HISTORY%]
	[%/CONFIG%]
	[%MENU id:'web_information'%]
		[%param header%]
			<div class="card d-none d-md-block my-2">
				<div class="card-header"><h3 class="h4 mb-0">Information</h3></div>
				<div class="list-group list-group-flush" role="navigation" aria-label="Information menu">
		[%/param%]
		[%param *level_1%]
			<div class="position-relative border-bottom [%if [@next_level@]%] dropdown dropdown-hover[%/if%]">
				<a class="text-dark list-group-item list-group-item-action" href="[@url@]">[@name@]</a>
				[%if [@next_level@]%]
					<ul class="dropdown-menu dropdown-menu-horizontal">[@next_level@]</ul>
				[%/if%]
			</div>
		[%/param%]
		[%param *level_2%]
			<li class="[%if [@next_level@]%] dropdown dropdown-hover[%/if%]">
				<a class="dropdown-item" href="[@url@]">[@name@]</a>
				[%if [@next_level@]%]
					<ul class="dropdown-menu dropdown-menu-horizontal">[@next_level@]</ul>
				[%/if%]
			</li>
		[%/param%]
		[%param *level_3%]
			<li><a class="dropdown-item" href="[@url@]">[@name@]</a></li>
		[%/param%]
		[%param footer%]
			</div>
		</div>
		[%/param%]
	[%/MENU%]
</aside>
<div class="col-12 col-md-9">
