<div class="col-xs-12">
<ul class="breadcrumb">
<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">${customer.breadcrumb_name}</a></li>
<li><a href="#">${customer.warranty.breadcrumb}</a></li>
</ul>


<div class="page-header">
<h1>${customer.warranty.dispute_sent.title}</h1>
</div>

<!--##[%DATA id:'error' if:'ne' value:''%]##-->
<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>[@error@]</div>
<!--##[%END DATA%]##-->

<script language="javascript" type="text/javascript">
function cancalAction() {
	window.location.href='[%URL page:"account" type:"warranty"%][%END URL%]';
}
</script>

<p>${customer.warranty.dispute_sent.warranty_paragraph_one} <a href="[%URL page:'account' type:'warranty' id:'[@dispute_id@]'%][%END URL%]">${customer.warranty.dispute_sent.warranty_btn}[@dispute_id@]</a> ${customer.warranty.dispute_sent.warranty_paragraph_two}</p>


<div class="row btn-stack">
<div class="col-xs-12 col-md-3">
<button type="button" value="Go Back To Start" class="btn btn-default btn-block" onClick="cancalAction()"> ${customer.warranty.dispute_sent.another_btn} <i class="fa fa-refresh icon-white"></i></button>
</div>

<div class="col-xs-12 col-md-3 col-md-offset-6">
<a class="btn btn-block btn-success" href="[@config:homeurl@]">${customer.warranty.dispute_sent.home_btn}</a>
</div>

</div>
</div>

</div>
