<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'/%]">My Account</a></li>
		<li class="breadcrumb-item"><a href="#">Resolution Centre</a></li>
		</ol>
	</nav>
	<div class="page-header"><h1>Resolution Centre - Warranty, Payment &amp; Return Disputes</h1></div>
	[%DATA id:'error' if:'ne' value:''%]<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>[@error@]</div>[%/ DATA%]
	<script language="javascript" type="text/javascript">
		function cancalAction() {
			window.location.href = '[%URL page:"account" type:"warranty"%][%END URL%]';
		}
	</script>
	<p>Your <a href="[%URL page:'account' type:'warranty' id:'[@dispute_id@]'%][%END URL%]">dispute #[@dispute_id@]</a> has been sent to [@config:company_name@]. You can track the progress of your dispute at any time from within your account.</p>
	<div class="row btn-stack">
		<div class="col-12 col-md-3">
			<button type="button" value="Go Back To Start" class="btn btn-outline-secondary btn-block" onClick="cancalAction()"> Create Another Dispute <i class="fa fa-sync icon-white"></i></button>
		</div>
		<div class="col-12 col-md-3 offset-md-6"><a class="btn btn-block btn-success" href="[@config:home_url@]">Return Home</a></div>
	</div>
</div>
