<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'/%]">My Account</a></li>
		<li class="breadcrumb-item"><a href="#">Resolution Centre</a></li>
		</ol>
	</nav>
	<h1>Resolution Centre - Warranty, Payment &amp; Return Disputes</h1>
	<p>Dispute #[@dispute_id@] has been updated.</p>
	<input type="button" class="btn btn-outline-secondary" value="Done" onClick="window.location.replace('[%URL page:account type:warranty id:[@dispute_id@]%][%END URL%]');">
	<script language="javascript" type="text/javascript">
		setTimeout("window.location.replace('[%URL page:account type:warranty id:[@dispute_id@]%][%END URL%]')", 1000);
	</script>
</div>
