<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'/%]">My Account</a></li>
		<li class="breadcrumb-item"><a href="#">Resolution Centre</a></li>
		</ol>
	</nav>
	<div class="page-header">
		<h1>Resolution Centre</h1>
		<h2>Step 1 - Choose the type of dispute you would like to raise</h2>
	</div>
	[%if [@error@]%]
		<div class="alert alert-danger" role="alert"><a class="close" data-dismiss="alert">×</a>[@error@]</div>
	[%/if%]
	<form name="disputeForm" action="[%url page:'account' type:'warranty' fn:'create'/%]" method="post">
		[%dispute_types%]
			[%PARAM header%]
				<div class="row align-items-center">
					<input type="hidden" name="step" value="reason">
			[%END PARAM%]
			[%PARAM *body%]
				<div class="col-12 col-md-6 pb-2">
					<div class="card card-body">
						<div class="form-check">
							<input type="radio" class="form-check-input" name="type" value="[@dispute_type_id@]" id="[@dispute_type_id@]" [%if [@type@] eq [@dispute_type_id@]%]checked[%/if%]>
							<label class="form-check-label" for="[@dispute_type_id@]">
								<h4>[@dispute_type_title@]</h4><p>[@description@]</p>
							</label>
						</div>
					</div>
				</div>
			[%END PARAM%]
			[%PARAM *footer%]
				</div>
			[%END PARAM%]
		[%END dispute_types%]
		<div class="row">
			<div class="col-12">
				<hr>
			</div>
		</div>
		<div class="row btn-stack">
			<div class="col-12 col-md-3">
				<a href="[%url page:'account' type:'warranty'/%]" class="btn btn-danger btn-block" value="Cancel"><i class="fas fa-times icon-white"></i> Cancel</a>
			</div>
			<div class="col-12 col-md-3 offset-md-6">
				<button type="submit" class="btn btn-success btn-block">Continue to Next Step <i class="fa fa-chevron-right icon-white"></i></button>
			</div>
		</div>
	</form>
</div>
