[%site_value id:'footer_javascript'%]
	<script language="javascript" type="text/javascript">
		function goBack() {
			var f = document.disputeForm;
			f['step'].value = 'type';
			f.submit();
		}
		function cancalAction() {
			window.location.href='[%URL page:"account" type:"warranty"%][%/URL%]';
		}
		function selOrder(obj) {
			var sel = document.disputeForm['order'];
			if(sel && obj.selectedIndex > 0) {
				sel.value = obj.options[obj.selectedIndex].value;
			}
		}
	</script>
[%/site_value%]
<div class="col-xs-12">
	<ul class="breadcrumb">
		<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
		<li><a href="[%URL page:'account'%][%/URL%]">${customer.breadcrumb_name}</a></li>
		<li><a href="#">${customer.warranty.breadcrumb}</a></li>
	</ul>
	<div class="page-header">
		<h1>${customer.warranty.select_dispute_reason.title}</h1>
		<h2>${customer.warranty.select_dispute_reason.subtitle}</h2>
	</div>
	[%if [@error@]%]
		<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>[@error@]</div>
	[%/if%]
	<form name="disputeForm" action="[%URL page:'account' type:'warranty' fn:'create'/%]" method="post">
		<input type="hidden" name="step" value="order">
		<input type="hidden" name="type" value="[%NOHTML%][@type@][%/NOHTML%]">
		[%dispute_reasons type:'[@type@]'%]
			[%PARAM header%]
			<div class="row">
			[%/PARAM%]
			[%PARAM *body%]
				<div class="col-xs-12 col-md-6">
					<div class="well">
						<div class="radio">
							<label for="[@dispute_reason_id@]">
								<h4><input type="radio" name="reason" value="[@dispute_reason_id@]" id="[@dispute_reason_id@]"  [%DATA id:'reason' if:'eq' value:'[@dispute_reason_id@]'%]checked[%/DATA%] > [@dispute_reason@]</h4>
								<p>[@description@]</p>
							</label>
						</div>
					</div>
				</div>
			[%/PARAM%]
			[%PARAM *footer%]
			</div>
			[%/PARAM%]
		[%/dispute_reasons%]
		<hr>
		<h3>${customer.warranty.select_dispute_reason.order_id_heading}</h3>
		<div class="row btn-stack">
			<div class="col-xs-12 col-md-4">
				<input type="text" name="order" class="hidden" value="[@order@]" size="15"/>
				[%thumb_list type:'orders' limit:'30'%]
					[%param header%]
						<select class="form-control" onchange="selOrder(this)">
						<option value="">${customer.warranty.select_dispute_reason.select_recent_order_option}</option>
					[%/param%]
					[%param *body%]
						<option value="[@order_id@]">[@order_id@] [%if [@customer_po@]%] (${customer.warranty.select_dispute_reason.customer_po} [@customer_po@])[%/if%]</option>
					[%/param%]
					[%param *footer%]
						</select>
					[%/param%]
					[%param *ifempty%]
						<div class="alert alert-danger"> ${customer.warranty.select_dispute_reason.orders_empty} </div>
					[%/param%]
				[%/thumb_list%]
			</div>
			<div class="col-xs-12 col-md-5">
				<a class="btn btn-block btn-default" href="[%url page:account/%]" target="_blank">${customer.warranty.select_dispute_reason.view_btn}</a>
			</div>
		</div>
		<hr>
		<div class="row btn-stack">
			<div class="col-xs-12 col-md-3">
				<button name="button" type="button" onClick="cancalAction()" class="btn btn-block btn-danger" value="${customer.warranty.select_dispute_reason.cancel_btn}"> <i class="fa fa-remove icon-white"></i> Cancel </button>
			</div>
			<div class="col-xs-12 col-md-3 col-md-offset-3">
				<button name="button" type="button" onClick="goBack()" class="btn btn-default btn-block" value="Go Back"><i class="fa fa-chevron-left"></i> ${customer.warranty.select_dispute_reason.back_btn} </button>
			</div>
			<div class="col-xs-12 col-md-3">
				<button type="submit" class="btn btn-success btn-block" >${customer.warranty.select_dispute_reason.continue_btn} <i class="fa fa-chevron-right icon-white"></i></button>
			</div>
		</div>
	</form>
</div>
