<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%/ URL%]">My Account</a></li>
		<li class="breadcrumb-item"><a href="#">Resolution Centre</a></li>
		</ol>
	</nav>
	<h1>Resolution Centre - Warranty, Payment, and Return Disputes</h1>
	<p>Need to return an item, make a warranty claim or have been over charged for an order? Please open a dispute so that we can resolve your problem as quickly as possible.</p>
	<p>Most disputes can be resolved through communication and it's best to contact us as soon as you recognise a potential problem. Once lodged you can also track the progress of your dispute online at any time. </p>
	<p>
		<a class="btn btn-success" href="[%URL page:'account' type:'warranty' fn:'create'%][%/ URL%]"><i class="fa fa-plus icon-white"></i> Open A New Dispute</a>
	</p>

	<hr />
	<h3><i class="fa fa-folder-open"></i> Open Disputes</h3>
	<br />
	[%thumb_list type:'disputes' limit:'5'%]
	[%param filter_1%][%FORM id:'dispute'%][%/ FORM%][%/ param%]
	[%param filter_2%][%FORM id:'dstatus'%][%/ FORM%][%/ param%]
	[%param header%]
	<p>Below is list of all open disputes and their current status. To see past or closed disputes use the "show" filter below.</p>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Dispute# / Status</th>
				<th>Date</th>
				<th>Type</th>
				<th>Reason</th>
				<th>Order ID</th>
				<th>Filed On / Replied On</th>
			</tr>
		</thead>
		[%/ param%]
		[%param *body%]
		<tr>
			<td><a href="[%URL page:'account' type:'warranty' id:'[@dispute_id@]'%][%/ URL%]">[@dispute_id@]</a> [@dispute_status@]
				[%DATA id:'response_repuired' if:'=' value:'1'%]
				<p class="text-danger">Response Required</p>
				[%/ DATA%]
			</td>
			<td>
				[%format type:"date" default:"-" format:"#d #k #Y"%][@date_disputed@]
				[%/ format%]
			</td>
			<td>[@dispute_type@]</td>
			<td>[@dispute_reason@]</td>
			<td><a href="[%URL page:'account' type:'view_order' id:'[@order_id@]'%][%/ URL%]">[@order_id@]</a></td>
			<td>
				[%format type:'date' default:'-' format:'#d #k #Y'%][@date_filed@]
				[%/ format%]/
				[%format type:'date' default:'-' format:'#d #k #Y'%][@company_reply@]
				[%/ format%]
			</td>
		</tr>
		[%/ param%]
		[%param *footer%]
	</table>
	<nav aria-label="Orders page navigation">
		<ul class="pagination justify-content-center mt-3">
			[%paging limit:'3'%]
			[%param *previous_page%]<li class="page-item"><a class="page-link" href="[@URL@]" aria-label="Go back one page">Previous Page</a></li>[%/ param%]
			[%param *goback_pages%]<li class="page-item"><a class="page-link" href="[@URL@]" aria-label="Go to page [@PAGE@]">[@PAGE@]</a></li>[%/ param%]
			[%param *current_page%]<li class="page-item active"><a class="page-link" href="[@URL@]" aria-label="Current page">[@PAGE@]</a></li>[%/ param%]
			[%param *gonext_pages%]<li class="page-item"><a class="page-link" href="[@URL@]" aria-label="Go to page [@PAGE@]">[@PAGE@]</a></li>[%/ param%]
			[%param *next_page%]<li class="page-item"><a class="page-link" href="[@URL@]" aria-label="Go forward one page">Next Page</a></li>[%/ param%]
			[%/ paging%]
		</ul>
	</nav>
	[%/ param%]
	[%param ifempty%]<div class="alert alert-danger" role="alert"><a class="close" data-dismiss="alert">×</a> No disputes have been raised on this account. </div>[%/ param%]
	[%/ thumb_list%]
</div>
