
<div class="col-xs-12">
<!--# Start Breadcrumb# ##-->
<ul class="breadcrumb" role="navigation" aria-label="${general.breadcrumb}">
<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">${customer.breadcrumb_name}</a></li>
<li><a href="#">${customer.warranty.breadcrumb}</a></li>
</ul>
<!--# End Breadcrumb# ##-->


<h1>${customer.warranty.template.title}</h1>
${customer.warranty.template.subtitle}
<p>
<a class="btn btn-success" href="[%URL page:'account' type:'warranty' fn:'create'%][%END URL%]"><i class="fa fa-plus icon-white"></i> ${customer.warranty.template.new_dispute_btn}</a>
</p>

<hr />
<h3><i class="fa fa-folder-open"></i> ${customer.warranty.template.open_dispute_heading}</h3>
<br />

<!--##[%thumb_list type:'disputes' limit:'5'%]##-->
<!--##[%PARAM filter_1%][%FORM id:'dispute'%][%END FORM%][%END PARAM%]##-->
<!--##[%PARAM filter_2%][%FORM id:'dstatus'%][%END FORM%][%END PARAM%]##-->
<!--##[%PARAM header%]##-->

<p>${customer.warranty.template.open_dispute_paragraph}</p>

<table class="table table-striped table-bordered table-condensed">
<thead>
	<tr>
		<th>${customer.warranty.template.dispute_status_heading}</th>
		<th>${customer.warranty.template.date_heading}</th>
		<th>${customer.warranty.template.type_heading}</th>
		<th>${customer.warranty.template.reason_heading}</th>
		<th>${customer.warranty.template.order_id_heading}</th>
		<th>${customer.warranty.template.filter_replied_heading}</th>
	</tr>
    </thead>
<!--##[%END PARAM%]##-->
<!--##[%PARAM *body%]##-->
<tr>
	<td><a href="[%URL page:'account' type:'warranty' id:'[@dispute_id@]'%][%END URL%]">[@dispute_id@]</a> [@dispute_status@]
<!--##[%DATA id:'response_repuired' if:'=' value:'1'%]##-->
<p class="text-danger">${customer.warranty.template.response_repuired}</p>
<!--##[%END DATA%]##--></td>
	<td><!--##[%format type:"date" default:"-" format:"#d #k #Y"%]##-->[@date_disputed@]<!--##[%END format%]##--></td>
	<td>[@dispute_type@]</td>
	<td>[@dispute_reason@]</td>
	<td><a href="[%URL page:'account' type:'view_order' id:'[@order_id@]'%][%END URL%]">[@order_id@]</a></td>
	<td><!--##[%format type:'date' default:'-' format:'#d #k #Y'%]##-->[@date_filed@]<!--##[%END format%]##--> / <!--##[%format type:'date' default:'-' format:'#d #k #Y'%]##-->[@company_reply@]<!--##[%END format%]##--></td>

</tr>
<!--##[%END PARAM%]##-->
<!--##[%PARAM *footer%]##-->
</table>

<!--#Start Pagination# ##-->
<div class="text-center">
<ul class="pagination">
<!--##[%paging limit:'3'%]
[%PARAM *previous_page%]##--><li><a href="[@URL@]">Previous Page</a></li><!--##[%END PARAM%]
[%PARAM *goback_pages%]##--><li><a href="[@URL@]">[@PAGE@]</a></li><!--##[%END PARAM%]
[%PARAM *current_page%]##--><li class="active"><a href="[@URL@]">[@PAGE@]</a></li><!--##[%END PARAM%]
[%PARAM *gonext_pages%]##--><li><a href="[@URL@]">[@PAGE@]</a></li><!--##[%END PARAM%]
[%PARAM *next_page%]##--><li><a href="[@URL@]">Next Page</a></li><!--##[%END PARAM%]
[%END paging%]##-->
</ul>
</div>
<!--#End Pagination# ##-->


              <!--##[%END PARAM%]##-->
              <!--##[%PARAM ifempty%]##-->
<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a> ${customer.warranty.template.disputes_empty} </div>
              <!--##[%END PARAM%]##-->
              <!--##[%END thumb_list%]##-->
</div>
