<script language="javascript" type="text/javascript">
	function closeDispute() {
		var f = document.disputeForm;
		if(f && confirm('You are about to close this dispute.\nDo you wish to continue?')) {
			f['closedispute'].value = 'y';
			f.submit();
		}
	}
	function sendMessage() {
		var f = document.disputeForm;
		if(f) {
			f['closedispute'].value = '';
			f.submit();
		}
	}
</script>
<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'/%]">My Account</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account' type:'warranty'/%]">Resolution Centre</a></li>
		</ol>
	</nav>
	<div class="page-header"><h1>Resolution Centre - Warranty, Payment &amp; Return Disputes</h1></div>
	[%if [@error@]%]<div class="alert alert-danger" role="alert"><a class="close" data-dismiss="alert">×</a>[@error@]</div>[%/if%]
	<form name="disputeForm" action="[%URL page:'account' type:'warranty'/%]" method="post">
		<input type="hidden" name="id" value="[@dispute_id@]">
		<input type="hidden" name="action" value="proc">
		<input type="hidden" name="closedispute" value="">
		[%show_dispute id:'[@dispute_id@]'%]
			[%param *header%]
			<div class="row">
				<div class="[%if [@total_items@] > '0'%]col-md-6[%else%]col-md-12[%/if%]">
					<h4>Dispute Details</h4>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th colspan="2">Dispute #[@dispute_id@]</th>
							</tr>
						</thead>
						[%show_order id:'[@order_id@]'%]
							[%param *header%]
								<tr>
									<th>Order #</th>
									<td><a href="[%URL page:'account' type:'view_order' id:'[@order_id@]'%][%/URL%]">[@order_id@]</a></td>
								</tr>
								[%if [@customer_po@]%]
									<tr>
										<th>PO#</th>
										<td>[%nohtml%][@customer_po@][%/nohtml%]</td>
									</tr>
								[%/if%]
								<tr>
									<th>Shipped To</th>
									<td>[%nohtml%][@bill_first_name@] [@bill_last_name@][%/nohtml%]</td>
								</tr>
								<tr>
									<th>Date Placed</th>
									<td>[%format type:"date"%][@date_placed@][%/format%]</td>
								</tr>
								<tr>
									<th>Order Status</th>
									<td>[%nohtml%][@order_status@][%/nohtml%]</td>
								</tr>
							[%/param%]
						[%/show_order%]
						<tr>
							<th>Dispute #</th>
							<td>[@dispute_id@]</td>
						</tr>
						<tr>
							<th>Dispute Type</th>
							<td>[@dispute_type@]</td>
						</tr>
						<tr>
							<th>Dispute Reason</th>
							<td>[@dispute_reason@]</td>
						</tr>
						<tr>
							<th>Dispute Status</th>
							<td>[@dispute_status@]</td>
						[%if [@response_repuired@] eq '1'%]
							<span class="tiny red">(Response Required)</span>
						[%/if%]
						</tr>
						<tr>
							<th>Disputed On</th>
							<td>[%format type:"date"%][@date_disputed@][%/format%]</td>
						</tr>
						[%if [@dispute_filed@]%]
							<tr>
								<th>Filed On</th>
								<td>[%format type:"date" default:'-'%][@date_filed@][%/format%]</td>
							</tr>
						[%/if%]
						<tr>
							<th>Contact Email</th>
							<td>[%nohtml%][@email@][%/nohtml%]</td>
						</tr>
						<tr>
							<th>Contact Phone</th>
							<td>[%nohtml%][@phone@][%/nohtml%]</td>
						</tr>
					</table>
				</div>
				[%if [@total_items@] > '0'%]
				<div class="col-md-6">
					<h4>Products on this dispute:</h4>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Qty</th>
								<th>Item</th>
							</tr>
						</thead>
				[%/if%]
			[%/param%]
			[%param *body%]
				<tr >
					<td nowrap>[@qty@]</td>
					<td>
						<a href="[%url type:'item' id:'[@SKU@]'%][%/url%]"><img width="50" height="50" src="[%asset_url type:'item' id:'[@SKU@]' thumb:'thumb'%][%/asset_url%]"></a>
						<a href="[%url type:'item' id:'[@SKU@]'%][%/url%]">[@model@] <i>[@extra@]</i></a>
					</td>
				</tr>
			[%/param%]
			[%param *footer%]
				[%if [@total_items@] > '0'%]
						</table>
					</div>
				[%/if%]
			</div>
			[%dispute_messages id:'[@dispute_id@]'%][%param *header%]
			<div class="card">
				<div class="card-header">
				<h3 class="card-title">Message History</h3>
				</div>
				<div class="list-group list-group-flush">
			[%/param%][%param *body%]
				<div class="list-group-item [%if [@from_name@] eq [@config:company_name@]%]list-group-item-warning[%/if%]">
					<span class="badge badge-info">[%format type:"date" format:'#d #k #Y (#H:#I)'%][@date_sent@][%/format%]</span>
					<p class="small">[%format type:'text' case:'title'%][@from_name@][%/format%]</p>
					<p class="list-group-item-text">[@message@]</p>
				</div>
			[%/param%][%param *footer%]
					[%if ![@dispute_closed@]%]
						<div class="card-footer">
							<div class="row">
								<div class="col-sm-9  col-md-10">
									<textarea name="message" class="form-control" rows="1">[%nohtml%][@message@][%/nohtml%]</textarea>
								</div>
								<div class="col-sm-3 col-md-2">
									<button type="button" class="btn btn-block btn-success float-right" onclick="sendMessage()"> <i class="fa fa-envelope icon-white"></i> Send</button>
								</div>
							</div>
						</div>
					[%/if%]
				</div>
			</div>
			[%/param%][%/dispute_messages%]
			[%if ![@dispute_closed@]%]
				<div class="row">
					<div class="col-md-3 offset-md-9">
						<button type="button" class="btn btn-lg btn-danger btn-block" onclick="closeDispute()"><i class="fas fa-times icon-white"></i> Close This Dispute </button>
					</div>
				</div>
			[%/if%]
			[%/param%]
		[%/show_dispute%]
	</form>
</div>
