<div class="col-xs-12">

<ul class="breadcrumb" role="navigation" aria-label="${general.breadcrumb}">
<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">${customer.breadcrumb_name}</a></li>
<li><a href="[%URL page:'account' type:'documents'%][%END URL%]">${customer.documents.breadcrumb_name}</a></li>
</ul>

<div class="page-header">
<h1>${customer.documents.title}</h1>
</div>


<!--##[%customer_filelist id:'[@username@]'%]
[%PARAM *header%]##-->
<table class="table table-bordered table-striped">
<thead>
    <tr>
      <th>${customer.documents.file_heading}</th>
      <th>${customer.documents.download_heading}</th>
    </tr>
</thead>
<tbody>
<!--##[%END PARAM%]
[%PARAM *body%]##-->
	<tr>
	<td nowrap>[@filename@]</td>
	<td nowrap><a href="[@uri@]"><button type="button" class="btn btn-default" title="${customer.documents.download_btn}"><i class="fa fa-folder-open"></i> ${customer.documents.download_btn}</button></a></td>
 </tr>
<!--##[%END PARAM%]
[%PARAM *footer%]##-->
</tbody>
</table>
<!--##[%END PARAM%]
[%PARAM *ifempty%]##-->
${customer.documents.documents_empty}
<!--##[%END PARAM%]
[%END customer_filelist%]##-->

</div>
