[%show_message severity:'msg' type:'discount'%]
	[%param *body%]<div class="alert alert-success"><a class="close" data-dismiss="alert">x</a>[@info_msg@]</div>[%/ param%]
[%/ show_message%]
[%show_message severity:'error' type:'discount'%]
	[%param *body%]<div class="alert alert-danger"><a class="close" data-dismiss="alert">x</a>[@info_msg@]</div>[%/ param%]
[%/ show_message%]
[%show_message severity:'warn' type:'discount'%]
	[%param *body%]<div class="alert alert-warning"><a class="close" data-dismiss="alert">x</a>[@info_msg@]</div>[%/ param%]
[%/ show_message%]

<div class="card card-body mb-2">
	<h4>Apply Coupon / Promo Code</h4>
	<br />
	<div class="form-group">
	<input class="form-control" type="text" name="addcpn" id="addcpn"/>
	</div>
	<button type="button" class="btn btn-default btn-block" id="_cpy_add_coupon">Apply Coupon Code</button>
	[%active_coupons%]
		[%param header%]
		<table class="table">
		<tr><th colspan="4">Active Discounts</th></tr>
		[%/ param%]
		[%param *body%]
		<tr><td>[@code@]</td><td>[@title@]</td>
		<td nowrap="nowrap">[%format type:'currency'%][@discount@][%/ format%]</td>	<td align="center"><a class="_cpy_remove_coupon close" ref="[@code@]" href="javascript:void(0);">&times;</a></td>
		</tr>
		[%/ param%]
		[%param footer%]
		</table>
		[%/ param%]
	[%/ active_coupons%]
</div>

[%cart_vouchers%]
	[%param header%]
	<div class="card card-body mb-2">
	<h4>Rewards Earned</h4>
	<table cellpadding="4" cellspacing="0" width="100%" border="0">
	[%/ param%]
	[%param *body%]
		<tr><td valign="top" width="90%"><strong>[@vprogram_title@]</strong><br />
		[@vprogram_subtitle@]</td>
		<td valign="top" nowrap="nowrap">
	[%DATA id:'show_points' if:'==' value:'1'%][%param if_true%]
		[%format type:'number' dp:'0' sp:','%][@reward_points@][%/ format%]pts
	[%/ param%][%param if_false%]
		[%format type:'currency'%][@reward_amount@][%/ format%]
	[%/ param%][%/ DATA%]
		</td></tr>
	[%/ param%]
	[%param footer%]
	</table>
	</div>
	[%/ param%]
[%/ cart_vouchers%]

[%cart_addresses ship_mode:'[@ship_mode@]'%][%param *body%]
[%cart_items ship_mode:'[@ship_mode@]' addr_id:'[@addr_id@]'%]
[%param header%]
<table class="table table-bordered table-striped">
	<thead>
	<tr>
	 	 <th colspan="3">Order Summary -
[%NOHTML%][@ship_title@][%/ NOHTML%]
<small>[%NOHTML%][%TRIM%][@ship_state@] [@ship_zip@][%/ TRIM%][%/ NOHTML%]</small>
	</th>
	</tr>
	</thead>
<tbody>
	[%/ param%]
	[%param *body%]
	<tr>
	<td valign="top" width="1%" nowrap>[@qty@]</td>
	<td>[@model@] <i>[@extra@]</i>
	[%DATA id:'has_components' if:'==' value:'1'%]
	[%CART_ITEM_COMPONENTS counter:'[@counter@]'%]
		[%param header%]<ul>[%/ param%]
		[%param *body%]<li>[@qty@] x [@model@]</li>[%/ param%]
		[%param footer%]</ul>[%/ param%]
	[%/ CART_ITEM_COMPONENTS%]
	[%/ DATA%]
	 </td>
	<td width="11%" align="right" valign="top" nowrap="nowrap">[%format type:'currency'%][@subtotal@][%/ format%]</td>
	</tr>
	[%/ param%]
	[%param *footer%]
	<tr><td nowrap="nowrap" colspan="2"> <strong>Order Subtotal</strong></td>
	<td align="right"><strong>
		[%format type:'currency'%][@product_total@][%/ format%]</strong></td></tr>
		[%DATA id:'shipping_quote' if:'=' value:'0' %]
			<tr><td nowrap="nowrap" colspan="2"><strong>Total Shipping </strong> </td>
			<td align="right"><strong>
			<span id="rcpt_shipping">
			[%format type:'currency'%]
				[@shipping_total@]
			[%/ format%]</span></strong></td></tr>
		[%/ DATA%]
		[%DATA id:'discount_total' if:'>' value:'0' %]
			<tr><td colspan="2"><strong>Total Discount</strong></td>
			<td align="right"><strong>-[%format type:'currency'%][@discount_total@][%/ format%]</strong></td></tr>
		[%/ DATA%]
		[%DATA id:'surcharge_total' if:'>' value:'0' %]
			<tr><td colspan="2" nowrap="nowrap"><strong>Surcharge</strong> (
			[%format type:'percent' dc:'2'%][@surcharge_percent@][%/ format%])</td>
			<td align="right"><strong>[%format type:'currency'%][@surcharge_total@][%/ format%]</strong></td></tr>
		[%/ DATA%]
		[%DATA id:'notax' if:'=' value:'0' %]
			<tr><td colspan="2"><strong>[%if [@config:PRIMARY_TAX_LABEL@]%][@config:PRIMARY_TAX_LABEL@][%else%]GST[%/if%]
			[%DATA id:'tax_inc' if:'=' value:'1' %]
				Inc.
			[%/ DATA%]</strong></td>
		<td align="right"><strong>
		<span id="rcpt_gst">[%format type:'currency'%][@tax_total@][%/ format%]</span></strong></td></tr>
		[%/ DATA%]
		<tr><td colspan="2" nowrap><span class="_order_total"><strong>Order Total</strong></span></td>
		<td align="right"><span class="_order_total"><strong>
		<span id="rcpt_order_total">[%format type:'currency'%][@grand_total@][%/ format%]</span></strong></span></td>
		</tr>
</tbody>
</table>
[%/ param%]
[%/ cart_items%]
[%/ param%]
[%/ cart_addresses%]
<a class="btn btn-default btn-block" href="[%url page:'checkout'%][%/ url%]" title="Edit Order" rel="no-follow"><i class="fa fa-pencil-alt"></i> Edit Order</a>

<input id="new_grand_total" type="hidden" value="[%CART id:'grand_total'%][%/ CART%]"/>
