[%show_message severity:'error' type:'voucher'%]
	[%param *body%]
		<div class="alert alert-danger"><a class="close" data-dismiss="alert">x</a>[@info_msg@]</div>
	[%/param%]
[%/show_message%]
<div class="card panel panel-default">
	<div class="card-header panel-heading" role="tab">
		<h4 class="panel-title mb-0">
		<a data-toggle="collapse" href="#voucherAccordion" aria-expanded="true" aria-controls="voucherAccordion">
			Redeem a Gift Voucher
		</a>
		</h4>
	</div>
	<div id="voucherAccordion" class="panel-collapse collapse" role="tabpanel">
		<div class="card-body panel-body">
			<label>Voucher Code</label>
			<input class="form-control" type="text" name="addvoucher" id="addvoucher" size="35" />
			<label>Secret Code</label>
			<input class="form-control" type="text" id="_cpy_vsecret_mask" size="35" />
			<input type="hidden" name="vsecret" id="vsecret" />
			<hr>
			<input type="button" class="btn btn-primary btn-block" id="_cpy_redeem_voucher" value="Redeem Voucher">
		</div>
	</div>
</div>
<table class="_cpy_credit_table table table-bordered">
	<tr>
		<td class="header" colspan="3"><b>The Following Credit Is Available On Your Account:</b></td>
	</tr>
	<tr>
		<td width="80%" nowrap>Description</td>
		<td nowrap>Balance Available</td>
		<td nowrap>Apply Credit To This Order</td>
	</tr>
	[%active_vouchers%]
		[%param *body%]
			<tr>
				<td width="90%">
					<strong>[@vprogram_title@]</strong><br>
					[%if [@vprogram_subtitle@]%][@vprogram_subtitle@]<br>[%/if%]
					<span class="small">([@voucher_code@])</span>
				</td>
			<td nowrap>
				<a class="_cpy_crapplyall" ref="[@count@]" href="javascript:void(0);">[%format type:'currency'%][@reward_amount@][%/format%]</a>[%if [@voucher_once@] eq 'y'%]*[%/if%]
				[%if [@show_points@]%]
					([%format type:'number' dp:'0' sp:','%][@reward_points@][%/format%] pts)
				[%/if%]
			</td>
			<td nowrap>
				<input type="hidden"  placeholder="[@config:currency_symbol@]" name="vapplyid[@count@]" id="vapplyid[@count@]" value="[@voucher_id@]"/>
				<input type="text" class="form-control" value="[@apply_amount@]" name="vcredit[@count@]" id="vcredit[@count@]" size="8"/>
				<input type="hidden" id="_cpy_vhbalance[@count@]" name="_cpy_vhbalance[@count@]" value="[@voucher_balance@]"/>
			</td>
		</tr>
		[%if [@voucher_once@] eq 'y'%]
			<tr>
				<td colspan="3">
					<p class="small"><strong>NOTE:</strong> This voucher can only be used once. Any unused credit will not be available for future use.</p>
				</td>
			</tr>
		[%/if%]
	[%/param%]
[%/active_vouchers%]
[%if [@user:credit@] > '0'%]
	<tr>
		<td><strong>Account Credit</strong></td>
		<td nowrap><a class="_cpy_crapplyall" ref="cr" href="javascript:void(0);">[%format type:'currency'%][@user:credit@][%/format%]</a></td>
		<td nowrap><input placeholder="[@config:currency_symbol@]" type="text" class="form-control" name="apply_credit" id="apply_credit" size="8"/><input type="hidden" id="_cpy_crbalance" value="[%USER id:'credit'%][%/USER%]"/></td>
	</tr>
[%/if%]
</table>
