<div class="col-12">
	<!-- Start Breadcrumb -->
	<ul class="breadcrumb" aria-label="Breadcrumb">
		<li><a href="[@config:home_url@]">Home</a></li>
		<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
	</ul>
	<!-- End Breadcrumb -->
	<div class="page-header"><h1>Password Reset Confirmation</h1></div>
	<p>If we find an account registered for [%ESCAPE%][@EMAIL@][%/ESCAPE%], instructions have been sent to this email address.</p>
	<p><a href="[%URL page:'account' type:'login'%][%END URL%]" class="btn btn-success btn-large">Continue To Login</a></p>
</div>
