<div class="col-xs-12">
<!--# Start Breadcrumb# ##-->
<ul class="breadcrumb">
<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">${customer.breadcrumb_name}</a></li>
</ul>
<!--# End Breadcrumb# ##-->
<div class="page-header">
<h1> ${customer.forgotpwd.done.title}</h1>
</div>
<p>${customer.forgotpwd.done.paragraph_one}</p>
<p>${customer.forgotpwd.done.paragraph_two}</p>
<p><a href="[%URL page:'account' type:'login'%][%END URL%]" class="btn btn-success btn-large">${customer.forgotpwd.done.contine_btn}</a></p>
</div>
