<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
	</ol>
</nav>
	<div class="page-header"><h1> Forgot Password? </h1></div>
	[%DATA id:'error' if:'ne' value:''%]<div class="alert alert-error"> <a class="close" data-dismiss="alert">×</a> [@error@] </div>[%/ DATA%]
	<form method="post" action="[%URL page:'account' type:'forgotpwd'%][%END URL%]">
		<input type="hidden" name="fn" value="proc" />
		<div class="row">
			<div class="col-12 col-md-4"> <br>
				<p> Please enter your e-mail address and we will send you a new password by e-mail. </p>
			</div>
			<div class="col-12 col-md-4">
				<label for="email">Email Address</label>
				<input class="form-control" id="email" name="email" size="30" value="" />
			</div>
			<div class="col-12 col-md-4">
				<div class="form-actions"> <br>
					<button type="submit" class="btn btn-lg btn-block btn-success" name="login"/>
					<i class="fa fa-envelope"></i> Send Me A New Password</div>
			</div>
		</div>
	</form>
</div>
