<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%/ URL%]">My account</a></li>
		<li class="breadcrumb-item"><a href="#">Edit your address book</a></li>
		</ol>
	</nav>
	<div class="page-header"><h1>Add or Edit Address Book Entry</h1></div>
	[%TRIM inner:'1'%]
	[%param body%]
		[%show_message name:"update_error"%]
		[%param header%]<div class="errorbox alert alert-danger" role="alert"><ul class="mb-0">[%/ param%]
		[%param *body%]<li></li>[%/ param%]
		[%param footer%]</ul></div>[%/ param%]
		[%/ show_message%]
	[%/ param%]
	[%/ TRIM%]

	[%TRIM inner:'1'%]
	[%param body%]
		[%show_message name:"edit_msg"%]
		[%param header%]<div class="successbox alert alert-success" role="alert"><ul class="mb-0">[%/ param%]
		[%param *body%]<li>
			[%DATA id:'msg' if:'eq' value:'updated' %]Your address '[@ship_title@]' has been updated.[%/ DATA%]
			[%DATA id:'msg' if:'eq' value:'deleted' %]Your address '[@ship_title@]' has been deleted.[%/ DATA%]
			[%DATA id:'msg' if:'eq' value:'created' %]Your address '[@ship_title@]' has been created.[%/ DATA%]
		</li>[%/ param%]
		[%param footer%]</ul></div>[%/ param%]
		[%/ show_message%]
	[%/ param%]
	[%/ TRIM%]
	<p class="help-block">You can use the Address Book tool to create and save multipleship-to addresses. You can then choose your appropriate address for each order you place at checkout.</p>
	<form class="card card-body mb-3" method="POST" name="shipping" action="[%URL page:'account' type:'edit_address'%][%/ URL%]">
		<label class="lead">Add a new address or edit an existing address</label>
		<select class="form-control input-lg" type="text" name="addr_id" id="addr_id">
			<option value="">Add or Edit</option>
			<option value="n">Add New Entry</option>
			[%address_book%]
			[%param *body%]
			[%DATA id:'id' if:'ne' value:'b'%]
			<option value="[@id@]" [%FORM id:'addr_id' if:'eq' value:'[@id@]'%]selected[%/ FORM%]>[@ship_title@] ([@ship_zip@])</option>
			[%/ DATA%]
			[%/ param%]
			[%/ address_book%]
		</select>
	</form>
	<form method="POST" name="itemForm" action="[%URL page:'account' type:'edit_address'%][%/ URL%]">
		<input name="update" type="hidden" value="update">
		<input type="hidden" name="addr_id" value="[@id@]">
		<h2>Address Details</h2>
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label for="ship_title">Address title </label><span class="text-danger">*</span>
					<span class="small text-muted">(eg: Work address)</span>
					<input class="form-control" type="text" name="ship_title" id="ship_title" size="50" maxlength="50" value="[@ship_title@]">
				</div>
				<div class="form-group">
					<label for="ship_first_name">First name</label><span class="text-danger">*</span>
					<input class="form-control" type="text" name="ship_first_name" id="ship_first_name" size="50" maxlength="50" value="[@ship_first_name@]">
				</div>
				<div class="form-group">
					<label for="ship_last_name">Last name</label><span class="text-danger">*</span>
					<input class="form-control" type="text" name="ship_last_name" id="ship_last_name" size="50" maxlength="50" value="[@ship_last_name@]">
				</div>
				<div class="form-group">
					<label for="ship_company">Company</label>
					<input class="form-control" type="text" name="ship_company" id="ship_company" size="50" maxlength="50" value="[@ship_company@]">
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label for="ship_street1">Address</label><span class="text-danger">*</span>
					<input class="form-control" type="text" name="ship_street1" id="ship_street1" size="50" maxlength="50" value="[@ship_street1@]"><br>
					<input class="form-control" type="text" name="ship_street2" id="ship_street2" size="50" maxlength="50" value="[@ship_street2@]">
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="ship_zip">[%if [@config:defaultcountry@] eq 'US'%]Zip [%else%]Postal [%/if%] code</label><span class="text-danger">*</span>
							<input class="form-control" type="text" name="ship_zip" id="ship_zip" value="[@ship_zip@]" size="50" maxlength="10">
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="ship_zip">Suburb/City</label><span class="text-danger">*</span>
							<div id="suburb_diship">&nbsp;</div>
							<div style="display:none;" id="suburb_mgship">&nbsp;</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="ship_city">City</label><span class="text-danger">*</span>
							<input class="form-control" type="text" name="ship_city" id="ship_city" readonly value="[@ship_city@]" size="50" maxlength="50">
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="ship_city">State</label><span class="text-danger">*</span>
							<input class="form-control" type="text" name="ship_state" id="ship_state" readonly value="[@ship_state@]" size="50" maxlength="50">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="ship_city">Country</label><span class="text-danger">*</span>
					<select class="form-control" name="ship_country" id="ship_country">
						[%countries%]
						[%param *body%]<option value="[@country_code@]" [%DATA id:'country_code' if:'eq' value:'[@ship_country@]'%]selected[%/ DATA%]>[@country_name@]</option>[%/ param%]
						[%/ countries%]
					</select>
				</div>
				<div class="form-group">
					<label for="ship_phone">Phone number</label><span class="text-danger">*</span>
					<input class="form-control" type="text" name="ship_phone" id="ship_phone" size="50" maxlength="50" value="[@ship_phone@]">
				</div>
				<div class="form-group">
					<label for="ship_phone">Save as my default address</label>
					<input name="defaddr" type="checkbox" value="1"  [%USER id:'addr_id' if:'==' value:'[@id@]'%]checked[%/ USER%]>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-2">
				<input type="button" name="delete" class="btn btn-danger btn-lg btn-block" value="Delete Address" id="delete_button">
			</div>
			<div class="col-12 col-md-2 offset-md-8">
				<input type="button" name="submit" class="btn btn-success btn-lg btn-block" value="Save Address" id="save_button">
			</div>
		</div>
	</form>
</div>
[%SITE_VALUE id:'footer_javascript'%]
<script language="javascript" type="text/javascript">
	var editAddress = {
		vars:{
			loadingMsg: 'Loading...',
			cityStateMsg : 'Please enter your city and state below.',
			postalCodeMsg : 'Please enter your postal code above.',
			errorMsg : 'Error. Please contact our customer support: [@config:COMPANY_EMAIL@]',
			selectSuburbMsg : '-- Select Suburb/City --',
			invalidPostalCodeMsg : 'Invalid [%if [@config:defaultcountry@] eq 'US'%]Zip [%else%]Postal [%/if%] Code.',
			confirmDeleteMsg : 'Do you want to delete this address book entry?'
		},
		sub_ldsel: function(oid,data) {
			var f = document.itemForm;
			var dis = document.getElementById('suburb_di'+oid);
			var msg = document.getElementById('suburb_mg'+oid);

			var city = f[oid+'_city'];
			var state = f[oid+'_state'];

			var count = 0;
			if(data.length > 0) {
				var option = '<option value="">'+editAddress.vars.selectSuburbMsg+'</option>';
				var sel_value = city.value.toUpperCase()+' - '+state.value;
				for(var i=0; i<data.length; i++) {
					if(data[i] != '') {
						option += '<option value="'+data[i]+'"'+(data[i] == sel_value? ' selected':'')+'>'+data[i]+'</option>';
						count++;
					}
				}
			}
			if(count <= 0) {
				msg.innerHTML = '<span class="text-danger">'+editAddress.vars.invalidPostalCodeMsg+'</span>';
				dis.style.display = 'none';
				msg.style.display = '';
			} else {
				dis.innerHTML = '<select class="form-control" id="suburb_sl'+oid+'">'+option+'</select>';
				msg.style.display = 'none';
				dis.style.display = '';

				$('#suburb_sl'+oid).off('change');
				$('#suburb_sl'+oid).on('change', function(){
					editAddress.sub_sel(oid);
				});
				editAddress.sub_sel(oid);
			}
		},
		sub_sel: function(oid) {
			var f = document.itemForm;
			var sel = document.getElementById('suburb_sl'+oid);
			var city = f[oid+'_city'];
			var state = f[oid+'_state'];
			if(sel) {
				if(sel.selectedIndex > 0) {
					var sp = sel.options[sel.selectedIndex].value.split(' - ');
					if( sp.length > 1 ) {
						state.value = sp[sp.length-1];
						city.value = (sp.slice(0,sp.length-1)).join(' - ');
					}
				}
			}
		}
	};
	// Used by main functionalty so is required to be outside of editAddress object
	function updloca(oid) {
		var f = document.itemForm;
		var msg = document.getElementById('suburb_mg'+oid);
		var dis = document.getElementById('suburb_di'+oid);
		var sel = document.getElementById('suburb_sl'+oid);

		var zip = f[oid+'_zip'];
		var city = f[oid+'_city'];
		var state = f[oid+'_state'];
		var country = f[oid+'_country'];

		msg.innerHTML = '<i>'+editAddress.vars.loadingMsg+'</i>'
		msg.style.display = '';
		dis.style.display = 'none';

		if(country.options[country.selectedIndex] == null){
			theCountry = 'AU'
		} else {
			theCountry = country.options[country.selectedIndex].value
		}

		if(theCountry != '[@config:SELECTORCOUNTRY@]') {
			msg.innerHTML = '<i>'+editAddress.vars.cityStateMsg+'</i>';
			city.readOnly = state.readOnly = false;
			city.style.color = state.style.color = '#000000';
		} else {
			city.readOnly = state.readOnly = true;
			city.style.color = state.style.color = '#666666';
			if( zip.value == '' ) {
				msg.innerHTML = '<i>'+editAddress.vars.postalCodeMsg+'</i>';
			} else {
				$.get('/do/get_locate?zip=' + escape(zip.value), function (data, textStatus) {
					if (textStatus === 'success') {
						var suburbArray = data.split("\n");
						editAddress.sub_ldsel(oid, suburbArray);
					} else {
						msg.innerHTML = '<i>'+editAddress.vars.errorMsg+'</i>';
					}
				});
			}
		}
	}
	// Events
	$(document).ready(function() {
		$.addressbook_select();
		updloca('ship');
	});
	$('#ship_country').on('change', function(){
		updloca('ship');
	});
	$('#ship_zip').on('change keyup', function(){
		updloca('ship');
	});
	$('#delete_button').on('click', $.del_addressbook_entry);
	$('#save_button').on('click', $.add_addressbook_entry)
</script>
[%/ SITE_VALUE%]
