<!--#Start Column Left# ##-->
<!--##[%load_template file:"column_left/customer.template.html"%][%END load_template%]##-->
<!--# End Column Left# ##-->



<h1>Account password changed</h1>

<p>Your password has been changed and a confirmation email has been sent to [@EMAIL@].</p>

<p>
<a href="[%URL page:'account'%][%END URL%]">Continue to my account home page</a>
</p>
<p>
<a href="[@config:homeurl@]">Continue to [@config:company_name@] home page</a>
</p>

<!--#Start Column Right# ##-->
<!--##[%load_template file:"column_right/customer.template.html"%][%END load_template%]##-->
<!--# End Column Right# ##-->
