<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
<!-- Meta Data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="[%url_info name:'meta_keywords'%][%END url_info%]" />
<meta name="description" content="[%url_info name:'meta_description'%][%END url_info%]" />

[$GOOGLE_VERIFICATION$]

<title>[%url_info name:'page_title'%][%END url_info%]</title>
<link rel="canonical" href="[$CANONICAL_URL$]" />

<!--Favicon -->
<link rel="shortcut icon" href="[$homeurl$]/assets/favicon_logo.png" />

<!-- Theme Style Sheets -->
<link class="theme-selector" rel="stylesheet" type="text/css" href="[%NTHEME_ASSET%]css/bootstrap.min.css[%END NTHEME_ASSET%]" media="all" />
<link class="theme-selector" rel="stylesheet" type="text/css" href="[%NTHEME_ASSET%]css/grid.css[%END NTHEME_ASSET%]" media="all" />
<link class="theme-selector" rel="stylesheet" type="text/css" href="[%NTHEME_ASSET%]css/font-awesome.min.css[%END NTHEME_ASSET%]" media="all" />
<link rel="stylesheet" type="text/css" href="[%NTHEME_ASSET%]css/override.css[%END NTHEME_ASSET%]" media="all" />
<link rel="stylesheet" type="text/css" href="[%NTHEME_ASSET%]css/style.css[%END NTHEME_ASSET%]" media="all" />
<link rel="stylesheet" type="text/css" href="[%NTHEME_ASSET%]css/user-override.css[%END NTHEME_ASSET%]" media="all" />

<!-- Plugin Style Sheets -->
<link rel="stylesheet" type="text/css" href="[%NTHEME_ASSET%]plugins/fancybox/jquery.fancybox-1.3.4.css[%END NTHEME_ASSET%]" media="all" />
<link rel="stylesheet" type="text/css" href="[%NTHEME_ASSET%]plugins/jquery_ui/css/custom-theme/jquery-ui-1.8.18.custom.css[%END NTHEME_ASSET%]">
<link rel="stylesheet" type="text/css" href="[%NTHEME_ASSET%]plugins/jcarousel/css/styles.css[%END NTHEME_ASSET%]" />

<!--##[%load_template file:"trackingcode/Declarations.html"%][%END load_template%]##-->
</head>

<body id="n_[$current_page_type$]">