<div class="col-12">
	<script language="javascript" type="text/javascript">
		function print_quote() {
			var win = window.open('[%URL page:"account" type:"print" fn:"invoice" id:"[@order_id@]"%][%END URL%]', 'print_invoice', 'width=740,height=400,scrollbars=yes,resizeable=yes');
		}
	</script>
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account' type:'approve_quote'%][%END URL%]">Approve Quotes</a></li>
		</ol>
	</nav>
	<h1>Approve Quote</h1>
	<div class="row">
		<div class="col-12">
			<input class="float-right btn btn-default" type="button" value="Print Quote" onClick="print_quote()">
			<form action="[%url page:'account' type:'approve_quote' id:'[@order_id@]' fn:'confirm'/%]" method="post">
				<input type="hidden" name="action" value="approve">
				<input type="hidden" name="order_email" value="[%escape%][@order_email@][%/escape%]">
				<button class="btn btn-success float-left" type="submit">Confirm &amp; Approve Quote</button>
			</form>
			<a class="btn btn-danger float-left ml-1" href="[%url page:'account' type:'approve_quote'/%]">Cancel</a>
		</div>
	</div>
	[%print_order id:'[@order_id@]'%][%/ print_order%]
</div>
