<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%/ URL%]">My Account</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account' type:'approve_quote'%][%/ URL%]">Approve Quotes</a></li>
		</ol>
	</nav>
	<h1>Dismiss Quote</h1>
	<p>Your quote [@order_id@] has been dismissed. No further action is required.</p>
</div>
