<div class="col-12">
	<h1 class="page-header">Your Review Has Been Posted!</h1>
	<p class="lead">
		Thank you for taking the time to write a review. Your review has been submitted and if it meets our content posting terms and conditions it will appear on our website shortly.
	</p>
	<p>
		<a class="btn btn-success btn-lg" href="[%URL type:'item' id:'[@SKU@]' /%]">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
			Back to [@model@]
		</a>
		<a class="btn btn-primary btn-lg" href="[%URL type:'home' /%]">
			<i class="fa fa-home" aria-hidden="true"></i>
			Home
		</a>
	</p>
</div>
