<script type="text/javascript">
function onload(){
	setTimeout('product_redirect()', 5000);
}
function product_redirect(){
	window.location = "[%URL type:'item' id:'[@SKU@]'%][%END URL%]";
}
</script>
<div class="col-xs-12">
	<h1 class="page-header">${customer.write_review.template.title}</h1>
	<p class="lead">
		${customer.write_review.template.subtitle}
	</p>
	<p>
		<a class="btn btn-success btn-lg" href="[%URL type:'item' id:'[@SKU@]'%][%END URL%]">${customer.write_review.template.back_btn} [@model@]</a> <a class="btn btn-default btn-lg"  href="[%URL type:'home'%][%END URL%]">${customer.write_review.template.home_btn}</a>
	</p>
</div>
