<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
		</ol>
	</nav>
	<div class="page-header"><h1>Password Changed</h1></div>
	<p>Your password has been changed, and a confirmation email has been sent to [@EMAIL@].</p>
	<p><a href="[%URL page:'account'%][%END URL%]">Continue To My Account Home Page</a><br /></p>
	<p><a href="[@config:home_url@]">Continue To [@config:company_name@] Home Page</a></p>
</div>
