<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
		<li class="breadcrumb-item"><a href="#">Change My Password</a></li>
		</ol>
	</nav>
	<div class="page-header"><h1>Change Account Password</h1></div>
	[%DATA id:'error' if:'ne' value:''%]
		<div class="alert alert-danger alert-dismissible fade show" role="alert">[@error@] <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	[%/ DATA%]
	<p>Please enter your current and new password below in order to change your password.</p>
	<form method="POST" action="[%URL page:'account' type:'edit_pwd'%][%END URL%]">
		<input type="hidden" name="fn" value="proc">
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="form-group">
					<label for="current_pass">Current Password:</label>
					<input class="form-control"  name="current_pass" id="current_pass" type="password" value="">
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="form-group">
					<label for="new_pass">New Password:</label>
					<input class="form-control"  name="new_pass" id="new_pass" type="password"  value="">
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="form-group">
					<label for="confirm_new_pass">Confirm New Password:</label>
					<input class="form-control"  name="confirm_new_pass" id="confirm_new_pass" type="password" value="">
				</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4 offset-md-8">
				<input type="submit" class="btn btn-block btn-lg btn-success" value="Change My Password"/>
			</div>
		</div>
	</form>
</div>
