<div class="" itemtype="http://schema.org/Article">
	<h4><a href="[@URL@]" itemprop="url">[@content_name@]</a></h4>
		<p class="text-muted">
			[%IF [@content_author@]%]
			Author: [@content_author@] &nbsp;
			[%END IF%]
			[%IF [@date_posted@] != 0000-00-00 00:00:00%]
			Date Posted: [%FORMAT type:'date'%][@date_posted@][%END FORMAT%]
			[%END IF%]
		</p>
	<p class="clearfix">[@content_short_description2@]</p>
	<p>
		[%IF [@content_allow_reviews@] and [@reviews@] > 0%]<a href="[@URL@]#comments">Comment</a> <span class="text-muted">([@reviews@])</span>[%END IF%]
		<div class="dropdown">
			<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				Share: <i class="fa fa-facebook-square text-facebook"></i>
				<i class="fa fa-twitter-square text-twitter"></i>
				<i class="fa fa-pinterest-square text-pinterest"></i>
				<i class="fa fa-google-plus-square text-google-plus"></i>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.facebook.com/sharer/sharer.php?u=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-facebook-square text-facebook"></i> Facebook</a></li>
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//twitter.com/intent/tweet/?text=[%url_encode%][@content_name@][%/url_encode%]&amp;url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-twitter-square text-twitter"></i> Twitter</a></li>
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//www.pinterest.com/pin/create/button/?url=[%url_encode%][@url@][%/url_encode%]&amp;description=[%url_encode%][@content_name@][%/url_encode%]"><i class="fa fa-pinterest-square text-pinterest"></i> Pinterest</a></li>
				<li role="presentation"><a class="js-social-share" role="menuitem" tabindex="-1" href="//plus.google.com/share?url=[%url_encode%][@url@][%/url_encode%]"><i class="fa fa-google-plus-square text-google-plus"></i> Google+</a></li>
			</ul>
		</div>
	</p>
	<hr/>
</div>
