<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%/ URL%]">My Account</a></li>
		</ol>
	</nav>
	<div class="page-header"><h1>My Stores</h1></div>
	[%if [@msg@]%]<div class="alert alert-dismissible fade show" role="alert">[@msg@]
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
	[%/ if%]
	[%if [@error@]%]<div class="alert alert-danger alert-dismissible fade show" role="alert">[@error@]
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
	[%/ if%]
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
		<tr>
			<th width="200px" nowrap>Store Name</th>
			<th>Address</th>
			<th width="50px">Status</b></th>
			<th width="80px">Date Updated</th>
			<th width="50px" nowrap>&nbsp;</th>
		</tr>
		[%thumb_list type:'storelocation' limit:10%]
			[%PARAM filter_1%][%USER id:'username'%][%/ USER%][%/ PARAM%]
			[%PARAM *body%]
			<tr>
				<td valign="top" nowrap><a href="[@url@]">[%NOHTML%][@stloc_name@][%/ NOHTML%]</a></td>
				<td valign="top" nowrap>
			[%NOHTML%][@stloc_street1@][%/ NOHTML%]
			[%DATA id:'stloc_street2' if:'ne' value:''%]<br />[%NOHTML%][@stloc_street2@][%/ NOHTML%][%/ DATA%]
			<br />[%NOHTML%][@stloc_city@][%/ NOHTML%]
			<br />[%NOHTML%][@stloc_state@], [@stloc_zip@], [@stloc_country@][%/ NOHTML%]
				</td>
				<td valign="top" nowrap>
			[%DATA id:'active' if:'eq' value:'y'%]
			[%PARAM if_true%]Active[%/ PARAM%]
			[%PARAM if_false%]Inactive[%/ PARAM%]
			[%/ DATA%]
			</td>
				<td valign="top" nowrap>
			[%FORMAT type:'date' format:'#d #k #Y (#H:#I)' default:'-'%][@date_updated@][%/ FORMAT%]
			</td>
				<td valign="top" nowrap><a href="[%URL page:'account' type:'mystore' fn:'edit' id:'[@stloc_id@]'%][%/ URL%]"><button type="button" class="btn btn-outline-secondary" title="Edit">Edit Store</button></a></td>
			 </tr>
			[%/ PARAM%]
			[%PARAM *ifempty%]
			<tr>
				<td colspan="5" align="center">
					<a href="[%URL page:'account' type:'mystore' fn:'create'%][%/ URL%]"><button type="button" class="btn btn-success" title="Add">Add Store</button></a>
				</td>
			</tr>
			[%/ PARAM%]
		[%/ thumb_list%]
	</table>
</div>
