<script language="javascript" type="text/javascript">
function print_invoice() {
	var win = window.open('[%URL page:"account" type:"print" fn:"invoice" id:"[@order_id@]"%][%END URL%]', 'print_invoice', 'width=740,height=400,scrollbars=yes,resizeable=yes');
}
</script>

<div class="col-xs-12">

	<!--# Start Breadcrumb# ##-->
	<ul class="breadcrumb">
		<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
		<li><a href="[%URL page:'account'%][%END URL%]">${customer.breadcrumb_name}</a></li>
	</ul>
	<!--# End Breadcrumb# ##-->

	<!--##[%show_order id:'[@order_id@]'%][%PARAM *header%]##-->
	<div class="page-header">
		<h1>${customer.nr_track_order.order.title} #<!--##[%NOHTML%]##-->[@order_id@]<!--##[%END NOHTML%]##--></h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6"> <strong>${customer.nr_track_order.order.order_status}</strong> <span class="label label-success">[@order_status@]</span>
			<h4><!--##[%NOHTML%]##-->${customer.nr_track_order.order.order_num} #[@order_id@]<!--##[%END NOHTML%]##--></h4>
			<!--##[%DATA id:'customer_po' if:'ne' value:''%]##-->
			<h4>${customer.nr_track_order.order.po_num} <!--##[%NOHTML%]##-->[@customer_po@]<!--##[%END NOHTML%]##--></h4>
			<!--##[%END DATA%]##-->
			<h5>${customer.nr_track_order.order.date_placed} <!--##[%format type:"date" format:"#D/#M/#Y"%]##-->[@date_placed@]<!--##[%END format%]##--></h5>
			<!--##[%DATA id:'if_invoiced' if:'=' value:'1'%]##-->
			<h5>${customer.nr_track_order.order.date_invoiced} <!--##[%format type:"date" format:"#D/#M/#Y"%]##-->[@date_invoiced@]<!--##[%END format%]##--></h5>
			<!--##[%END DATA%]##-->
			<!--##[%DATA id:'order_status' if:'like' value:'Completed'%]##-->
			<h5>${customer.nr_track_order.order.date_completed} <!--##[%format type:"date" format:"#D/#M/#Y"%]##-->[@date_updated@]<!--##[%END format%]##--></h5>
			<!--##[%END DATA%]##-->
		</div>
		<div class="col-xs-12 col-md-6">
			<h4>${customer.nr_track_order.order.ship_to_heading}</h4>
			<!--##[%NOHTML%]##-->
			[@ship_first_name@] [@ship_last_name@]
			<!--##[%END NOHTML%]##-->
			<br />
			<!--##[%DATA id:'ship_company' if:'ne' value:''%]##-->
			<!--##[%NOHTML%]##-->
			[@ship_company@]
			<!--##[%END NOHTML%]##-->
			<br />
			<!--##[%END DATA%]##-->
			<!--##[%NOHTML%]##-->
			[@ship_street1@]
			<!--##[%END NOHTML%]##-->
			<br />
			<!--##[%DATA id:'ship_street2' if:'ne' value:''%]##-->
			<!--##[%NOHTML%]##-->
			[@ship_street2@]
			<!--##[%END NOHTML%]##-->
			<br />
			<!--##[%END DATA%]##-->
			<!--##[%NOHTML%]##-->
			[@ship_city@], [@ship_state_name@] [@ship_zip@]
			<!--##[%END NOHTML%]##-->
			<br />
			<!--##[%NOHTML%]##-->
			[@ship_country_name@]
			<!--##[%END NOHTML%]##-->
			<br />
			${customer.nr_track_order.order.tel}
			<!--##[%NOHTML%]##-->
			[@ship_phone@]
			<!--##[%END NOHTML%]##-->
		</div>
	</div>
	<hr />
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>${customer.nr_track_order.order.description_heading}</th>
				<th>${customer.nr_track_order.order.shipping_heading}</th>
			</tr>
		</thead>
		<tbody>
			<!--##[%END PARAM%][%PARAM *body%]##-->
			<tr>
				<td><img border="0" src="[%asset_url type:'product' id:'[@SKU@]' thumb:'thumbL'%][%END asset_url%]" alt="[@model@]" width="50px"  height="50px"> &nbsp; [@qty@] x [@model@]<i>[@extra@]</i>
					<!--##[%DATA id:'aff_id' if:'eq' value:'[@config:AFF_RENTAL_ID@]' %]##-->&nbsp; <b>${customer.nr_track_order.order.aff_id_rental}</b><!--##[%END DATA%]##-->
					<!--##[%DATA id:'aff_id' if:'eq' value:'[@config:AFF_EBAY_ID@]' %]##-->&nbsp; <b>${customer.nr_track_order.order.aff_id_ebay} [@aff_ref@]</b><!--##[%END DATA%]##-->
					<!--##[%DATA id:'aff_id' if:'eq' value:'[@config:AFF_FREE_ID@]' %]##-->&nbsp; <b>${customer.nr_track_order.order.aff_id_free}</b><!--##[%END DATA%]##-->
					<!--##[%FORMAT type:'date' default:''%][%PARAM *format%]##--><br>
					<b>${customer.nr_track_order.order.deliver_on}</b> #D/#M/#Y (#G:#I#a)<!--##[%END PARAM%][@date_delivery@][%END FORMAT%]##--></td>
				<td><!--##[%DATA id:'ship_method' if:'ne' value:'' %]##--><span class="label label-default">[@ship_method@]</span><br />

					<!--##[%END DATA%]##-->
					<!--##[%DATA id:'ship_tracking' if:'ne' value:'' %]##-->
					${customer.nr_track_order.order.tracking_num}[@ship_tracking@]<br />

					<!--##[%END DATA%]##-->
					<!--##[%DATA id:'ship_tracking' if:'eq' value:'' %]##-->
					${customer.nr_track_order.order.no_tracking} <!--##[%END DATA%]##-->
					<!--##[%DATA id:'tracking_url' if:'ne' value:'' %]##-->
					<a href="[@tracking_url@]" target="_blank" class="btn btn-default btn-sm">${customer.nr_track_order.order.track_btn} <i class="fa fa-external-link"></i></a>
					<!--##[%END DATA%]##-->
					<!--##[%DATA id:'tracking_url' if:'eq' value:'' %]##-->
					&nbsp; <!--##[%END DATA%]##--></td>
			</tr>

			<!--##[%END PARAM%][%PARAM *footer%]##-->
		</tbody>
	</table>
	<!--##[%END PARAM%][%END show_order%]##-->

</div>
