<script language="javascript" type="text/javascript">
function print_invoice() {
	var win = window.open('[%URL page:"account" type:"print" fn:"invoice" id:"[@order_id@]"%][%END URL%]', 'print_invoice', 'width=740,height=400,scrollbars=yes,resizeable=yes');
}
</script>

<div class="col-xs-12">
	<!-- Start Breadcrumb -->
	<ul class="breadcrumb">
		<li><a href="[@config:home_url@]">Home</a></li>
		<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
	</ul>
	<!-- End Breadcrumb -->
	[%show_order id:'[@order_id@]'%]
		[%PARAM *header%]
			<div class="page-header">
				<h1>Track Order #[%NOHTML%][@order_id@][%END NOHTML%]</h1>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6"> <strong>Status:</strong> <span class="label label-success">[@order_status@]</span>
					<h4>[%NOHTML%]Order #[@order_id@][%/ NOHTML%]</h4>
					[%if [@customer_po@] ne ''%]
						<h4>PO # [%NOHTML%][@customer_po@][%END NOHTML%]</h4>
					[%/ if%]
					<h5>Date Placed: [%format type:"date" format:"#D/#M/#Y"%][@date_placed@][%/ format%]</h5>
					[%if [@if_invoiced@] eq 1%]
						<h5>Date Invoiced: [%format type:"date" format:"#D/#M/#Y"%][@date_invoiced@][%/ format%]</h5>
					[%/ if%]
					[%if [@order_status@] like 'Completed'%]
						<h5>Date Completed: [%format type:"date" format:"#D/#M/#Y"%][@date_updated@][%END format%]</h5>
					[%/ if%]
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Ship To:</h4>
					[%NOHTML%][@ship_first_name@] [@ship_last_name@][%/ NOHTML%]<br />
					[%if [@ship_company@] ne ''%]
						[%NOHTML%][@ship_company@][%/ NOHTML%]<br />
					[%/ if%]
					[%NOHTML%][@ship_street1@][%/ NOHTML%]<br />
					[%if [@ship_street2@] ne ''%]
						[%NOHTML%][@ship_street2@][%/ NOHTML%]<br />
					[%/ if%]
					[%NOHTML%][@ship_city@], [@ship_state_name@] [@ship_zip@][%/ NOHTML%]<br />
					[%NOHTML%][@ship_country_name@][%/ NOHTML%]<br />
					Tel:
					[%NOHTML%][@ship_phone@][%END NOHTML%]
				</div>
			</div>
			<hr />
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Description</th>
						<th>Shipping Details</th>
					</tr>
				</thead>
				<tbody>
		[%/ PARAM%]
		[%PARAM *body%]
			<tr>
				<td>
					<img border="0" src="[%asset_url type:'product' id:'[@SKU@]' thumb:'thumbL'%][%END asset_url%]" alt="[@model@]" width="50px"  height="50px"> &nbsp; [@qty@] x [@model@]<i>[@extra@]</i>
					[%if [@aff_id@]eq '[@config:AFF_RENTAL_ID@]' %]&nbsp; <b>Rental</b>[%/ if%]
					[%if [@aff_id@]eq '[@config:AFF_EBAY_ID@]' %]&nbsp; <b>EBay ID: [@aff_ref@]</b>[%/ if%]
					[%if [@aff_id@]eq '[@config:AFF_FREE_ID@]' %]&nbsp; <b>Free Gift</b>[%/ if%]
					[%FORMAT type:'date' default:''%][%PARAM *format%]<br>
					<b>Deliver On</b> #D/#M/#Y (#G:#I#a)[%END PARAM%][@date_delivery@][%END FORMAT%]
				</td>
				<td>
					[%if [@ship_method@] ne '' %]
						<span class="label label-default">[@ship_method@]</span><br />
					[%/ if%]
					[%if [@ship_tracking@] eq '' %]
						Tracking not yet available
					[%else%]
						Tracking #[@ship_tracking@]<br />
					[%/ if%]
					[%if [@tracking_url@] ne '' %]
						<a href="[@tracking_url@]" target="_blank" class="btn btn-default btn-sm">Track Online <i class="fa fa-external-link"></i></a>
					[%/ if%]
					[%if [@tracking_url@] eq '' %]&nbsp; [%/ if%]
				</td>
			</tr>
		[%/ PARAM%]
		[%PARAM *footer%]
			</tbody>
		</table>
		[%/ PARAM%]
	[%/ show_order%]
</div>
