<!--#Start Content# ##-->
<div class="col-xs-12">
		<!--##[%FORM id:'id' if:'ne' value:''%]##-->
	<div class="alert alert-danger"> <a class="close" data-dismiss="alert">×</a> ${customer.nr_track_order.template.alert} </div>
	<!--##[%END FORM%]##-->
	<div class="page-header">
		<h1>${customer.nr_track_order.template.title}</h1>
	</div>
	<p> ${customer.nr_track_order.template.paragraph} </p>
	<hr>
	<form  method="post" action="[%URL page:'account' type:'nr_track_order'%][%END URL%]">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<div class="form-group">
					<label>${customer.nr_track_order.template.email}</label>
					<span class="small text-danger"> *</span>
					<input class="form-control" type="text" name="email" value="[%nohtml%][@formemail@][%end nohtml%]" size="25">
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="form-group">
					<label>${customer.nr_track_order.template.id}</label>
					<span class="small text-danger"> *</span>
					<input class="form-control" type="text" name="id" value="" size="25">
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="form-group">
					<label>${customer.nr_track_order.template.zip}</label>
					<span class="small text-danger"> *</span>
					<input class="form-control" type="password" name="zip" value="" size="25">
				</div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="form-group">
					<label>&nbsp;</label>
					<input name="submit" class="btn btn-primary btn-block" type="submit"  value="${customer.nr_track_order.template.track_btn}">
				</div>
			</div>
		</div>
	</form>
</div>
<!--#End Content# ##-->
