<!DOCTYPE html>
<html lang="en">
<head>
	[%load_template file:'headers/includes/head.template.html'/%]
	<link class="theme-selector" rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/app.css[%/ntheme_asset%]" media="all"/>
	<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/style.css[%/ntheme_asset%]" media="all"/>
</head>
<body id="n_[@config:current_page_type@]" class="n_[@CONFIG:TEMPLATELANG@]">
<header class="container wrapper-header">
	<div class="row row-padded">
		<div class="col-xs-12 col-sm-4 wrapper-logo">
			<a href="[@config:homeurl@]" title="[@config:company_name@]">
				<img class="logo" src="[@config:imageurl@]/website_logo.png" alt="[@config:company_name@]"/>
			</a>
		</div>
	</div>
</header>
<div id="main-content" class="container" role="main">
	<div class="row">
