<!-- Required Neto Scripts - DO NOT REMOVE -->
[%cdn_asset html:'1' type:'js' library:'jquery' version:'1.11.3'%]jquery.min.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'fancybox' version:'2.1.5'%]jquery.fancybox.pack.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'bootstrap' version:'3.2.0'%]bootstrap.min.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'jquery_ui' version:'1.11.1'%]js/jquery-ui-1.8.18.custom.min.js[%/cdn_asset%]
[%NETO_JS html:'1' id:'main' /%]
[%NETO_JS html:'1' id:'checkout' /%]
[%SITE_VALUE id:'footer_javascript' type:'load'/%]
</body>
</html>
