[%load_template file:'cms/includes/sidebar.template.html'/%]
	[%breadcrumb%]
		[%param *header%]
			<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
				</li>
				<li class="breadcrumb-item"><a href="[%url id:'95'/%]">Stockists</a></li>
		[%/param%]
		[%param *body%]
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
				</li>
		[%/param%]
		[%param *body_current%]
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">[@name@]</li>
		[%/param%]
		[%param *footer%]
			</ol>
			</nav>
		[%/param%]
	[%/breadcrumb%]
	<h1>[@stloc_name@]</h1>
	<hr>
	<section class="row" aria-label="Stockists">
		<div class="col-12 col-sm-8">
			<address>
				<p>
					[@stloc_street1@] [@stloc_street2@]<br>
					[@stloc_city@][%if [@stloc_state@] or [@stloc_zip@]%], [@stloc_state@] [@stloc_zip@][%/if%][%if [@stloc_country@]%], [@stloc_country@][%/if%]
				</p>
				<p>
					[%if [@stloc_phone@]%]<i class="fa fa-phone"></i> [@stloc_phone@]<br>[%/if%]
					[%if [@stloc_fax@]%]<i class="fa fa-fax"></i> [@stloc_fax@]<br>[%/if%]
					[%if [@stloc_email@]%]<i class="fa fa-envelope"></i> <a href="mailto:[@stloc_email@]">[@stloc_email@]</a><br>[%/if%]
				</p>
			</address>
			[%thumbnails id:'[@stloc_id@]' type:'storeloc'%]
				[%PARAM *body%]
					<img src="[@thumb_image@]" alt="[@stloc_name@]" />
				[%/PARAM%]
			[%/thumbnails%]
		</div>
		[%if [@stloc_lat@] and [@stloc_lng@]%]
			<div class="col-12 col-sm-4">
				<a href="https://www.google.com.au/maps/place/[%url_encode%][@stloc_street1@] [@stloc_street2@] [@stloc_city@] [@stloc_state@] [@stloc_zip@][%/url_encode%]/@[@stloc_lat@],[@stloc_lng@],15z">
					<img src="https://maps.googleapis.com/maps/api/staticmap?center=[@stloc_lat@],[@stloc_lng@]&zoom=20&size=400x400&markers=color:blue%7Clabel:%7C[@stloc_lat@],[@stloc_lng@][%if [@config:GOOGLE_GEO_API@]%]&key=[@config:GOOGLE_GEO_API@][%/if%]" class="img-fluid" alt="[%nohtml%][@stloc_name@] [@stloc_street1@] [@stloc_street2@], [@stloc_city@], [@stloc_state@] [@stloc_zip@], [@stloc_country@][%/nohtml%]" />
				</a>
			</div>
		[%/if%]
	</section>
</div>
