	</div>
</div>
<footer class="container pt-4 pb-5 pb-lg-2 mb-5 mb-lg-0 text-muted small">
	Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] [@config:company_name@].
	[%if [@config:show_platform_branding@] %]
		E-commerce software by <a href="https://www.netohq.com" target="_blank" rel="noopener">Neto</a> <br/>
	[%/if%]
	[%if [@config:company_abn@]%]<strong>[%if [@config:PRIMARY_ABN_LABEL@]%][@config:PRIMARY_ABN_LABEL@][%else%]ABN[%/if%]:</strong> [@config:company_abn@] [%/ if%]
	[%if [@config:company_poaddr@]%]<strong>Address:</strong> [@config:company_poaddr@][%/ if%]
</footer>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%load_template file:'footers/includes/scripts.template.html'/%]
</body>
</html>
