	</div>
</div>
<footer class="wrapper-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<hr aria-hidden="true" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<nav class="row" aria-label="Footer menu">
					[%menu id:'web_footer'%]
						[%param *level_1%]
							<div class="col-xs-12 col-sm-4">
								<h4>[@name@]</h4>
								<ul class="nav nav-pills nav-stacked">
									[@next_level@]
								</ul>
							</div>
						[%/param%]
						[%param *level_2%]
							<li><a href="[@url@]" role="link">[@name@]</a></li>
						[%/param%]
					[%/menu%]
				</nav>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h4>Stay In Touch</h4>
				[%if [@config:show_newsletter_subscribe@]%]
					<p>Subscribe to our newsletter:</p>
					<form method="post" action="[%URL type:'page' id:'subscribe' https:'1'%][%END URL%]" aria-label="Newsletter subscribe form">
						<input type="hidden" name="list_id" value="1">
						<input type="hidden" name="opt_in" value="y">
						<div class="input-group" role="group">
							<input name="inp-email" class="form-control" type="email" value="[%nohtml%][@inp-email@][%/nohtml%]" placeholder="Email Address" required aria-label="Email Address"/>
							<input name="inp-submit" type="hidden" value="y" />
							<input name="inp-opt_in" type="hidden" value="y" />
							<span class="input-group-btn">
								<input class="btn btn-default" type="submit" value="Subscribe" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"/>
							</span>
						</div>
					</form>
				[%/if%]
				<ul class="list-inline list-social" itemscope itemtype="http://schema.org/Organization" role="contentinfo" aria-label="Social media">
					<meta itemprop="url" content="[@config:home_url@]"/>
					<meta itemprop="logo" content="[@config:home_url@][@config:imageurl@]/website_logo.png"/>
					<meta itemprop="name" content="[@config:company_name@]"/>
					<li><a href="[%url type:'page' id:'contact_us'/%]" target="_blank" title="Email us" rel="noopener" aria-label="Email us"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
					[%if [@config:facebook_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:facebook_account_id@]" target="_blank" title="[@config:company_name@] on Facebook" rel="noopener"><i class="fa fa-facebook-square text-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
					[%/if%]
					[%if [@config:twitter_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:twitter_account_id@]" target="_blank" title="[@config:company_name@] on Twitter" rel="noopener"><i class="fa fa-twitter-square text-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li>
					[%/if%]
					[%if [@config:googleplus_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:googleplus_account_id@]" target="_blank" title="[@config:company_name@] on Google Plus" rel="noopener"><i class="fa fa-google-plus-square text-google-plus" aria-hidden="true"></i><span class="sr-only">Google Plus</span></a></li>
					[%/if%]
					[%if [@config:youtube_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:youtube_account_id@]" target="_blank" title="[@config:company_name@] on Youtube" rel="noopener"><i class="fa fa-youtube-square text-youtube" aria-hidden="true"></i><span class="sr-only">Youtube</span></a></li>
					[%/if%]
					[%if [@config:instagram_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:instagram_account_id@]" target="_blank" title="[@config:company_name@] on Instagram" rel="noopener"><i class="fa fa-instagram text-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a></li>
					[%/if%]
					[%if [@config:pinterest_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:pinterest_account_id@]" target="_blank" title="[@config:company_name@] on Pinterest" rel="noopener"><i class="fa fa-pinterest-square text-pinterest" aria-hidden="true"></i><span class="sr-only">Pinterest</span></a></li>
					[%/if%]
					[%if [@config:tumblr_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:tumblr_account_id@]" target="_blank" title="[@config:company_name@] on Tumblr" rel="noopener"><i class="fa fa-tumblr-square text-tumblr" aria-hidden="true"></i><span class="sr-only">Tumblr</span></a></li>
					[%/if%]
					[%if [@config:linkedin_account_id@]%]
					<li><a itemprop="sameAs" href="[@config:linkedin_account_id@]" target="_blank" title="[@config:company_name@] on Linkedin" rel="noopener"><i class="fa fa-linkedin-square text-linkedin" aria-hidden="true"></i><span class="sr-only">Linkedin</span></a></li>
					[%/if%]
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr aria-hidden="true"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9 hidden-xs">
				[%checkout_pay_icons show_icon:'1' ignore_balance:'1'%]
					[%param header%]
						<ul class="list-inline" role="contentinfo" aria-label="Accepted payment methods">
					[%/param%]
					[%param *body%]
							<li>
								<div class="payment-icon-container">
									<div class="payment-icon payment-icon-[%format type:'text' case:'lower' trim:'lra'%][@name@][%/format%]">
										<span class="sr-only">[@name@]</span>
									</div>
								</div>
							</li>
					[%/param%]
					[%param *footer%]
						</ul>
					[%/param%]
				[%/checkout_pay_icons%]
			</div>
			<div class="col-sm-3">
				<address role="contentinfo" aria-label="Company details">
					<strong>Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] [@config:company_name@]</strong><br>
					[%if [@config:company_abn@]%]<strong>[%if [@config:PRIMARY_ABN_LABEL@]%][@config:PRIMARY_ABN_LABEL@][%else%]ABN[%/if%]:</strong> [@config:company_abn@]<br>[%/ if%]
					[%if [@config:company_poaddr@]%]<strong>Address:</strong> [@config:company_poaddr@][%/ if%]
					[%if [@config:show_platform_branding@]%]<p class="small"><a href="http://www.neto.com.au" title="E-commerce Shopping Cart" target="_blank" rel="noopener">E-commerce Software</a> By Neto</p>[%/if%]
				</address>
			</div>
		</div>
	</div>
</footer>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%load_template file:'footers/includes/scripts.template.html'/%]
</body>
</html>
