	</div>
</div>
<footer class="wrapper-footer">
	<div class="container">
		<div class="row"><div class="col-12"><hr aria-hidden="true" /></div></div>
		<div class="row">
			<div class="col-12 col-md-8">
				<nav class="row" aria-label="Footer menu">
					[%cache type:'menu' id:'footer-content-menu' ttl:'86400'%]
						[%menu id:'web_footer'%]
							[%param *level_1%]
								<div class="col-12 col-md-4 text-md-left">
									<ul class="nav flex-column">
										<li class="nav-item"><h4 class="nav-link py-0">[@name@]</h4></li>
										[@next_level@]
									</ul>
								</div>
							[%/param%]
							[%param *level_2%]
								<li class="nav-item"><a href="[@url@]" class="nav-link">[@name@]</a></li>
							[%/param%]
						[%/menu%]
					[%/cache%]
				</nav>
			</div>
			<div class="col-12 col-md-4 text-md-left">
				<h4>Stay In Touch</h4>
				[%if [@config:show_newsletter_subscribe@]%]
					<p>Subscribe to our newsletter and we'll keep you up to date on our products and services.</p>
					<form method="post" action="[%URL type:'page' id:'subscribe' https:'1'%][%END URL%]" aria-label="Newsletter subscribe form">
						<input type="hidden" name="list_id" value="1">
						<input type="hidden" name="opt_in" value="y">
						<input type="hidden" name="inp-submit" value="y" />
						<input type="hidden" name="inp-opt_in" value="y" />
						<div class="input-group">
							<input name="inp-email" class="form-control" type="email" value="[%nohtml%][@inp-email@][%/nohtml%]" placeholder="Email Address" required aria-label="Email Address"/>
							<div class="input-group-append"><input class="btn btn-outline-secondary" type="submit" value="Subscribe" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"/></div>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="y" class="terms_box" required/>
								I have read and agree to
								<a href="#" data-toggle="modal" data-target="#termsModal">Terms &amp; Conditions</a> and
								<a href="#" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a>.
							</label>
						</div>
					</form>
				[%/if%]
				<ul class="nav list-social justify-content-center justify-content-md-start pt-2" itemscope itemtype="http://schema.org/Organization" role="contentinfo" aria-label="Social media">
					<meta itemprop="url" content="[@config:home_url@]"/>
					<meta itemprop="logo" content="[@config:home_url@][@config:imageurl@]/website_logo.png"/>
					<meta itemprop="name" content="[@config:company_name@]"/>
					<li class="nav-item px-1"><a href="[%url type:'page' id:'contact_us'/%]" target="_blank" title="Email us" rel="noopener" aria-label="Email us"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
					[%if [@config:facebook_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:facebook_account_id@]" target="_blank" title="[@config:company_name@] on Facebook" rel="noopener"><i class="fab fa-facebook text-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
					[%/if%]
					[%if [@config:twitter_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:twitter_account_id@]" target="_blank" title="[@config:company_name@] on Twitter" rel="noopener"><i class="fab fa-twitter text-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li>
					[%/if%]
					[%if [@config:googleplus_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:googleplus_account_id@]" target="_blank" title="[@config:company_name@] on Google Plus" rel="noopener"><i class="fab fa-google-plus text-google-plus" aria-hidden="true"></i><span class="sr-only">Google Plus</span></a></li>
					[%/if%]
					[%if [@config:youtube_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:youtube_account_id@]" target="_blank" title="[@config:company_name@] on Youtube" rel="noopener"><i class="fab fa-youtube text-youtube" aria-hidden="true"></i><span class="sr-only">Youtube</span></a></li>
					[%/if%]
					[%if [@config:instagram_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:instagram_account_id@]" target="_blank" title="[@config:company_name@] on Instagram" rel="noopener"><i class="fab fa-instagram text-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a></li>
					[%/if%]
					[%if [@config:pinterest_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:pinterest_account_id@]" target="_blank" title="[@config:company_name@] on Pinterest" rel="noopener"><i class="fab fa-pinterest text-pinterest" aria-hidden="true"></i><span class="sr-only">Pinterest</span></a></li>
					[%/if%]
					[%if [@config:tumblr_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:tumblr_account_id@]" target="_blank" title="[@config:company_name@] on Tumblr" rel="noopener"><i class="fab fa-tumblr text-tumblr" aria-hidden="true"></i><span class="sr-only">Tumblr</span></a></li>
					[%/if%]
					[%if [@config:linkedin_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:linkedin_account_id@]" target="_blank" title="[@config:company_name@] on Linkedin" rel="noopener"><i class="fab fa-linkedin-in text-linkedin" aria-hidden="true"></i><span class="sr-only">Linkedin</span></a></li>
					[%/if%]
				</ul>
			</div>
		</div>
		<div class="row"><div class="col-12"><hr aria-hidden="true"/></div></div>
		<div class="row">
			<div class="col-12 col-md-8 d-none d-sm-block">
				[%checkout_pay_icons show_icon:'1' ignore_balance:'1'%]
					[%param header%]
						<ul class="list-inline d-flex flex-wrap" role="contentinfo" aria-label="Accepted payment methods">
					[%/param%]
					[%param *body%]
							<li class="mr-1">
								<div class="payment-icon-container">
									<div class="payment-icon" style="background-image: url([@processor_icon_url@]); height: 30px;"><span class="sr-only">[@name@]</span></div>
								</div>
							</li>
					[%/param%]
					[%param *footer%]
						</ul>
					[%/param%]
				[%/checkout_pay_icons%]
			</div>
			<div class="col-12 col-md-4 text-md-left">
				<p class="small" data-test-id="address">
					<strong>Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%] [@config:company_name@].</strong>
					[%if [@config:show_platform_branding@]%]E-commerce software by <a href="https://www.netohq.com" target="_blank" rel="nofollow noopener">Neto</a>[%/if%]<br/>
					[%if [@config:company_abn@]%]<strong>[%if [@config:PRIMARY_ABN_LABEL@]%][@config:PRIMARY_ABN_LABEL@][%else%]ABN[%/if%]:</strong> [@config:company_abn@]<br>[%/ if%]
					[%if [@config:company_poaddr@]%]<strong>Address:</strong> [@config:company_poaddr@][%/ if%]
				</p>
			</div>
		</div>
	</div>
</footer>
<div class="modal fade" id="termsModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Terms &amp; Conditions</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">[%content_zone id:'terms'/%]</div>
			<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
		</div>
	</div>
</div>
<div class="modal fade" id="privacyModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Privacy Policy</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">[%show_content id:'2'%][%param *body%][@content_description1@][%/param%][%/show_content%]</div>
			<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
		</div>
	</div>
</div>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%load_template file:'footers/includes/scripts.template.html'/%]
</body>
</html>
