<div class="col-xs-12">

<ul class="breadcrumb" role="navigation" aria-label="${general.breadcrumb}">
<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">${customer.breadcrumb_name}</a></li>
<li><a href="[@URL@]">${customer.wishlist.template.breadcrumb}</a></li>
</ul>

<!--##[%DATA id:'error' if:'eq' value:'LIST_NOT_FOUND'%]##-->
<div class="alert alert-danger">
<a class="close" data-dismiss="alert">×</a>
${customer.wishlist.template.list_not_found}
</div>
<!--##[%END DATA%]##-->

<!--##[%DATA id:'msg' if:'eq' value:'LIST_DELETED'%]##-->
<div class="alert alert-success">
<a class="close" data-dismiss="alert">×</a>
${customer.wishlist.template.list_deleted}
</div>
<!--##[%END DATA%]##-->
<div class="page-header">
<h1>${customer.wishlist.template.title}</h1>
</div>

<!--##[%thumb_list limit:'10' type:'list_wishlists'%]##-->
<!--##[%PARAM pgnum%][%FORM id:'pgquote'%][%END FORM%][%END PARAM%]##-->
<!--##[%PARAM header%]##-->
<table class="table table-striped table-bordered table-condensed">
 <tr>
	<th><b>${customer.wishlist.template.list_name_heading}</b></th>
	<th class="hidden"><b>${customer.wishlist.template.status_heading}</b></th>
	<th class="hidden"><b>${customer.wishlist.template.remind_me_heading}</b></th>
	<th ><b>${customer.wishlist.template.created_heading}</b></th>
	<th class="hidden"><b>${customer.wishlist.template.expiry_heading}</b></th>
	<th >&nbsp;</th>
 </tr>
 <!--##[%END PARAM%]##-->
 <!--##[%PARAM *body%]##-->
 <tr>
	<td><a href="[%URL page:'account' type:'wishlist' fn:'view' id:'[@wishlist_id@]'%][%END URL%]">[@wishlist_name@]&nbsp;</a></td>
	<td class="hidden">
  <!--##[%DATA id:'wishlist_active' if:'eq' value:'y'%]
[%PARAM if_true%]##--><span class="label label-success">${customer.wishlist.template.wishlist_active_y}</span><!--##[%END PARAM%]
[%PARAM if_false%]##--><span class="label label-important">${customer.wishlist.template.wishlist_active_n}</span><!--##[%END PARAM%]
[%END DATA%]##--></td>
	<td class="hidden">
  <!--##[%DATA id:'reminder_inc_days' if:'>' value:'0'%]
[%PARAM if_true%]##-->[@reminder_inc_days@] ${customer.wishlist.template.reminder_inc_days}<!--##[%END PARAM%]
[%PARAM if_false%]##-->-<!--##[%END PARAM%]
[%END DATA%]##--></td>
	<td><!--##[%FORMAT type:'date' format:'#d #k #Y' default:'-'%]##-->[@date_created@]<!--##[%END FORMAT%]##--></td>
	<td class="hidden"><!--##[%FORMAT type:'date' format:'#d #k #Y' default:'-'%]##-->[@date_expiry@]<!--##[%END FORMAT%]##--></td>
	<td><a class="btn btn-block btn-danger" href="[%URL page:'account' type:'wishlist' id:'[@wishlist_id@]' qs:'proc=deletelist' %][%END URL%]"><i class="fa fa-trash-o icon-white"></i> ${customer.wishlist.template.delete_btn}</a></td>
 </tr>
 <!--##[%END PARAM%]##-->
 <!--##[%PARAM *footer%]##-->
</table>

<!--##[%END PARAM%]##-->
<!--##[%PARAM ifempty%]##-->
${customer.wishlist.template.wishlist_empty}
<!--##[%END PARAM%]##-->
<!--##[%END thumb_list%]##-->




<h4><i class="fa fa-plus"></i> ${customer.wishlist.template.add_new_list_heading}</h4>
<hr />

<form method="POST" action="[%URL page:'account' type:'wishlist'%][%END URL%]">
<div class="row">
<div class="col-xs-12 col-md-2">
<input type="hidden" name="proc" value="addlist"/>
<label>${customer.wishlist.template.list_name_heading}</label>
</div>
<div class="col-xs-12 col-md-3">
<input  class="form-control" type="input" name="wh_name" value=""/><br>
</div>
<div class="col-xs-12 col-md-3">
<input class="btn btn-block btn-success" type="submit" name="submit" value="${customer.wishlist.template.add_new_list_btn}" />
</div>
</div>
</form>

</div>
