<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%/ URL%]">My Account</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account' type:'wishlist'%][%/ URL%]">My Wishlists</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account' type:'wishlist' fn:'view' id:'[@wishlist_id@]'%][%/ URL%]">[%NOHTML%][@wishlist_name@][%/ NOHTML%]</a></li>
	</ol>
	</nav>
	<h1>Edit My Wish List</h1>
	<hr />
	[%DATA id:'msg' if:'eq' value:'LIST_UPDATED'%]<div class="alert alert-success" role="alert"> <a class="close" data-dismiss="alert">×</a> Wishlist has been updated. </div>[%/ DATA%]
	<form NAME="wishlist_update" method="POST" action="[%URL page:'account' type:'wishlist' fn:'view'%][%/ URL%]">
		<input type="hidden" name="id" value="[@wishlist_id@]" />
		<input type="hidden" name="proc" value="update" />
		<div class="card">
			<div class="card-header"><i class="fa fa-cog"></i> [%NOHTML%][@wishlist_name@][%/ NOHTML%] Settings </div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label>List Name</label>
							<span class="badge badge-info">Created on
							[%FORMAT type:'date' default:'' format:'#d #k #Y (#H:#I)'%][@date_created@][%/ FORMAT%].
							[%FORMAT type:'date' default:'' format:' Last reminder sent on #d #k #Y (#H:#I).'%][@date_reminder@][%/ FORMAT%]
							</span>
							<input class="form-control" type="text" name="wh_name" value="[%NOHTML%][@wishlist_name@][%/ NOHTML%]" maxlength="50" />
						</div>
					</div>
					<div class="col-12 col-md-6">
					<label>&nbsp;</label>
					<p><input type="submit" class="btn btn-success" name="submit" value="Save My List Settings" /></p>
					</div>
					<div class="col-12 col-md-6 d-none">
						<div class="form-group">
							<label>List Status</label>
							<select class="form-control" name="wh_active">
								<option value="y">Active</option>
								<option value="n" [%DATA id:'wishlist_active' if:'eq' value:'n'%]selected[%/ DATA%]>Inactive</option>
							</select>
						</div>
					</div>
					<div class="col-12 col-md-6 d-none">
						<label>Remind about this list every</label>
						<input class="form-control" type="text" name="wh_reminder_inc_days" value="[%DATA id:'reminder_inc_days' if:'>' value:'0'%][@reminder_inc_days@][%/ DATA%]" size="5" maxlength="5" />
						<label>day(s) until this list expire on:</label>
						<input type="text" class="form-control datepicker" id="wh_exp" name="wh_exp" value="[%FORMAT type:'date' default:'' format:'#d/#m/#Y'%][@date_expiry@][%/ FORMAT%]" />
					</div>
				</div>
			</div>
		</div>
	</form>
	<h4 class="mt-2"><i class="fa fa-folder-open"></i> [%NOHTML%][@wishlist_name@] Contents[%/ NOHTML%]</h4>
	<hr />
	[%thumb_list limit:'10000' type:'products' sortby:'wishlist' template:'clist' filter_wishlist:'[@wishlist_id@]'%]
		[%param pgnum%][%FORM id:'pgquote'%][%/ FORM%][%/ param%]
		[%param header%]<div class="row products-row">[%/ param%]
		[%param *footer%]</div>[%/ param%]
		[%param ifempty%]You have no items in this wishlist.[%/ param%]
	[%/ thumb_list%]
</div>
