<div class="row">
	<meta itemprop="brand" content="[@brand@]"/>
	<div class="wrapper-product-title col-sm-8">
		<h1 itemprop="name" aria-label="Product Name">
			[%url_info type:'product' id:'[@inventory_id@]' name:'page_heading' default:'[@name@]'/%]
		</h1>
		[%if [@subtitle@]%]
			<h3 class="text-muted" role="heading" aria-label="Product Subtitle">[@subtitle@]</h3>
		[%/if%]

		[%set [@review_sku@]%][%if [@parent_sku@]%][@parent_sku@][%else%][@sku@][%/if%][%/set%]
		[%load_ajax_template id:'_reviews' type:'item' template:'reviews' preload:'1' tmpl_sku:'[@review_sku@]' /%]

		<div class="dropdown">
			<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu[@sku@]" data-toggle="dropdown" aria-controls="shareDropdown[@sku@]" aria-label="Share product">
				Share: <i class="fab fa-facebook text-facebook" aria-hidden="true"></i>
				<i class="fab fa-twitter text-twitter" aria-hidden="true"></i>
				<i class="fab fa-pinterest text-pinterest" aria-hidden="true"></i>
				<i class="fab fa-google-plus text-google-plus" aria-hidden="true"></i>
				<span class="caret"></span>
			</button>
			<ul id="shareDropdown[@sku@]" class="dropdown-menu" aria-labelledby="dropdownMenu[@sku@]">
				<li><a class="dropdown-item js-social-share" href="//www.facebook.com/sharer/sharer.php?u=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-facebook text-facebook" aria-hidden="true"></i> Facebook</a></li>
				<li><a class="dropdown-item js-social-share" href="//twitter.com/intent/tweet/?text=[%url_encode%][@name@][%/url_encode%]&amp;url=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-twitter text-twitter" aria-hidden="true"></i> Twitter</a></li>
				<li><a class="dropdown-item js-social-share" href="//www.pinterest.com/pin/create/button/?url=[%url_encode%][@url@][%/url_encode%]&amp;media=[%url_encode%][@config:homeurl@][%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'/%][%/url_encode%]&amp;description=[%url_encode%][@name@][%/url_encode%]"><i class="fab fa-pinterest text-pinterest" aria-hidden="true"></i> Pinterest</a></li>
				<li><a class="dropdown-item js-social-share" href="//plus.google.com/share?url=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-google-plus text-google-plus" aria-hidden="true"></i> Google+</a></li>
			</ul>
		</div>
	</div>
	[%if ![@has_child@] || [@has_variation@]%]
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="wrapper-pricing col-sm-4">
			<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
			[%if ![@inpromo@]%]
				<div class="h1" itemprop="price" content="[@store_price@]" aria-label="Store Price">
					[%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
				</div>
				[%if [@save@] > 0%]
					<div class="productrrp text-muted small" aria-label="RRP Price">
						<s>RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]</s>
					</div>
					<div class="productsave small" aria-label="Save Price">
						SAVE [%format type:'currency'%][@save_price@][%/format%] ([%format type:'percent'%][@save@][%/format%])
					</div>
				[%/if%]
			[%else%]
				<div class="productwasprice h3" aria-label="Was price">
					WAS [%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
				</div>
				[%if [@save@] > 0%]
					<div class="productrrp text-muted small" aria-label="RRP Price">
						<s>RRP [%FORMAT type:'currency'%][@retail@][%/FORMAT%]</s>
					</div>
				[%/if%]
				<div class="productpromo h1" itemprop="price" content="[@promo_price@]" aria-label="Promo Price">
					NOW [%FORMAT type:'currency'%][@promo_price@][%/FORMAT%]
				</div>
				[%if [@save@] > 0%]
					<div class="productsave small" aria-label="Save Price">
						SAVE [%format type:'percent'%][@save@][%/format%]!
					</div>
				[%/if%]
				<div class="productsavetext text-danger font-weight-bold">
					Sale Ends in <span id="sale-end" class="time"></span>
				</div>
				<div class="time-text" itemprop="priceValidUntil" content="[%format type:'date' format:'#Y-#M-#d'%][@promo_end@][%END format%]">
					[%format type:'date' format:' #H:#I #a, #d #K #Y'%][@promo_end@][%/format%]
				</div>
			[%/if%]
			[%if [@form:disable_scripts@] ne 'true'%]
			[%tracking_code type:'BuyingOptions' /%]
			[%/if%]
			[%if [@store_quantity@] > 0 AND [@preorder@] %]
				<span itemprop="availability" content="http://schema.org/PreOrder" class="badge badge-warning">Pre-order - Released [%format type:'date'%][@arrival_date@][%/format%]</span>
			[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
				<span itemprop="availability" content="http://schema.org/InStock" class="badge badge-success">In Stock</span>
			[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
				<span itemprop="availability" content="http://schema.org/LimitedAvailability" class="badge badge-danger">Sold Out - Backorder Available</span>
			[%else%]
				<span itemprop="availability" content="http://schema.org/OutOfStock" class="badge badge-danger">Sold Out</span>
			[%/if%]
			[%if [@availability_description@]%]
				<div class="availability_description">
					[@availability_description@]
				</div>
			[%/if%]
		</div>
	[%/if%]
</div>
