<div class="main-image text-center">
	<a href="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%END asset_url%]" class=" fancybox" rel="product_images">
		<div class="zoom">
			<img src="[%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%END asset_url%]" class="d-none" aria-hidden="true">
			<img src="[%asset_url type:'product' id:'[@SKU@]' thumb:'thumbL' check_parent:'y'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%END asset_url%]" rel="itmimg[@SKU@]" alt="[@name@]" border="0" id="main-image" itemprop="image">
		</div>
	</a>
</div>
<br />
<div class="row">
[%THUMBNAILS id:'[@SKU@]' check_parent:'y'%]
	[%param *body%]
		<div class="col-6 col-md-3">
			<a href="[@full_image@]" class="fancybox" rel="product_images" title="Large View">
				<img src="[@thumb_image@]" border="0" class="img-fluid product-image-small" title="Large View">
			</a>
		</div>
	[%/ param%]
	[%param *brochure%]
		<div class="col-6 col-md-3">
			<a href="[@file@]" target="_blank" rel="noopener">
				<img src="[@config:imageurl@]/pdf_brochure.gif" alt="View PDF brochure for [%NOHTML%][@name@][%END NOHTML%]" width="45" height="45">
			</a>
		</div>
	[%/ param%]
[%/ THUMBNAILS%]
</div>
