<!--#Start Column Left# ##-->
<!--##[%load_template file:"column_left/customer.template.html"%][%END load_template%]##-->
<!--# End Column Left# ##-->


<ul id="breadcrumb">
<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">${customer.breadcrumb_name}</a></li>
<li><a href="[@URL@]">${customer.logos.template.breadcrumb_name}</a></li>
</ul>

<h1>${customer.logos.template.title}</h1>

${customer.logos.template.paragraph}

<!--#Start Column Right# ##-->
<!--##[%load_template file:"column_right/customer.template.html"%][%END load_template%]##-->
<!--# End Column Right# ##-->
