<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li><a href="[@config:home_url@]">Home</a></li>
		<li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
	</ol>
	</nav>
	<div class="page-header"><h1>Manage Logo</h1></div>
	<form enctype="multipart/form-data" method="POST" name="updatelogo" id="updatelogo" action="[%URL page:'account' type:'logos'%][%END URL%]">
		<input type="hidden" name="upld_logo_sku" value="COMPANY_LOGO">
		<input type="hidden" id="upld_logo_qty" name="upld_logo_qty" value="0">
		<div class="selcardpl"></div>
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="selcardpl"><img id="cusref1example" src="[@config:ASSETS_URL@]/na.gif" title="Example" /></div>
			</div>
			<div class="col-12 col-md-6 logo-block">
				<h3>Upload your logo file here</h3>
				<table cellpadding="0" cellspacing="2" border="0">
					<tr><td align="center">
						<img id="upld_logo_img" width="100px" src="[%asset_url type:'user' id:'[@username@]' default:'[@config:ASSETS_URL@]/na.gif'%][%END asset_url%]?[%RANDOM_NUMBER timestamp:'1'%][%END RANDOM_NUMBER%]" />
					</td></tr>
				</table>
				<div class="choose-file">
					<input type="file" name="upld_logo" id="upld_logo" /><br>
					<input class="upload_btn btn btn-success" type="button" value="Upload Logo" /><br />
					<p class="text-muted small">We accept GIF, JPG and PNG formats.<br />Maximum file size is 5MB.</p>
				</div>
			</div>
		</div>
	</form>
</div>
[%SITE_VALUE id:'footer_javascript'%]
<script type="text/javascript" language="javascript">
	$(document).ready(function() {
		$.extend({
			submit_form: function() {
				if ($('#upld_logo').val() == '') {
					$.nPopupBox('Please select your company logo.');
				} else {
					$('#updatelogo').trigger('submit');
				}
			}
		});
		$('.upload_btn').on('click', function(e){
			$.submit_form();
		});
		$('.card_btn').on('click', function(e){
			$('#updatecard').trigger('submit');
		});
	});
</script>
[%/SITE_VALUE%]
