[%load_template file:'cms/includes/sidebar.template.html'/%]
	[%if [@config:show_home_ads@]%]
		[%ADVERT type:'text' template:'carousel' limit:'10' ad_group:''%]
			[%PARAM *header%]
				<div id="myCarouselBanner" class="carousel slide">
					<ol class="carousel-indicators">
						[%SITE_VALUE id:'counter' type:'load'%][%END SITE_VALUE%]
					</ol>
					<div class="carousel-inner">
			[%END PARAM%]
			[%PARAM *footer%]
					</div>
					<a class="left carousel-control" href="#myCarouselBanner" data-slide="prev">
						<span class="fa fa-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#myCarouselBanner" data-slide="next">
						<span class="fa fa-chevron-right"></span>
					</a>
				</div>
			[%END PARAM%]
			[%PARAM *ifempty%]
				<a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=4">
					Click to add a banner<br/>
				</a>
			[%END PARAM%]
		[%END ADVERT%]
	[%/if%]
	<hr>
	<div id="homepage-content">[@page_content@]</div>
	[%if [@config:show_home_ads@]%]
		[%ADVERT type:'product' limit:'8' template:'' ad_group:''%]
			[%PARAM *header%]
				<hr />
				<div class="row">
			[%END PARAM%]
			[%PARAM footer%]
				</div>
			[%END PARAM%]
			[%PARAM *ifempty%]
				[%RANDOM_PRODUCTS category:'0' template:'' limit:'8'%]
					[%PARAM *header%]
						<hr />
						<div class="row">
					[%END PARAM%]
					[%PARAM *footer%]
						</div>
					[%END PARAM%]
				[%END RANDOM_PRODUCTS%]
			[%END PARAM%]
		[%END ADVERT%]
	[%/if%]
</div>
