[%SITE_VALUE id:'footer_javascript'%]
	<script src="//maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script type="text/javascript" language="javascript">
		$(document).ready(function() {
			$.storeLocator_Init({});
		});
	</script>
[%/SITE_VALUE%]
[%load_template file:'cms/includes/sidebar.template.html'/%]
	[%breadcrumb%]
		[%param *header%]
			<ul class="breadcrumb">
				<li><a href="[@config:home_url@]">Home</a></li>
		[%/param%]
		[%param *body%]
				<li><a href="[@url@]">[@name@]</a></li>
		[%/param%]
		[%param *body_current%]
				<li>[@name@]</li>
		[%/param%]
		[%param *footer%]
			</ul>
		[%/param%]
	[%/breadcrumb%]
	<h1>[@content_name@]</h1>
	<img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%/ASSET_URL%]" class="pull-right"/>
	<img src="[%ASSET_URL type:'content' thumb:'alt_1' id:'[@content_id@]' default:'[@config:imageurl@]/pixel.gif'%][%/ASSET_URL%]"  class="pull-right"/>
	<p>
		[@content_short_description1@]
		[@content_short_description2@]
		[@content_short_description3@]
	</p>
	<p>
		[@content_description1@]
		[@content_description2@]
		[@content_description3@]
	</p>
	<form>
		<div class="form-group">
			<label>Your Post Code or City</label>
			<input type="text" id="geo_zip" class="form-control" placeholder="4000" value=""/>
		</div>
		<div class="form-group">
			<label>Your Country</label>
			<select id="geo_country" class="form-control">
				[%countries%]
					[%PARAM *body%]
						<option value="[@country_code@]" [%if [@country_code@] eq 'AU'%]selected[%/if%]>[@country_name@]</option>
					[%/PARAM%]
				[%/countries%]
			</select>
		</div>
		<div class="form-group">
			<label>Show Stores/Stockists Within</label>
			<select id="geo_radius" class="form-control">
				<option value="1">1 Kilometers</option>
				<option value="2.5">2.5 Kilometers</option>
				<option value="5">5 Kilometers</option>
				<option value="15">15 Kilometers</option>
				<option value="25" selected>25 Kilometers</option>
				<option value="50">50 Kilometers</option>
				<option value="75">75 Kilometers</option>
				<option value="100">100 Kilometers</option>
				<option value="200">200 Kilometers</option>
			</select>
		</div>
		<div class="form-group">
			<button id="geo_search" class="btn btn-default" type="button">Find Stores </button>
		</div>
	</form>
	<table width="100%" cellpadding="0" cellspacing="0" border="0" id="map-table">
		<tr>
			<td id="geo_map_pl" valign="top" width="250px">
				<div id="geo_list"></div>
			</td>
			<td valign="top">
				<div id="geo_map"></div>
			</td>
		</tr>
	</table>
</div>
