<div id="_cpy_info_msgs">
<!--##[%show_message severity:'msg'%][%PARAM header%]##-->

<!--##[%END PARAM%][%PARAM *body%]##--><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>[@info_msg@]</div><!--##[%END PARAM%]##-->
<!--##[%PARAM footer%]##-->

<!--##[%END PARAM%][%END show_message%]##-->
<!--##[%show_message severity:'error'%][%PARAM header%]##-->

<!--##[%END PARAM%][%PARAM *body%]##--><div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>[@info_msg@]</div><!--##[%END PARAM%]##-->
<!--##[%PARAM footer%]##-->

<!--##[%END PARAM%][%END show_message%]##-->
<!--##[%show_message severity:'warn'%][%PARAM header%]##-->

<!--##[%END PARAM%][%PARAM *body%]##--><div class="alert alert-warning"><a class="close" data-dismiss="alert">×</a>[@info_msg@]</div><!--##[%END PARAM%]##-->
<!--##[%PARAM footer%]##-->

<!--##[%END PARAM%][%END show_message%]##-->
</div>
