<div class="col-xs-12"> 
	<!--##[%load_template file:"cart/cart.error.html"%][%END load_template%]##--> 
	<!--##[%UPSELL_PRODUCTS type:'cart_upsell' limit:'8' template:'' show_all:'1'%]
[%PARAM HEADER%]##-->
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>Before you checkout, we thought you might like these:</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-8"> <a href="[%URL page:'checkout' fn:'payment'%][%END URL%]" class="btn btn-success btn-lg btn-block" title="Continue To Checkout">Continue To Checkout <i class="fa fa-chevron-right icon-white"></i></a> </div>
	</div>
	<div class="row">
	<div class="col-xs-12">
	<hr>
	</div>
	</div>
	
		<div class="row"> 
			<!--##[%END PARAM%]
[%PARAM FOOTER%]##--> 
		</div>
	
	<!--##[%END PARAM%]
[%END UPSELL_PRODUCTS%]##-->
<div class="row">
	<div class="col-xs-12">
	<hr>
	</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-8"> <a href="[%URL page:'checkout' fn:'payment'%][%END URL%]" class="btn btn-success btn-lg btn-block" title="Continue To Checkout">Continue To Checkout <i class="fa fa-chevron-right icon-white"></i></a> </div>
	</div>
	<!--##[%GA_FUNNEL%]/purchase/upsell.html[%END GA_FUNNEL%]##--> 
</div>