<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%url page:'account'/%]">My Account</a></li>
		</ol>
	</nav>
	<div class="page-header">
		<h1>View Quote</h1>
	</div>
	<script language="javascript" type="text/javascript">
		function print_quote() {
			var win = window.open('[%url page:'account' type:'print' fn:'invoice' id:'[@order_id@]'/%]', 'print_invoice', 'width=740,height=400,scrollbars=yes,resizeable=yes');
		}
	</script>
	<div class="row">
		<div class="col-12">
			<input type="button" class="btn btn-outline-secondary float-left" value="Print Quote" onClick="print_quote()">&nbsp;
			[%if [@config:allow_quote_approval@]%]
				<a href="[%url page:'account' type:'approve_quote'/%]" class="btn btn-success float-right"><i class="fa fa-check icon-white"></i> Approve Quote</a>
			[%/if%]
		</div>
	</div>
	[%print_order id:'[@order_id@]'/%]
</div>
