<!--#Start Content# ##-->


<!--##[%FORM id:'id' if:'ne' value:''%]##-->
${customer.nr_view_order.template.id_empty}
<!--##[%END FORM%]##-->
<h1>${customer.nr_view_order.template.title}</h1>
<form  method="post" action="[%URL page:'account' type:'nr_view_order'%][%END URL%]">
<table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr>
<td width="1%" nowrap><div align="right"><b>${customer.nr_view_order.template.email}</b></div></td>
	<td nowrap="nowrap"><input type="text" name="email" value="[%nohtml%][@formemail@][%end nohtml%]" size="25"></td>
</tr>
<tr>
<td width="1%" nowrap><div align="right"><b>${customer.nr_view_order.template.id}</b></div></td>
	<td nowrap="nowrap"><input type="text" name="id" value="" size="25"></td>
</tr>
<tr>
<td width="1%" nowrap><div align="right"><b>${customer.nr_view_order.template.zip}</b></div></td>
	<td nowrap="nowrap"><input type="password" name="zip" value="" size="25"></td>
</tr>
<tr>
<td nowrap="nowrap">&nbsp;</td>
<td nowrap="nowrap"><input name="submit" type="submit"  value="${customer.nr_view_order.template.submit_btn}"></td>
</tr>
</table>
</form>

</div>
<!--#End Content# ##-->
