<div class="col-12">
	<h1 class="page-header">Your Comment Has Been Posted!</h1>
	<p class="lead">Thank you for taking the time to write a comment. Your comment has been submitted and if it meets our content posting terms and conditions it will appear on our website shortly.</p>
	<p>
		<a class="btn btn-success" href="[%URL type:'content' id:'[@form:item@]' /%]">
			<i class="fa fa-chevron-left" aria-hidden="true"></i> Back to content
		</a>
		<a class="btn btn-primary" href="[%URL type:'home' /%]">
			<i class="fa fa-home" aria-hidden="true"></i> Home
		</a>
	</p>
</div>
