<div sys-indicator="controlled-[@config:CONTROLLED_CHECKOUT_PATH@]-body">
<!--##[%3rdparty_payment_form processor_module:'[@processor_module@]'%][%PARAM header%]##-->
[%SITE_VALUE id:'footer_javascript'%]
[%EWAY_RAPID_PAYMENT%]
[%END EWAY_RAPID_PAYMENT%]
[%END SITE_VALUE%]
<div id="eway_message"></div>
<form method="POST" name="3ptyPaymentForm" action="[@processor_posturl@]">
    <!--##[%END PARAM%][%PARAM *body%]##-->
    <input type="hidden" name="[@cc_processor_accesscode@]" value="[@processor_accesscode@]" />
    <input type="hidden" name="[@cc_processor_type@]" value="Credit Card" />
    <div class="col-xs-12">
        <div class="form-group">
            <label>Card Number</label>
            <input class="form-control"  type="text" name="[@cc_card_number@]" maxlength="16" value="" />
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label>Card Holder's Name</label>
            <input class="form-control"  type="text"  name="[@cc_card_name@]" maxlength="40" value="" />
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="form-group">
                <div class="col-xs-12">
                    <label>Card Expiration Date</label>
                </div>
                <div class="col-xs-6">
                    <select class="form-control col-xs-6" name="[@cc_card_exp_month@]">
                        <option value=""></option>
                        [%months%][%PARAM *body%]
                        <option class="input-small" value="[@month@]">[@month@]</option>
                        [%END PARAM%][%END months%]
                    </select>
                </div>
                <div class="col-xs-6">
                    <select class="form-control"  name="[@cc_card_exp_year@]">
                        <option value=""></option>
                        [%years from:'+0' to:'+10'%][%PARAM *body%]
                        <option value="[@year@]">[@year@]</option>
                        [%END PARAM%][%END years%]
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label>Card Security Code</label>
            <input type="text" name="[@cc_card_cvv@]" class="form-control" />
            <span class="help-inline">3-4 digit security code (<a href="#ccv" id="card_ccv">What is this?</a>)</span>
        </div>
    </div>

    <br />
    <div class="modal-footer">
        <a href="[@cc_cancel_url@]" class="btn btn-large btn-warning">
            <i class="icon-mail-reply"></i>
            Cancel Payment
        </a>
        <button type="submit" class="btn btn-success cp-stored-card-add">Confirm</button>
    </div>
    <!--##[%END PARAM%][%PARAM *footer%]##-->
</form>
    <!--##[%END PARAM%]
[%END 3rdparty_payment_form%]##-->
</div>