[%SITE_VALUE id:'footer_javascript'%]
<script type="text/javascript" src="[%NETO_JS id:'checkout'%][%/ NETO_JS%]"></script>
<script type="text/javascript" language="javascript">
	$(document).ready(function() { $.checkout_Init({}); });
</script>
[%/ SITE_VALUE%]
<div class="col-12">
<div class="page-header pb-2 mb-3 border-bottom">
	<div class="_cpy_thirdparty_msg alert alert-info" ref="paypal"><i class="fa fa-spinner fa-spin"></i> You are now being redirected to the PayPal website to checkout.</div>
	<div class="row">
		<div class="col-md-6">
			<h1>Secure Checkout</h1>
		</div>
		<div class="col-md-6 text-right">
			<h1>
				[%IF [@config:SHOW_PAYPAL_EXPRESS_LINK@] %]
					<a class="_cpy_thirdparty_btn" ref="paypal" href="[%URL page:'checkout' fn:'3rdparty' qs:'payment=6'%][%/ URL%]"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" border="0" alt="Checkout With Paypal"/></a>
				[%/ IF%]
			</h1>
		</div>
	</div>
</div>
[%load_template file:"cart/cart.error.html"/%]
[%IF [@processor_account@] ne '' %]
<div class="alert alert-warning">
	<strong>Important! Your order is not yet complete.</strong>
	<p>Please confirm your billing and shipping details below and click the  &quot;Confirm &amp; Process Order&quot; button at the bottom of this page to complete your purchase.</p>
</div>
[%/ IF%]

[%IF [@processor_account@] eq '' %]
[%USER id:'username' if:'eq' value:''%]
<div class="card card-body">
<strong>Returning Customer? <a id="_cpy_login_link" href="javascript:void(0);">Login for <i>Express</i> Checkout</a></strong>
<div id="_cpy_login_pl" style="[%FORM id:'login_username' if:'eq' value:''%]display:none;[%/ FORM%]">
[%load_ajax_template id:'login' type:'cart' template:'login' preload:"1"%][%/ load_ajax_template%]
</div>
</div>
[%/ USER%]
[%/ IF%]
</div>
<div class="col-12 col-md-8">
	<hr>
	<div id="_cpy_checkout_pl">
		<form class="form-horizontal" method="post" id="_cpy_checkout_form" action="[%URL page:'checkout'%][%/ URL%]">
			<input type="hidden" name="submited" id="submited" value="0" />
			<input type="hidden" name="fn" value="finalize" />
			<div class="row">
				<div class="col-12 col-sm-4">
					<div class="_step">
						<div class="_step_no"> Step 1. </div>
						<div class="_step_desc"> Billing Details </div>
					</div>
				</div>
				<div class="col-12 col-sm-8">
					[%USER id:'valid_email' if:'==' value:'0'%]
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_email">Email Address<div class="small text-danger">Required</div></label>
						<div class="col-12 col-sm-8">
							<input placeholder="eg: your@email.com" type="email" autocorrect="off" autocapitalize="off" class="form-control" name="bill_email" id="bill_email" maxlength="50" value="[@email@]"/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="confirm_email">Confirm Email Address<div class="small text-danger">Required</div></label>
						<div class="col-12 col-sm-8">
							<input type="email" class="form-control" autocorrect="off" autocapitalize="off" name="confirm_email" id="confirm_email" maxlength="50" value="[%NOHTML%][%FORM id:'confirm_email'%][%/ FORM%][%/ NOHTML%]" />
						</div>
					</div>
					[%/ USER%]
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_first_name">First Name<div class="small text-danger">Required</div></label>
						<div class="col-12 col-sm-8">
							<input type="text" class="form-control" name="bill_first_name" id="bill_first_name" maxlength="50" value="[@bill_first_name@]">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_last_name">Last Name<div class="small text-danger">Required</div></label>
						<div class="col-12 col-sm-8">
							<input type="text" class="form-control" name="bill_last_name" id="bill_last_name" maxlength="50" value="[@bill_last_name@]">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_company">Company</label>
						<div class="col-12 col-sm-8">
							<input type="text" class="form-control" name="bill_company" id="bill_company" maxlength="50" value="[@bill_company@]">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_country">Country<div class="small text-danger">Required</div></label>
						<div class="col-12 col-sm-8">
							<select class="form-control" name="bill_country" id="bill_country">
								[%countries%]
								[%PARAM *body%]
								<option value="[@country_code@]" [%DATA id:'country_code' if:'eq' value:'[@bill_country@]'%]selected[%/ DATA%]>[@country_name@]</option>
								[%/ PARAM%]
								[%/ countries%]
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_street1">Address<div class="small text-danger">Required</div></label>
						<div class="col-12 col-sm-8">
							<input class="form-control" type="text" name="bill_street1" id="bill_street1" maxlength="50" value="[@bill_street1@]" />
						</div>
					</div>
					<div class="form-group row">
					<div class="col-12 col-sm-8 offset-sm-4">
							<input class="form-control" type="text" name="bill_street2" id="bill_street2" maxlength="50" value="[@bill_street2@]" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_zip">Postal Code<div class="small text-danger">Required</div>
						</label>
						<div class="col-12 col-sm-8">
							<input class="form-control input-small" type="text" name="bill_zip" id="bill_zip" value="[@bill_zip@]" maxlength="10" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_city">Suburb / City<div class="small text-danger">Required</div></label>
						<div class="col-12 col-sm-8"><div class="n-wrapper-form-control"><span id="bill_selector"></span></div>
							<input class="form-control" type="text" name="bill_city" id="bill_city" value="[@bill_city@]" maxlength="50"/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_state">State<div class="small text-danger">Required</div></label>
						<div class="col-12 col-sm-8"><div class="n-wrapper-form-control"><span id="bill_state_pl" style="display:none;"></span></div>
							<input class="form-control"  type="text" name="bill_state" id="bill_state" value="[@bill_state@]" size="50" maxlength="50" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-12 col-sm-4" for="bill_phone">Phone Number
						[%IF [@CONFIG:CHECKOUT_IGNORE_SHIPPHONE@]%][%else%]<div class="small text-danger">Required</div>[%/ IF%]
						</label>
						<div class="col-12 col-sm-8">
							<input class="form-control" type="tel" name="bill_phone" id="bill_phone" maxlength="50" value="[@bill_phone@]" />
						</div>
					</div>
				</div>
			</div>
			<!-- End Billing Address -->
			<hr />
			<!-- Start Shipping Address -->
			<div class="row">
				<div class="col-12 col-sm-4">
					<div class="_step">
						<div class="_step_no"> Step 2. </div>
						<div class="_step_desc"> Shipping Details </div>
					</div>
				</div>
				<div class="col-12 col-sm-8">
					<div id="_macart_ovl">
						<div class="_shipping_choice">
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4">Ship Order To </label>
								<div class="col-12 col-sm-8">
									<div class="radio">
										<label>
											<input name="ship_mode" value="b" type="radio" [%DATA id:'ship_mode' if:'eq' value:'b'%]checked[%/ DATA%]/>
											My billing address
										</label>
									</div>
									<div class="radio">
										<label >
											<input name="ship_mode" value="s" type="radio" [%DATA id:'ship_mode' if:'eq' value:'s'%]checked[%/ DATA%]/>
											A different address
										</label>
									</div>
									[%CONFIG id:'MULTI_ADDR_CHECKOUT' if:'==' value:'1'%]
									<div class="radio">
										<label>
											<input name="ship_mode" value="m" type="radio" [%DATA id:'ship_mode' if:'eq' value:'m'%]checked[%/ DATA%]/>
											Multiple addresses
										</label>
										</div>
									[%/ CONFIG%]
								</div>
							</div>
						</div>
						<div id="shladb_pl">
							[%USER id:'username' if:'ne' value:''%]
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4" for="shladb_addr">Choose From Your Address Book</label>
								<div class="col-12 col-sm-8">
									<select class="form-control" id="shladb_addr">
										<option value=""></option>
										[%address_book%][%PARAM *body%]
										<option value="[@id@]" [%DATA id:'id' if:'eq' value:'[@address_book@]'%]selected[%/ DATA%]>[@ship_title@] ([@ship_zip@])</option>
										[%/ PARAM%][%/ address_book%]
									</select>
								</div>
							</div>
							[%/ USER%]
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4" for="ship_first_name">First Name <div class="small text-danger">Required</div></label>
								<div class="col-12 col-sm-8">
									<input  class="form-control"  type="text" name="ship_first_name" id="ship_first_name" maxlength="50" value="[@ship_first_name@]">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4" for="ship_last_name">Last Name <div class="small text-danger">Required</div></label>
								<div class="col-12 col-sm-8">
									<input  class="form-control"  type="text" name="ship_last_name" id="ship_last_name" maxlength="50" value="[@ship_last_name@]">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4" for="ship_company">Company</label>
								<div class="col-12 col-sm-8">
									<input  class="form-control"  type="text" name="ship_company" id="ship_company" maxlength="50" value="[@ship_company@]">
								</div>
							</div>
							<div class="form-group row">
								<label  class="col-form-label col-12 col-sm-4" for="ship_country">Country <div class="small text-danger">Required</div></label>
								<div class="col-12 col-sm-8">
									<select  class="form-control"  name="ship_country" id="ship_country">
										[%countries%]
										[%PARAM *body%]
										<option value="[@country_code@]" [%DATA id:'country_code' if:'eq' value:'[@ship_country@]'%]selected[%/ DATA%]>[@country_name@]</option>
										[%/ PARAM%]
										[%/ countries%]
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4" for="ship_street1">Address <div class="small text-danger">Required</div></label>
								<div class="col-12 col-sm-8">
									<input  class="form-control"  type="text" name="ship_street1" id="ship_street1" maxlength="50" value="[@ship_street1@]" />
								</div>
							</div>
							<div class="form-group row">
								<div class="col-12 col-sm-8 offset-sm-4">
									<input  class="form-control" type="text" name="ship_street2" id="ship_street2" maxlength="50" value="[@ship_street2@]" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4" for="ship_zip">Postal Code <div class="small text-danger">Required</div></label>
								<div class="col-12 col-sm-8">
									<input class="form-control" type="text" name="ship_zip" id="ship_zip" value="[@ship_zip@]" maxlength="10" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4" for="ship_city">Suburb / City <div class="small text-danger">Required</div></label>
								<div class="col-12 col-sm-8"> <div class="n-wrapper-form-control"><span id="ship_selector"></span></div>
									<input class="form-control" type="text" name="ship_city" id="ship_city" value="[@ship_city@]" maxlength="50"/>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4" for="ship_state">State <div class="small text-danger">Required</div></label>
								<div class="col-12 col-sm-8"><div class="n-wrapper-form-control"><span id="ship_state_pl" style="display:none;"></span></div>
									<input class="form-control" type="text" name="ship_state" id="ship_state" value="[@ship_state@]" size="50" maxlength="50" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-12 col-sm-4" for="ship_phone">Phone Number <div class="small text-danger">Required</div></label>
								<div class="col-12 col-sm-8">
									<input class="form-control" type="text" name="ship_phone" id="ship_phone" maxlength="50" value="[@ship_phone@]" />
								</div>
							</div>
						</div>
						<div id="_macart_pl"></div>
					</div>
					<!-- End Shipping Address -->
					<div id="checkout_shipping" class="checkout_items">
						[%load_ajax_template id:'shipping_options' type:'cart' template:'shipping_options' preload:"1"%][%/ load_ajax_template%]

						[%DATA id:'order_type' if:'ne' value:'quote'%]
						[%PARAM if_true%]
						[%/ PARAM%]
						[%PARAM if_false%]
						<input type="hidden" name="comment" value="" />
						[%/ PARAM%]
						[%/ DATA%]

						[%load_ajax_template id:'voucher_msg' type:'cart' template:'voucher_msg' preload:"1"%][%/ load_ajax_template%]

						[%DATA id:'order_type' if:'eq' value:'sales'%]
						[%CONFIG id:'ALLOW_DROPSHIP_CHECKOUT' if:'=' value:'1'%]
						<div class="form-group row">
							<label class="col-form-label col-12 col-sm-4" for="dropshipping"> Send invoice with goods?</label>
							<div class="col-12 col-sm-8">
							<div class="radio">
								<label>
									<input type="radio" name="dropshipping" value="1" [%DATA id:'dropshipping' if:'=' value:'1'%]checked[%/ DATA%] />
									No </label>
									</div>
									<div class="radio">
								<label>
									<input type="radio" name="dropshipping" value="0" [%DATA id:'dropshipping' if:'=' value:'0'%]checked[%/ DATA%] />
									Yes </label>
									</div>
							</div>
						</div>
						[%/ CONFIG%]
						[%/ DATA%]

						[%DATA id:'order_type' if:'ne' value:'quote'%]
						<div class="form-group row">
							<label class="col-form-label col-12 col-sm-4" for="customer_po">Buying this for work?</label>
							<div class="col-12 col-sm-8">
								<input class="form-control" type="text" name="customer_po" id="customer_po" maxlength="50" value="[@customer_po@]" placeholder="PO Number"  />
								<p class="help-block small text-muted">Enter your purchase order number above</p>
							</div>
						</div>
						[%/ DATA%]
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
			<!-- End Shipping Method -->
			[%DATA id:'order_type' if:'ne' value:'quote'%]
			<!-- Start Payment -->
			<div class="col-12 col-sm-4">
				<div class="_step">
					<div class="_step_no"> Step 3. </div>
					<div class="_step_desc"> Payment Details </div>
				</div>
			</div>
			<div class="col-12 col-sm-8">
			[%payment_methods type:'[@order_type@]'%]
			[%PARAM header%]
				<span class="hidden-md hidden-lg"><br></span>
				<ul class="list-inline d-flex flex-wrap">
			[%/ PARAM%]
			[%PARAM *body%]
				[%if [@name@] like 'American Express'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-americanexpress"></div>
						</div>
						</a>
					</li>
				[%/ if%]
				[%if [@name@] like 'Visa'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-visa"></div>
						</div>
						</a>
					</li>
				[%/ if%]
				[%if [@name@] like 'MasterCard' || [@name@] like 'Master Card'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-mastercard"></div>
						</div>
						</a>
					</li>
				[%/ if%]
				[%if [@name@] like 'Discover'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-discover"></div>
						</div>
						</a>
					</li>
				[%/if%]
				[%if [@name@] like 'Diners'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-diners"></div>
						</div>
						</a>
					</li>
				[%/if%]
				[%if [@name@] like 'Cheque'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-cheque"></div>
						</div>
						</a>
					</li>
				[%/if%]
				[%if [@name@] like 'Money Order'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-moneyorder"></div>
						</div>
						</a>
					</li>
				[%/if%]
				[%if [@name@] like 'Direct Deposit' || [@name@] like 'Bank Deposit'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-directdeposit"></div>
						</div>
						</a>
					</li>
				[%/if%]
				[%if [@name@] like 'bpay'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-bpay"></div>
						</div>
						</a>
					</li>
				[%/if%]
				[%if [@name@] like 'paypal'%]
					<li class="mr-1"><a class="_cpy_payicon" ref="[@id@]" href="javascript:void(0);">
						<div class="payment-icon-container">
							<div class="payment-icon payment-icon-paypal"></div>
						</div>
						</a>
					</li>
				[%/if%]
			[%/ PARAM%]
			[%PARAM *footer%]
				</ul>
			[%/ PARAM%]
			[%/ payment_methods%]
				[%payment_plans type:'[@order_type@]' sortby:'sortorder,name'%]
			[%PARAM *header%]
				<div class="card panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Select your payment plan</h4>
				</div>
				<div class="card-body panel-body">
					<div id="_cpy_plan_pl"></div>
					<hr>
					[%/ PARAM%]
			[%PARAM *body%]
					<input id="_cpy_plan_id[@count@]" type="hidden" value="[@id@]"/>
					<input id="_cpy_plan_name[@count@]" type="hidden" value="[@name@]"/>
					<input id="_cpy_plan_upfront[@count@]" type="hidden" value="[@upfront_ratio@]"/>
					<input id="_cpy_plan_rec[@count@]" type="hidden" value="[@repeat_payments_only@]"/>
					<div ref="[@id@]" class="_cpy_plandesc"><p>[@description@]</p></div>
					[%/ PARAM%]
			[%PARAM *footer%]
				</div>
				</div>
			[%/ PARAM%]
			[%/ payment_plans%]
				<div>
					<div class="n-wrapper-form-control"><div id="_cpy_payment_pl"></div></div>
					[%payment_methods type:'[@order_type@]' sortby:'sortorder,name'%]
			[%PARAM *body%]
					<input id="_cpy_payment_id[@count@]" type="hidden" value="[@id@]"/>
					<input id="_cpy_payment_type[@count@]" type="hidden" value="[@payment_desc_type@]"/>
					<input id="_cpy_payment_name[@count@]" type="hidden" value="[@name@]"/>
					<input id="_cpy_payment_rec[@count@]" type="hidden" value="[@repeat_pay@]"/>
					<input id="_cpy_payment_txt[@count@]" type="hidden" value="[%data id:'surcharge' if:'>' value:'0'%]([@surcharge@]% surcharge)[%/ data%]"/>
					[%/ PARAM%]
			[%/ payment_methods%]
					<input type="hidden" id="payment" name="payment" value="[@payment_method@]"/>
					<!-- For Payment Plan Selection - Rental Orders -->
						<input type="hidden" id="plan" name="plan" value="1" />
						<!-- End For Payment Plan Selection -->
				</div>

				[%load_ajax_template id:'redeem_vouchers' type:'cart' template:'redeem_vouchers' preload:"1"%][%/ load_ajax_template%]

				<p><h3>Balance Due: <span class="_cpy_balancedue">[%format type:'currency'%][@grand_total@][%end format%]</span></h3></p>
				<input name="grand_total" id="grand_total" type="hidden" value="[%CART id:'grand_total'%][%/ CART%]"/>
				<div ref="card" class="_cpy_paydesc alert alert-info">
					[%IF [@processor_type@] eq ''%]
					<div class="col-12">
						<div class="form-group">
							<label for="card_number">Card Number</label>
							<input class="form-control"  type="text" name="card_number" id="card_number" value="" />
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label>Card Holder's Name</label>
							<input class="form-control"  type="text"  name="card_holder" maxlength="40" value="" />
						</div>
					</div>
					<div class="col-12">
						<div class="row">
							<div class="col-12"><label>Card Expiration Date</label></div>
							<div class="form-group col-md-6">
								<select class="form-control"  id="card_exp_month" name="card_exp_month">
									<option value=""></option>
									[%months%][%PARAM *body%]
									<option class="input-small" value="[@month@]">[@month@]</option>
									[%/ PARAM%][%/ months%]
								</select>
							</div>
							<div class="form-group col-md-6">
								<select class="form-control"  name="card_exp_year">
									<option value=""></option>
									[%years from:'+0' to:'+10'%][%PARAM *body%]
									<option value="[@year@]">[@year@]</option>
									[%/ PARAM%][%/ years%]
								</select>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label>Card Security Code</label>
							<input type="text" name="card_ccid" class="form-control" />
							<span class="help-inline">3-4 digit security code (<a href="#" data-toggle="modal" data-target="#ccvModal">What is this?</a>)</span>
						</div>
					</div>
					[%ELSE%]
					[@processor_type@]
					<div class="col-12">
						<div class="form-group">
							<label>Card Type</label>
							<p class="form-control-static">[@processor_card_brand@]</p>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label>Card Number</label>
							<p class="form-control-static">[@processor_card_number@] <a href="[%URL page:'checkout' fn:'3rdparty' qs:'payproc=&payclr=y'%][%/ URL%]">(Change card)</a></p>
						</div>
					</div>
					[%IF [@processor_require_cvv@] eq 'y'%]
					<div class="col-12">
						<div class="form-group">
							<label>Enter your [@processor_card_brand@] CCV</label>
							<input type="text" name="card_ccid" class="form-control" />
							<span class="help-inline">3-4 digit security code (<a href="#" data-toggle="modal" data-target="#ccvModal">What is this?</a>)</span>
						</div>
					</div>
					<div class="clear"></div>
					[%/ IF%]
					[%/ IF%]
					<!-- Start Fancybox explanation of CCV -->
					<div style="display:none;">
						<div id="ccv" style="width:600px;"> For <b>Visa</b>, <b>MasterCard</b>, and <b>Discover cards</b>, the card security code is the last <b>3 digit</b> number located on the BACK of your card on or above your signature line. For an <b>American Express</b> card, it is the <b>4 digits</b> on the FRONT above the end of your card number. </div>
					</div>
					<div class="clear"></div>
				</div>
				<div ref="cheque" class="_cpy_paydesc alert alert-info"> The address to send your <span class="_cpy_payname">[@name@]</span> to will be provided after you confirm your order below. </div>
				<div ref="bank" class="_cpy_paydesc alert alert-info"> Our bank details will be provided after you confirm your order below. </div>
				<div ref="bpay" class="_cpy_paydesc alert alert-info"> When you submit this page, you will be given a Bpay biller
					code and a reference number. Please quote the numbers and call your
					participating financial institution to make a payment from your
					cheque, savings or credit card account. </div>
				<div ref="paypalexpress" class="_cpy_paydesc alert alert-info">
					[%DATA id:'paypal_payer_id' if:'eq' value:''%][%PARAM if_true%]
					When you submit this page, you will be redirected to the PayPal website to continue your PayPal Express Checkout.
					[%/ PARAM%][%PARAM if_false%]
					When you submit this page, your paypal account or credit card will be debited.
					[%/ PARAM%][%/ DATA%]
				</div>
				<div ref="account" class="_cpy_paydesc alert alert-info"> Your [@config:company_name@] account will automatically be charged for the value of this order. </div>
				<div ref="other" class="_cpy_paydesc alert alert-info"> Our bank details will be provided after you confirm your order below. </div>
				[%if [@config:checkout_req_agree_terms@] eq '1'%]
					<div class="modal fade" id="termsModal">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Terms &amp; Conditions</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body">[%content_zone id:'terms'/%]</div>
								<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="privacyModal">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Privacy Policy</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body">[%show_content id:'2'%][%param *body%][@content_description1@][%/param%][%/show_content%]</div>
								<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
							</div>
						</div>
					</div>
					<p>
						<input type="hidden" name="agreement" value="y">
						<input type="checkbox" name="agree" value="y" class="terms_box" [%if [@agree@]%]checked[%/if%] required/>
						I have read and agree to
						<a href="#" data-toggle="modal" data-target="#termsModal">Terms &amp; Conditions</a> and
						<a href="#" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a>.
					</p>
				[%/if%]
				<div class="modal fade" id="ccvModal">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">CCV</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="modal-body">For <b>Visa</b>, <b>MasterCard</b>, and <b>Discover cards</b>, the card security code is the last <b>3 digit</b> number located on the BACK of your card on or above your signature line. For an <b>American Express</b> card, it is the <b>4 digits</b> on the FRONT above the end of your card number. </div>
							<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
						</div>
					</div>
				</div>
				<p class="form-actions">
					<button type="submit" class="btn btn-success btn-lg btn-block">Confirm &amp; Process Order <i class="fa fa-chevron-right icon-white"></i></button>
				</p>
				<!-- End Payment -->
			</div>
			[%/ DATA%]
			[%DATA id:'order_type' if:'eq' value:'quote'%]
			<p class="form-actions">
				<button id="_cpy_checkout_submit" type="button" class="btn btn-success btn-large float-right">Confirm &amp; Process Quote <i class="fa fa-chevron-right icon-white"></i></button>
			</p>
			[%/ DATA%]
		</form>
	</div>
</div>
</div>
<div class="col-12 col-md-4">
<hr />
	[%load_ajax_template id:'cart_items' type:'cart' template:'cart_items' preload:"1"%][%/ load_ajax_template%]
	[%load_ajax_template id:'address' type:'cart' template:'address' preload:"0"%][%/ load_ajax_template%]
</div>
[%GA_FUNNEL%]/purchase/confirmation.html[%/ GA_FUNNEL%]
