<script language="javascript" type="text/javascript">
	function print_invoice() {
		var win = window.open('[%URL page:"account" type:"print" fn:"invoice" id:"[@order_id@]"%][%/ URL%]', 'print_invoice', 'width=740,height=400,scrollbars=yes,resizeable=yes');
	}
</script>
[%set [@total_cart_items@]%]0[%/set%]
[%set [@total_cart_price@]%]0[%/set%]
<div class="col-12 col-lg-7">
	<div class="alert alert-success" role="alert">Congratulations - Your Quote Has Been Confirmed!</div>
	<p class="mb-1">Order [%show_order id:'[@order_id@]'%][%param *header%]<span data-test-id="order-id"> #[@order_id@] </span>[%/param%][%/show_order%]</p>
	<p class="mb-3">Confirmation sent to [%if [@user:username@]%][@user:email@][%else%][@bill_email@][%/if%]</p>
	<div class="card card-body mb-2">
		[%if [@user:username@]%]
			<h2>Quote tracking</h2>
			<p class="mb-0">
				You will be updated by e-mail as to your quote progress.<br/>
				To track the progress of your quote online, please go to <a href="[%url page:'account'/%]">your account</a> and select the quote you wish to track.
			</p>
		[%else%]
			<h2>Activate your [@config:company_name@] account</h2>
			<p>So that you can shop faster in the future and track past orders, we have generated a [@config:company_name@] account for you.</p>
			<p class="mb-0"><a href="[%url page:'account' type:'resetpwd' id:'[@logincode@]'/%]" class="btn btn-primary d-inline-block" data-test-id="activate-account">Activate account and create password</a></p>
			<p class="small text-muted mt-1 mb-0"><strong>Note:</strong> Activating your [@config:company_name@] account is optional.</p>
		[%/if%]
	</div>
	<div class="card card-body mb-2">
		<h2>Customer information</h2>
		<div class="row">
			<div class="col-12 col-sm-6">
				<h4>Customer details</h4>
				[@bill_first_name@] [@bill_last_name@]<br/>
				[%if [@bill_company@] ne ''%][@bill_company@]<br>[%/ if%]
				[@bill_street1@] [@bill_street2@]<br/>
				[@bill_city@], [@bill_state@] [@bill_zip@]<br/>
				[@bill_country@]
				[%if [@payment_terms_type@] and [@payment_terms_type@] ne 'once'%]
					<p>Payment will be processed every <b>[@payment_terms_num_times@] [@payment_terms_type@](s)</b> from time of order.</p>
				[%/if%]
			</div>
		</div>
		[%show_order id:'[@order_id@]'%]
			[%param *header%]
				<h3 class="my-2">Shipping information <span class="text-muted small">[@order_id@]</span></h3>
				<div class="row">
					<div class="col-12 col-sm-6">
						<h4>Shipping address</h4>
						[@ship_first_name@] [@ship_last_name@]<br>
						[%if [@ship_company@] ne ''%][@ship_company@]<br>[%/ if%]
						[@ship_street1@] [@ship_street2@]<br/>
						[@ship_city@], [@ship_state@] [@ship_zip@]<br/>
						[@ship_country@]
					</div>
					<div class="col-12 col-sm-6">
						<h4>Shipping method</h4>
						<p class="mb-1"><i class="fa fa-envelope-open-o"></i> [@shipping_method@]</p>
					</div>
					[%if [@ship_comment@]%]
						<div class="col-12 col-sm-6">
							<h4>Special delivery instructions</h4>
							<p class="mb-1">[@ship_comment@]</p>
						</div>
					[%/if%]
				</div>
			[%/param%]
		[%/show_order%]
	</div>
	<a href="[@config:homeurl@]" class="btn btn-outline-secondary">Continue shopping</a>
</div>
<div id="cart_items" class="col-12 col-lg-5">
	<div class="order-summary-d">
		<div class="order-summary">
		[%show_order id:'[@order_id@]'%]
			[%param *header%]
			<div class="card mb-2">
				<div class="card-body">
					<div class="mb-2 d-flex justify-content-between align-items-start">
						<h3 class="d-md-inline">
							<button type="button" class="close order-summary-close d-lg-none" aria-label="Close" data-body-remove="fixed-body"><span aria-hidden="true">&times;</span></button>
							Quote Summary <span class="text-muted small">[@order_id@]</span>
						</h3>
						[%if [@user:username@]%]
							<a class="print-order-link float-right" href="javascript:void(0);" onClick="print_invoice()"><i class="fa fa-print"></i> Print Receipt</a>
						[%else%]
							<form name="viewOrder" action="[%url page:'account' type:'nr_view_order'/%]" method="post">
								<input type="hidden" name="id" value="[@order_id@]">
								<input type="hidden" name="email" value="[%escape%][@email@][%/escape%]">
								<input type="hidden" name="zip" value="[%escape%][@ship_zip@][%/escape%]">
								<a class="print-order-link float-right" href="javascript:void(0);" onclick="document.viewOrder.submit();"><i class="fa fa-print"></i> Print Receipt</a>
							</form>
						[%/if%]
					</div>
		[%/ param%]
		[%param *body%]
			[%set [@^total_cart_items@]%][%calc [@total_cart_items@] + [@qty@] /%][%/set%]
			<div class="media mb-2">
				<div class="product-img">
					<span class="badge badge-pill badge-light">[@qty@]</span>
					<img class="mr-3 rounded" src="[%asset_url type:'product' id:'[@SKU@]' thumb:'thumb' check_parent:'y'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%/param%][%END asset_url%]" width="50px" height="50px" alt="[@model@] image" />
				</div>
				<div class="media-body">
					<span class="float-right">[%format type:'currency'%][@subtotal@][%/ format%]</span>
					<p class="m-0">[@model@]</p>
					<small class="text-muted">[@extra@]</small>
					[%if [@aff_id@] eq '[@config:aff_rental_id@]'%]&nbsp; <b>Rental</b>[%/if%]
					[%if [@aff_id@] eq '[@config:aff_ebay_id@]'%]&nbsp; <b>EBay ID: [@aff_ref@]</b>[%/if%]
					[%if [@aff_id@] eq '[@config:aff_free_id@]'%]&nbsp; <b>Free Gift</b>[%/if%]
					[%if [@has_components@] == 1%]
					[%CART_ITEM_COMPONENTS counter:'[@counter@]'%]
						[%param header%]<small class="text-muted">[%/ param%]
						[%param *body%][@qty@] x [@model@]<br/>[%/ param%]
						[%param footer%]</small>[%/ param%]
					[%/ CART_ITEM_COMPONENTS%]
					[%/ if%]
				</div>
			</div>
		[%/ param%]
		[%param *footer%]
					[%set [@^total_cart_price@]%][%calc [@total_cart_price@] + [@grand_total@] /%][%/set%]
					</div>
					<ul class="list-group list-group-flush">
						[%if [@shipping_method_id@]%]
							[%if [@shipping_quote@]%]
								<li class="list-group-item border-bottom-0">Delivery Method <span class="float-right">[@shipping_method@] - P.O.A</span></li>
							[%else%]
								<li class="list-group-item border-bottom-0">Delivery Method <span class="float-right">[@shipping_method@] [%if [@shipping_price@] > 0%][%format type:'currency'%][@shipping_price@][%/format%][%/if%]</span></li>
								<!-- [%if [@shipping_total@] > 0%][%format type:'currency'%][@shipping_total@][%/format%][%/if%][%data id:'shipping_discount' if:'>' value:'0' %] ( Discount - [%format type:'currency'%]-[@shipping_discount@][%/format%] )[%/data%] -->
							[%/if%]
						[%/if%]
						[%if [@couponcode@]%]
							<li class="list-group-item border-0">Special Pricing Arrangements / Discounts  <span class="float-right">[@couponcode@]</span></li>
						[%/if%]
							<li class="list-group-item border-0">Subtotal <span class="float-right">[%format type:'currency'%][@product_total@][%/format%]</span></li>
						[%if ![@shipping_quote@]%]
							<li class="list-group-item border-0">Shipping <span class="float-right">[%if [@shipping_total@] == 0%] [%if [@na@] == 0%] [%if [@config:free_shipping_label_for_webstore@]%] [@config:free_shipping_label_for_webstore@] [%else%] Free [%/if%] [%else%] Not Applicable [%/if%] [%else%] [%format type:'currency'%][@shipping_total@][%/format%] [%/if%]</span></li>
						[%/if%]
						[%if [@discount_total@] > '0'%]
							<li class="list-group-item border-0">Discount <span class="float-right">-[%format type:'currency'%][@discount_total@][%/format%]</span></li>
						[%/if%]
						[%if [@surcharge_total@] > '0'%]
							<li class="list-group-item border-0">Surcharge ([%format type:'percent' dc:'2'%][@surcharge_percent@][%/format%]) <span class="float-right">[%format type:'currency'%][@surcharge_total@][%/format%]</span></li>
						[%/if%]
						[%if [@notax@] eq '0'%]
							<li class="list-group-item border-0">[%if [@config:PRIMARY_TAX_LABEL@]%][@config:PRIMARY_TAX_LABEL@] [%else%]GST [%/if%][%data id:'tax_inc' if:'eq' value:'y' %] inc.[%/data%]<span class="float-right">[%format type:'currency'%][@tax_total@][%/format%]</span></li>
						[%/if%]
							<li class="list-group-item border-0">Quote Total <span class="float-right">[%format type:'currency'%][@grand_total@][%/format%]</span></li>
					</ul>
				</div>
			[%/ param%]
		[%/ show_order%]
			<div class="card mb-2">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Grand total
						<span class="float-right">
							<span class="small text-muted _order_total">[@CONFIG:DEFAULTCURRENCY@]</span>
							<span class="h2">[%format type:'currency'%][@total_cart_price@][%/ format%]</span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="order-summary-m">
		<div class="card">
			<a data-body-add="fixed-body" href="#" class="card-body">
				<span class="text-dark"><i class="fa fa-shopping-cart"></i>
					<strong>[@total_cart_items@] items</strong><br/>
					<span class="link">Show order summary</span>
				</span>
				<span class="float-right">
					<span class="small text-muted">[@CONFIG:DEFAULTCURRENCY@]</span>
					<span class="text-dark h4">[%format type:'currency'%][@total_cart_price@][%/ format%]</span>
				</span>
			</a>
		</div>
	</div>
</div>
[%ga_funnel%]/purchase/quote_invoice.html[%/ ga_funnel%]
