<div class="col-12">
	<div class="page-header"><h1>Shopping Cart</h1></div>
	[%load_template file:'cart/cart.error.html'/%]
	<div class="row btn-stack">
		<div class="col-12 col-md-8 col-lg-9">
			[%if [@config:allow_user_quote@] eq '1'%]
				<button class="btn btn-outline-secondary" type="button" role="link" onclick="window.location='[%url page:'checkout' fn:'quote'/%]';" title="Create Quote From Cart"> <i class="fa fa-list-alt" aria-hidden="true"></i> Create Quote From Cart</button>
			[%/if%]
			<!-- Uncomment if you'd like a "Edit gift messages" button above the cart summary. Requires checkout_upsell_extra to be configured correctly.
			[%if [@config:checkout_upsell_extra@]%]
				<a class="btn btn-outline-secondary" type="button" href="[%url page:'checkout' fn:'upsell'/%]" title="Edit extra options"> <i class="fa fa-pencil-alt icon-white"></i> Edit extra options</a>
			[%/if%] -->
		</div>
		<div class="col-12 col-md-4 col-lg-3">
			<button class="btn btn-success btn-lg btn-block" type="button" role="link" onclick="window.location='[%url page:'checkout' fn:'payment'/%]';" title="Checkout Now"><i class="fa fa-shopping-cart icon-white" aria-hidden="true"></i> Checkout Now</button>
		</div>
	</div>
	<div class="row">
		<div class="col-12"><hr aria-hidden="true" /></div>
	</div>
	[%cart_items%]
	[%param header%]
		<div class="row" role="contentinfo" aria-label="Products in shopping cart">
			<div class="col-12">
				<form method="post" name="checkout" action="[%url page:'checkout'/%]">
					<input type="hidden" name="recal" value="1" />
					<table class="table table-bordered cartTable">
						<thead>
							<tr>
								<th colspan="2" class="cartTable--heading cartTable--heading-item"> Item Description </th>
								<th class="cartTable--heading cartTable--heading-quantity">Quantity </th>
								<th class="cartTable--heading cartTable--heading-price">Price</th>
								<th class="cartTable--heading cartTable--heading-remove d-none d-sm-table-cell">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
						[%/param%]
						[%param *body%]
						<tr>
							<td class="cartTable--column cartTable--column-image"><a href="[@url@]"><img class="img-fluid" src="[@thumb@]" alt="[@model@]"/></a></td>
							<td>
								<a href="[@url@]"><p class="h4">[@model@]</p></a>
								<p class="small">
									[@extra@]
									[%if [@config:checkout_upsell_extra@]%]
										<a class="btn btn-outline-secondary btn-sm" role="link" href="[%url page:'checkout' fn:'upsell'/%]" title="Edit extra options"> <i class="fa fa-pencil-alt icon-white" aria-hidden="true"></i></a>
									[%/if%]
								</p>
								[%if [@aff_id@] eq '[@config:AFF_EBAY_ID@]'%]
									<p>eBay ID: [@aff_ref@]</p>
								[%/if%]
								[%if [@aff_id@] eq '[@config:AFF_FREE_ID@]'%]
									<p><span class="badge badge-success">Free Gift</span></p>
								[%/if%]
								[%if [@preorder@]%]
									<p><span class="badge badge-warning">On pre-order - Released [%format type:'date'%][@arrival_date@][%/format%]</span></p>
								[%/if%]
								[%if [@has_components@]%]
									[%cart_item_components counter:'[@counter@]'%]
										[%param header%]
											<ul class="list-unstyled">
										[%/param%]
										[%param *body%]
											<li>
												<input type="hidden" name="compsku[@count@]_[@component_count@]" value="[@SKU@]">
												<label>[@model@] x </label>
												<input type="number" min="[@min_assemble@]" max="[@max_assemble@]" name="compqty[@count@]_[@component_count@]" class="form-control [%if [@fixed_assemble@]%]readonly [%/if%]" [%if [@fixed_assemble@]%]readonly [%/if%] value="[@qty@]" size="3">
											</li>
										[%/param%]
										[%param *footer%]
											</ul>
											<input type="hidden" name="components[@count@]" value="[@total_components@]">
										[%/param%]
									[%/cart_item_components%]
								[%/if%]
								[%if [@gifts_available@]%]
									<p class="h4">Congratulations! The above purchase has made you eligible for [@gifts_available@] of the following FREE Gifts!</p>
									<span class="help-box">You can add any of the following gifts to your shopping Shopping Cart now and you will not be charged for them!</span> <br />
									<br />
									[%free_gifts id:'[@SKU@]'%]
										[%param *header%]
											<div class="row">
										[%/param%]
										[%PARAM *body%]
											<div class="col-12 col-md-4">
												<div class="card card-body">
													<a href="[%url type:'item' id:'[@SKU@]'/%]" class="thumbnail-image mx-auto"><img width="120" height="120" src="[@thumb@]" alt="[@model@]" /> </a>
													<p class="card-title h5"><a href="[%url type:'item' id:'[@SKU@]'/%]">[%format type:'text' maxlength:'70' rmhtml:'1'%][@model@][%/format%]</a></p>
													<p><a class="btn btn-success btn-block" href="[%url page:'checkout' qs:'sku=[@SKU@]&gift=[@counter@]'/%]">Add to Cart</a></p>
												</div>
											</div>
										[%/param%]
										[%PARAM *footer%]
											</div>
										[%/param%]
									[%/free_gifts%]
								[%/if%]
							</td>
							<td class="options-column">
								<input name="line[@count@]" type="hidden" value="[@counter@]" />
								<input id="qty[@count@]"  type="number" min="0" name="qty[@count@]" value="[@qty@]" class="form-control cart-qty" [%if [@aff_id@] eq 'free'%] disabled [%/if%] aria-label="[@model@] Quantity"/>
							</td>
							<td class="text-right">
								[%if [@qty@] > 1%]
									<h5>[@qty@] x [%format type:'currency'%][@price@][%/format%]</h5>
								[%/if%]
								[%if [@discount_percent@] > 0%]
									<p><i>-[%format type:'percent' dp:'2'%][@discount_percent@][%/format%]</i></p>
								[%/if%]
								<p class="h4">[%format type:'currency'%][@subtotal@][%/format%]</p>
							</td>
							<td class="d-none d-sm-table-cell">
								<a role="button" class="btn btn-block btn-danger" title="Remove [@model@] From Shopping Cart" href="javascript:rmcart('qty[@count@]');"><i class="far fa-trash-alt" aria-hidden="true"></i></a>
							</td>
						</tr>
						[%/param%]
						[%param *footer%]
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-12"><hr aria-hidden="true" /></div>
		</div>
		<div class="row btn-stack">
			<div class="col-12 col-md-4 col-lg-3">
				<button type="button" role="link" onclick="window.location='[%last_visited default:'[@config:homeurl@]'/%]';" class="btn btn-outline-secondary btn-block" title="Continue shopping"><i class="fa fa-reply" aria-hidden="true"></i> Continue Shopping</button>
			</div>
			<div class="col-12 col-md-4 offset-md-4 col-lg-3 offset-lg-6">
				<button type="button" class="btn btn-primary btn-block" onclick="javascript:document.checkout.submit();" title="Update changes"><i class="fa fa-sync" aria-hidden="true"></i> Update My Changes</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12"><hr aria-hidden="true" /></div>
			[%if [@config:show_shipping_calc@]%]
				<div class="col-12 mb-2 [%if [@config:show_coupon_promo_code_field@]%]col-lg-3[%else%]col-lg-6[%/if%]">
					<div class="card" role="contentinfo" aria-label="Calculate shipping">
						<div class="card-header">
							<h2 class="card-title mb-0 h4">Shipping Calculator</h2>
						</div>
						<div class="card-body">
							<form method="post" action="[%url page:'checkout'/%]">
								<p>Enter your post code to calculate.</p>
								<div class="form-group">
									<select class="form-control" name="ship_country">
									[%countries%]
										[%PARAM *body%]
											<option value="[@country_code@]" [%if [@country_code@] eq [@ship_country@]%]selected[%/if%]>[@country_name@]</option>
										[%/param%]
									[%/countries%]
									</select>
								</div>
								<div class="form-group">
									<label for="ship_zip">Post Code</label>
									<input class="form-control" type="text" size="5" name="ship_zip" id="ship_zip" value="[@ship_zip@]" />
								</div>
								<input type="submit" class="btn btn-outline-secondary btn-block" value="Calculate Shipping" />
							</form>
						</div>
					</div>
				</div>
			[%/if%]
			[%if [@config:show_coupon_promo_code_field@]%]
				<div class="col-12 mb-2 [%if [@config:show_shipping_calc@]%]col-lg-3[%else%]col-lg-6[%/if%]">
					<div class="card" role="contentinfo" aria-label="Discount Code">
						<div class="card-header">
							<h2 class="card-title mb-0 h4">Discount Code</h2>
						</div>
						<div class="card-body">
							<form method="post" action="[%url page:'checkout'/%]">
								<p>If you have a coupon or discount code enter it below</p>
								<div class="form-group">
									<label class="sr-only" for="addcpn">Coupon code</label>
									<input class="form-control" type="text" id="addcpn" name="addcpn" value="" />
								</div>
								<input type="submit" class="btn btn-block btn-outline-secondary" value="Apply Coupon Code">
							</form>
						</div>
					</div>
				</div>
			[%/if%]
			<div class="col-12 col-lg-6" role="contentinfo" aria-label="Cart pricing information">
				<table class="table">
					<tr>
						<th scope="row">Sub Total</th>
						<td class="text-right">[%format type:'currency'%][@product_total@][%/format%]</td>
					</tr>
					<tr>
						<td colspan="2" >
						[%shipping_methods country:'[@ship_country@]' zip:'[@ship_zip@]'%]
							[%param header%]
							<form method="post" name="SHsummary" action="[%url page:'checkout'/%]">
							[%/param%]
							[%param *body%]
								<div class="form-group">
								<label class="d-block" for="[@id@]">
									<input class="float-left" type="radio" onclick="document.SHsummary.submit()" name="ship" value="[@id@]" id="[@id@]" [%if [@id@] == [@shipping_method_id@]%]checked[%/if%]>
									<h4>&nbsp;[@shipping_method@] - [%if [@shipping_quote@]%] P.O.A [%else%] [%if [@cost@] == 0%] [%if [@na@] == 0%] [%if [@config:free_shipping_label_for_webstore@]%] [@config:free_shipping_label_for_webstore@] [%else%] Free [%/if%] [%else%] Not Applicable [%/if%] [%else%] [%format type:'currency'%][@cost@][%/format%] [%/if%] [%/if%] </h4>
									[%if [@delivery_time@] >= 1%]
									<p>Estimated arrival of [%format type:'number' tl_unit:'day' tl_plural:'days'%][@delivery_time@][%/format%]</p>
									[%/if%]
									<p>[@shipping_description@]<p>
									</label>
								</div>
							[%/param%]
							[%param footer%]
							</form></td>
								</tr>
								<tr>
									<td>Shipping Cost To Post Code [@ship_zip@]</td>
									<td class="text-right">[%format type:'currency'%][@shipping_total@][%/format%]</td>
								</tr>
							[%/param%]
							[%param *ifempty%]
								[%if [@ship_zip@]%]
									<b class="text-danger">Shipping not available to [@ship_zip@] [@ship_country@], please try another location.</b>
								[%else%]
									Enter post code to calculate shipping
								[%/if%]
							</td>
							</tr>
							[%/param%]
					[%/shipping_methods%]
					[%active_coupons%]
						[%param *header%]
						<tr>
							<th scope="row"><b>Discounts Applied</b></th>
							<td>&nbsp;</td>
						</tr>
						[%/param%]
						[%param *body%]
						<tr>
							<th scope="row"> [@code@] [@title@] <a href="[%url page:'checkout' qs:'rmcpn=[@code@]'/%]" role="button" title="Remove discount"><i class="fa fa-times" aria-hidden="true"></i></a></th>
							<td class="text-right">-[%format type:'currency'%][@discount@][%/format%]</td>
						</tr>
						[%/param%]
					[%/active_coupons%]
					[%if [@discount_total@] > 0%]
					<tr>
						<th scope="row">Discount Total</th>
						<td class="text-right">-[%format type:'currency'%][@discount_total@][%/format%]</td>
					</tr>
					[%/if%]
					[%if [@surcharge_total@] > 0%]
					<tr>
						<th scope="row">Surcharge ([%format type:'percent' dc:'2'%][@surcharge_percent@][%/format%])</th>
						<td class="text-right">[%format type:'currency'%][@surcharge_total@][%/format%]</td>
					</tr>
					[%/if%]
					[%if ![@notax@]%]
					<tr>
						<th scope="row">[%if [@config:PRIMARY_TAX_LABEL@]%][@config:PRIMARY_TAX_LABEL@][%else%]GST[%/if%][%if [@tax_inc@]%]&nbsp;Inc.[%/if%]</th>
						<td class="text-right">[%format type:'currency'%][@tax_total@][%/format%]</td>
					</tr>
					[%/if%]
					<tr>
						<th scope="row"><b>Shopping Cart Total</b></th>
						<td class="text-right" ><p class="h3">[%format type:'currency'%][@grand_total@][%/format%]</p></td>
					</tr>
				</table>
				<form method="post"  name="paypal" action="[%url page:'checkout' fn:'3rdparty'/%]">
					<input type="hidden" name="payment" value="6"/>
					[%payment_plans type:'[@order_type@]' sortby:'sortorder,name'%]
					[%param *header%]
						<div class="row">
							<div class="col-12">
								<div class="card mb-3">
									<div class="card-header"><h4 class="card-title mb-0 h4">Select your payment plan</h4></div>
									<div class="card-body">
										<select class="form-control" name="plan">
										<option value="">Select your payment plan</option>
					[%/param%]
					[%param *body%]
										<option value="[@id@]" [%if [%id%] eq [@payment_plan_id@]%]selected[%/if%]>[@name@]</option>
					[%/param%]
					[%param *footer%]
										</select>
									</div>
								</div>
							</div>
						</div>
					[%/param%]
					[%/ payment_plans%]
					<div class="row btn-stack">
						<div class="col-12 col-lg-6 text-center mb-1">
							[%if [@config:show_paypal_express_link@]%]
								[%checkout_payment type:'[@order_type@]' reload:'1' distinct:'1'%]
									[%param *body%]
										[%if [@payment_desc_type@] eq 'paypalexpress'%]
											[%if [@config:PAYPAL_MERCHANT_ID@] ne ''%]
												[%SITE_VALUE id:'footer_javascript'%]
													<script>
														window.paypalCheckoutReady = function() {
															paypal.checkout.setup(
																"[%nohtml%][@config:paypal_merchant_id@][%/nohtml%]", {
																	environment: "[%if [@config:paypal_api_environment@] eq 'sandbox'%]sandbox[%else%]live[%/if%]",
																	button: 'paypal'
																}
															);
														};
													</script>
													<script src="//www.paypalobjects.com/api/checkout.js" async></script>
												[%/ SITE_VALUE%]
											[%/if%]
											<a id="paypal" class="_cpy_thirdparty_btn" ref="paypal" href="[%URL page:'checkout' fn:'3rdparty' qs:'payment=6'/%]">
												<img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-60px.png" alt="Checkout With Paypal" height="46">
											</a>
										[%/if%]
									[%/param%]
								[%/checkout_payment%]
							[%/if%]
						</div>
						<div class="col-12 col-lg-6 text-center">
							<button class="btn btn-success btn-lg btn-block" role="link" type="button" onclick="window.location='[%url page:'checkout' fn:'payment'/%]';" title="Checkout now">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i> Checkout Now
							</button>
						</div>
					</div>
				</form>
				[%if [@form:disable_scripts@] ne 'true'%][%tracking_code type:'CartCTA' /%][%/if%]
			</div>
		</div>
	[%/param%]
	[%/cart_items%]
</div>
<!-- Do not edit below this line-->
<script type="text/javascript" language="javascript">
	function rmcart (id) { var obj = document.getElementById(id); if(obj) { obj.value="0"; document.checkout.submit(); } }
</script>
[%ga_funnel%]/purchase/shopping_cart.html[%/ga_funnel%]
