[%site_value id:'footer_javascript'%]
	<script type="text/javascript" language="javascript">
	$(document).ready(function() {
		$.extend({
			copy_values : function (id) {
				var arr = ['sender','name','email','msg', 'rdate'];
				for(var i=0; i<arr.length; i++) {
					var fval = $('[name="voucher_'+arr[i]+id+'"]').val();
					$('[name^="voucher_'+arr[i]+'"]').each(function () {
						var mid = $(this).attr('name');
						mid = mid.replace('voucher_'+arr[i], '');
						if(arr[i] == 'rdate') {
							var txt = mid.replace(/^\d+/, '');
							fval = $('[name="voucher_'+arr[i]+id+txt+'"]').val();
							mid = mid.replace(/_.+$/, '');
							mid = parseInt(mid); if(isNaN(mid)) { mid=-1; }
							if(id != mid) {
								$(this).val(fval);
							}
						} else {
							mid = parseInt(mid); if(isNaN(mid)) { mid=-1; }
							if(id != mid) {
								$(this).val(fval);
							}
						}
					});
				}
			},
			check_vouchers : function () {
			var okay =true;
			var arr = ['sender','name','email','msg'];
			for(var i=0; i<arr.length; i++) {
				$('[name^="voucher_'+arr[i]+'"]').each(function () {
					var mid = $(this).attr('name');
					var fval = $(this).val();
					fval = fval.replace(/^\s+|\s+$/, '');
					$(this).val(fval);
					$.update_text_count($(this));
					var err = false;
					if(fval == '') {
						$('.sherror[ref="'+mid+'"]').show();
						okay = false;
						err = true;
					} else {
						$('.sherror[ref="'+mid+'"]').hide();
					}
					if(!err && arr[i] == 'email') {
						if(!$.validate_email(fval)) {
							$('.sherror[ref="invalid_'+mid+'"]').show();
							okay = false;
							err = true;
						} else {
							$('.sherror[ref="invalid_'+mid+'"]').hide();
						}
					} else {
						$('.sherror[ref="invalid_'+mid+'"]').hide();
					}
				});
			}
			return okay;
		},
		sumbit_form : function () {
			var okay = $.check_vouchers();
			if(okay) {
				$('#upsellcartform').submit();
			}
			else {
				$.fancybox("Please complete all the required fields indicated with a *", {showCloseButton: true, overlayShow: true, centerOnScroll: true, hideOnContentClick: true});
			}
		}
		});
		$('.submit_btn').click(function(e){
			$.sumbit_form();
		});
		$('.copy_btn').click(function(e){
			$.copy_values($(this).attr('ref'));
		});
		$.init_text_count('inputtext');
	});
	</script>
[%/site_value%]
<style type="text/css">
	.inputtext_count { display:none; font-size:8px;}
	.sherror { color: #CC0000; font-size:8px; display:none;}
	INPUT.datefield,SELECT.datefield,.datefield { font-size:9px; height:20px; }
</style>
<div class="col-sm-12">
	[%load_template file:"cart/cart.error.html" /%]
	<form method="post" enctype="multipart/form-data" action="[%url page:'checkout'/%]" id="upsellcartform">
		<input type="hidden" name="fn" id="fn" value="payment" />
		<input type="hidden" name="voucher" value="y" />
		<h1>Personalise Your Gift Vouchers</h1>
		<div>Gift vouchers will be sent to your specified recipients by email.</div>
		<div class="row" id="productoptions">
			[%cart_vouchers type:'voucher'%]
				[%param *body%]
					<div class="col-xs-12">
						<hr />
						<a name="voucher[@reward_id@]"></a>
						<h4>#[@item_count@] [@vprogram_title@] - [%if [@show_points@]%][%format type:'number' dp:'0' sp:','%][@reward_points@][%/format%]pts[%else%][%format type:'currency'%][@reward_amount@][%/format%][%/if%]</h4>
						<div class="form-group row">
							<div class="col-sm-6">
								<p>Sender Name <span class="text-danger">*</span></p>
								<p class="muted">The name of the person sending the voucher</p>
							</div>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="voucher_sender[@reward_id@]" value="[%nohtml%][@sender_name@][%/nohtml%]">
								<span class="sherror" ref="voucher_sender[@reward_id@]">* Required</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<p>Recipient Name <span class="text-danger">*</span></p>
								<p class="muted">The name of the person receiving the voucher</p>
							</div>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="voucher_name[@reward_id@]" value="[%nohtml%][@recipient_name@][%/nohtml%]">
								<span class="sherror" ref="voucher_name[@reward_id@]">* Required</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<p>Recipient Email<span class="text-danger">*</span></p>
								<p class="muted">The e-voucher will be sent to this email address</p>
							</div>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="voucher_email[@reward_id@]" value="[%nohtml%][@recipient_email@][%/nohtml%]">
								<span class="sherror" ref="voucher_email[@reward_id@]">* Required</span>
								<span class="sherror" ref="invalid_voucher_email[@reward_id@]">* Invalid</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<p>Send Voucher On This Date &amp; Time:</p>
								<p class="muted">Leave blank to send ASAP or select a date and time</p>
							</div>
							<div class="btn-stack">
								<div class="col-sm-2 col-xs-12">
									<input type="text" class="datepicker form-control" name="voucher_rdate[@reward_id@]" value="[%nohtml%][@required_date_day@][%/nohtml%]" placeholder="Select Date">
								</div>
								<div class="col-sm-2 col-xs-12">
									<select class="form-control" name="voucher_rdate[@reward_id@]_hr">
										<option value=""></option>
										<option value="1" [%if [@required_date_12hr@] == '1'%]selected[%/if%]>1</option>
										<option value="2" [%if [@required_date_12hr@] == '2'%]selected[%/if%]>2</option>
										<option value="3" [%if [@required_date_12hr@] == '3'%]selected[%/if%]>3</option>
										<option value="4" [%if [@required_date_12hr@] == '4'%]selected[%/if%]>4</option>
										<option value="5" [%if [@required_date_12hr@] == '5'%]selected[%/if%]>5</option>
										<option value="6" [%if [@required_date_12hr@] == '6'%]selected[%/if%]>6</option>
										<option value="7" [%if [@required_date_12hr@] == '7'%]selected[%/if%]>7</option>
										<option value="8" [%if [@required_date_12hr@] == '8'%]selected[%/if%]>8</option>
										<option value="9" [%if [@required_date_12hr@] == '9'%]selected[%/if%]>9</option>
										<option value="10" [%if [@required_date_12hr@] == '10'%]selected[%/if%]>10</option>
										<option value="11" [%if [@required_date_12hr@] == '11'%]selected[%/if%]>11</option>
										<option value="12" [%if [@required_date_12hr@] == '12'%]selected[%/if%]>12</option>
									</select>
								</div>
								<div class="col-sm-2 col-xs-12">
									<select class="form-control" name="voucher_rdate[@reward_id@]_am">
										<option value=""></option>
										<option value="am" [%if [@required_date_am@] eq 'am'%]selected[%/if%]>am</option>
										<option value="pm" [%if [@required_date_am@] eq 'pm'%]selected[%/if%]>pm</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<p>Gift Voucher Message<span class="text-danger">*</span></p>
								<p class="muted">The message that appears on the gift voucher email</p>
							</div>
							<div class="col-sm-6">
								<textarea name="voucher_msg[@reward_id@]" class="inputtext form-control" id="voucher_msg[@reward_id@]" wrap="soft">[%nohtml%][@gift_message@][%/nohtml%]</textarea>
								<div class="inputtext_count">
									<span id="voucher_msg[@reward_id@]ctr" ref="[@config:VOUCHER_MSG_LENGTH@]">[@config:VOUCHER_MSG_LENGTH@]</span> Character(s) Left
								</div>
								<span class="sherror" ref="voucher_msg[@reward_id@]">*Required</span>
							</div>
						</div>
						<!--[%if [@count@] eq '0'%]
							<div>
								<a href="javascript:void(0);" class="copy_btn btn btn-default" ref="[@reward_id@]">Copy details from this voucher to all vouchers</a>
							</div>
						[%/if%]-->
					</div>
				[%/param%]
			[%/cart_vouchers%]
		</div>
		<div class="row">
			<div class="col-xs-12">
				<input class="submit_btn btn btn-success btn-lg pull-right" type="button" value="Continue To Checkout"/>
			</div>
		</div>
	</form>
</div>
[%GA_FUNNEL%]/purchase/voucher.html[%END GA_FUNNEL%]
