<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%url page:'account' /%]">My Account</a></li>
		</ol>
	</nav>
	<div class="page-header"><h1> Forgotten username?</h1></div>
	[%if [@error@]%]<div class="alert alert-danger alert-dismissible fade show" role="alert">[@error@]
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
	[%/if%]
	<p class="help-block"> Please enter your e-mail address below and we will send you your username by e-mail.</p>
	<form method="POST" action="[%url page:'account' type:'forgotusr' /%]">
		<input type="hidden" name="fn" value="proc">
		<div class="row">
			<div class="form-group col-md-6">
				<label>Email Address</label>
				<input class="form-control" name="email" size="30" value="">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<input type="submit" name="login" value="Send Me My Username" class="btn btn-success btn-block">
			</div>
		</div>
	</form>
</div>
