<div class="col-xs-12">
	<ul class="breadcrumb">
		<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
		<li><a href="[%url page:'account' /%]">${customer.breadcrumb_name}</a></li>
	</ul>
	<div class="page-header">
		<h1> ${customer.forgotusr.template.title}</h1>
	</div>
	[%if [@error@]%]
	<div class="alert alert-danger"> <a class="close" data-dismiss="alert">×</a>
		<p>[@error@]</p>
	</div>
	[%/if%]
	<p class="help-block"> ${customer.forgotusr.template.help}</p>
	<form method="POST" action="[%url page:'account' type:'forgotusr' /%]">
		<input type="hidden" name="fn" value="proc">
		<div class="row">
			<div class="form-group col-md-6">
				<label>${customer.forgotusr.template.email}</label>
				<input class="form-control" name="email" size="30" value="">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<input type="submit" name="login" value="${customer.forgotusr.template.send_btn}" class="btn btn-success btn-block">
			</div>
		</div>
	</form>
</div>
