<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%URL page:'account'%][%/ URL%]">My Account</a></li>
		</ol>
	</nav>
	<div class="page-header"><h1>Pay Now</h1></div>
	[%DATA id:'error' if:'ne' value:''%]<div class="alert alert-danger"> <a class="close" data-dismiss="alert">×</a> [@error@] </div>[%/ DATA%]
	[%DATA id:'msg' if:'ne' value:''%]<div class="alert alert-success"> <a class="close" data-dismiss="alert">×</a> [@msg@] </div>[%/ DATA%]
	<form action="[%URL page:'account' type:'pay_order'%][%/ URL%]" method="post" name="itemForm">
		<input type="hidden" name="id" value="[@order_id@]">
		<input type="hidden" name="order_email" value="[@order_email@]">
		<input type="hidden" name="fn" value="confirm">
		<input type="hidden" name="action" value="paynow">
		<input type="hidden" name="grand_total" value="[@grand_total@]">
		<input type="hidden" name="paid_total" value="[@paid_total@]">
		<h3>Pay By Credit Card</h3>
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="form-group">
					<label>Select your payment method</label>
					<select class="form-control" name="card_type" onChange="showPD()">
						<option value="" selected>Select an option</option>
						[%payment_methods charge_type:'cc' sortby:'sortorder,name' show_account:'1' no_surcharge:'[@config:NO_BULK_PAY_SURCHARGE@]' payment_amount:'[@amount_owed@]'%]
						[%PARAM *body%]
						<option value="[@id@]:[@charge_type@]">[@name@]</option>
						[%/ PARAM%]
						[%/ payment_methods%]
					</select>
				</div>
			</div>
			<div class="col-12 col-md-6 offset-md-2">
				<div id="payccpl">
					<div class="card card-body">
						<div class="form-group">
							<label>Card Holder</label>
							<input placeholder="John Smith" class="form-control" name="card_holder" size="30" maxlength="40" value="">
						</div>
						<div class="form-group">
							<label>Card Number</label>
							<input placeholder="xxxx-xxxx-xxxx-xxxx" class="form-control" name="card_number" size="16" maxlength="16" value="">
							<p class="help-text">(only digits)</p>
						</div>
						<div class="form-group row mb-0">
							<div class="col-12">
								<label>Card Expiration Date</label>
							</div>
							<div class="col-12 col-md-4">
							<label>Month</label>
								<select name="card_exp_month" class="form-control">
									<option value=""></option>
									[%months%][%PARAM *body%]
									<option value="[@month@]">[@month@]</option>
									[%/ PARAM%][%/ months%]
								</select>
							</div>
							<div class="col-12 col-md-4">
							<label>Year</label>
								<select name="card_exp_year" class="form-control">
									<option value=""></option>
									[%years from:'+0' to:'+10'%][%PARAM *body%]
									<option value="[@year@]">[@year@]</option>
									[%/ PARAM%][%/ years%]
								</select>
							</div>
							<div class="col-12 col-md-4">
								<label>Card CCID</label>
								<input name="card_ccid" size="5" class="form-control">
								<p class="help-text">(3-4 digit security code)</p>
							</div>
						</div>
					</div>
					<div class="form-group mt-2">
						<label>Enter Amount You Want To Pay Now</label>
						<input placeholder="[@config:currency_symbol@]0.00" class="form-control" type="text" name="amount_paid" value="[@amount_paid@]" size="15">
					</div>
					<input type="button" class="btn btn-block btn-success" onclick="proc_pay()" value="Process Credit Card Payment">
				</div>
			</div>
		</div>
	</form>
	<hr>
	<script language="javascript" type="text/javascript">
		function showPD() {
			var f = document.itemForm;
			var obj = f['card_type'];
			var pl = document.getElementById('payccpl');
			if(obj && pl){
				var val= obj.options[obj.selectedIndex].value;
				pl.style.display = (val.indexOf(':cc')>0? '': 'none');
			}
		}
		function proc_pay() {
			var f = document.itemForm;
			if(f) {
				var r = f['amount_paid'];
				var rv = parseFloat(r.value);
				if(!isNaN(rv) && rv > 0) {
					var cdt = f['card_type'];

					if(cdt.selectedIndex > 0) {
						var pn = cdt.options[cdt.selectedIndex].text;
						var received = f['amount_paid'];
						if(confirm('You are about to authorise [@config:currency_symbol@]'+received.value+' received from \''+pn+'\' to this order.\n'+
							'\nDo you wish to continue?')) {
							var s = document.getElementById('processing');
							if(s) {
								s.style.display='block';
							}
							f.submit();
						}
					} else {
						alert('Please select a payment method.');
					}
				} else {
					alert('Please enter a payment amount.');
				}
			}
		}
		showPD();
	</script>
	<div align="center" id="processing" style=" display:none; border:#060 solid 4px; padding:8px; font-size:18px; font-weight:bold; position:absolute; z-index:10; background-color:#E6FEAB; width:600px; left: 300px; top: 349px;"> Payment Processing.<br />
		Please do not refresh or close this page.<br />
		<img src="[@config:ASSETS_URL@]/loading.gif" alt="Loading"/>
	</div>
	[%print_order id:'[@order_id@]'%][%/ print_order%]
</div>
