<div class="col-xs-12">
<ul class="breadcrumb" role="navigation" aria-label="${general.breadcrumb}">
<li><a href="[@config:home_url@]">${general.breadcrumbs_home}</a></li>
<li><a href="[%URL page:'account'%][%END URL%]">${customer.breadcrumb_name}</a></li>
<li><a href="#">${customer.favourites.breadcrumb_name}</a></li>
</ul>
<div class="page-header">
<h1>${customer.favourites.title}</h1>
</div>
<!--##[%THUMB_LIST type:'favourites' template:'' show_child_products:'1' limit:'28'%]
[%PARAM *header%]##-->
<p>
${customer.favourites.paragraph}
</p>
<!--#Start Pagination# ##-->
<div class="text-center">
<ul class="pagination" role="navigation" aria-label="Pagination For Reorders">
<!--##[%paging limit:'3'%]
[%PARAM *previous_page%]##--><li><a href="[@URL@]" aria-label="Go Back 1 Page">Previous Page</a></li><!--##[%END PARAM%]
[%PARAM *goback_pages%]##--><li><a href="[@URL@]" aria-label="Go To Page [@PAGE@]">[@PAGE@]</a></li><!--##[%END PARAM%]
[%PARAM *current_page%]##--><li class="active"><a href="[@URL@]" aria-label="Current Page">[@PAGE@]</a></li><!--##[%END PARAM%]
[%PARAM *gonext_pages%]##--><li><a href="[@URL@]" aria-label="Go To Page [@PAGE@]">[@PAGE@]</a></li><!--##[%END PARAM%]
[%PARAM *next_page%]##--><li><a href="[@URL@]" aria-label="Go Forward 1 Page">Next Page</a></li><!--##[%END PARAM%]
[%END paging%]##-->
</ul>
</div>

<div class="row">
<!--##[%END PARAM%]
[%PARAM *footer%]##-->
</div>



<!--#End Pagination# ##-->
<!--##[%END PARAM%]
[%PARAM *ifempty%]##-->

<p>
${customer.favourites.favourites_empty}</p>
<!--##[%END PARAM%]
[%END thumb_list%]##-->

</div>
