[%cdn_asset html:'1' type:'js' library:'skeletal' version:'4.4.0'%]vendor.js[%/cdn_asset%]
[%cdn_asset html:'1' type:'js' library:'jquery_ui' version:'1.12.1'%]jquery-ui.min.js[%/cdn_asset%]
[%NETO_JS html:'1' id:'main' /%]
<script type="text/javascript" src="[%ntheme_asset%]js/custom.js[%/ntheme_asset%]"></script>
[%SITE_VALUE id:'footer_javascript' type:'load'/%]
[%if [@form:disable_scripts@] ne 'true'%][%tracking_code type:'Visitor' /%][%/if%]
<div class="npopup" style="" role="alertdialog" aria-atomic="true" aria-label="Popup" aria-describedby="npopupDesc" tabindex="-1">
	<a href="javascript:void(0);" class="npopup-btn-close" role="button" aria-label="Close popup"></a>
	<div class="npopup-body" id="npopupDesc"></div>
</div>
<div class="nactivity"><i class="fa fa-spinner fa-spin fa-inverse fa-3x fa-fw"></i></div>
<script>
	if ('serviceWorker' in navigator) {
		window.addEventListener('load', function() {
			navigator.serviceWorker.register('[%ntheme_asset%]sw.js[%/ntheme_asset%]').then(function(registration) {
			// Registration was successful
			console.log('ServiceWorker registration successful with scope: ', registration.scope);
			}, function(err) {
			// registration failed :(
			console.log('ServiceWorker registration failed: ', err);
			});
		});
		let deferredPrompt;

		function showPrompt(){
			// Show the prompt
			deferredPrompt.prompt();
			// Wait for the user to respond to the prompt
			deferredPrompt.userChoice.then((choiceResult) => {
				if (choiceResult.outcome === 'accepted') {
					console.log('User accepted the A2HS prompt');
				} else {
					console.log('User dismissed the A2HS prompt');
				}
				deferredPrompt = null;
			});
		};

		window.addEventListener('beforeinstallprompt', (e) => {
			// Prevent Chrome 67 and earlier from automatically showing the prompt
			e.preventDefault();
			// Stash the event so it can be triggered later.
			deferredPrompt = e;
			// Update UI notify the user they can add to home screen
			showPrompt();
		});

		window.addEventListener('appinstalled', (evt) => {
			console.log('a2hs installed');
		});
	}
</script>