// Thumbnail
.savings-container {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
// dropdown hover support
@include media-breakpoint-up(md) {
	.dropdown-hover{
		&:hover > .dropdown-menu {
			display: block;
		}
	}
}
.dropdown-menu-horizontal {
	top: -8px;
	left: 100%;
}
// Social icons
.list-social{
	a {
		font-size:1.25rem;
		color:#474949;
		&:hover {
			text-decoration: none;
			color: black;
		}
	}
}
.text-facebook {
	color: #3b5998;
}
.text-twitter {
	color: #00acee;
}
.text-google-plus {
	color: #dd4b39;
}
.text-youtube {
	color: #c4302b;
}
.text-instagram {
	color: #3f729b;
}
.text-pinterest {
	color: #c8232c;
}
.text-tumblr {
	color: #34526f;
}
.text-linkedin {
	color: #0e76a8;
}
// Payment icons
.payment-icon-container {
	padding:10px;
	background:#EFEFEF;
	border-radius:3px;
	display:inline-block;
	height:50px;
}
.payment-icon {
	width:60px;
	background-image: url('//cdn.neto.com.au/assets/neto-cdn/skeletal/3.1.0/paymenticons.svg');
	background-size:60px;
}
.payment-icon-paypal {
	height:16px;
	background-position:0px 0px;
	margin-top:8px;
}
.payment-icon-bpay {
	height:18px;
	background-position:0px -17px;
	margin-top:6px;
}
.payment-icon-moneyorder {
	margin-top:3px;
	height:22px;
	background-position:0px -35px;
}
.payment-icon-cheque {
	margin-top:8px;
	height:13px;
	background-position:0px -58px;
}
.payment-icon-directdeposit {
	margin-top:-4px;
	height:38px;
	background-position:0px -72px;
}
.payment-icon-americanexpress {
	margin-top:5px;
	height:21px;
	background-position:0px -110px;
}
.payment-icon-mastercard {
	margin-top:-3px;
	height:36px;
	background-position:0px -132px;
}
.payment-icon-visa {
	margin-top:6px;
	height:18px;
	background-position:0px -168px;
}
.payment-icon-diners {
	margin-top:7px;
	height:17px;
	background-position:0px -197px;
}
.payment-icon-discover {
	margin-top:10px;
	height:10px;
	background-position:0px -187px;
}
.payment-icon-afterpay {
	margin-top:10px;
	height:13px;
	background-position:0px -213px;
}
.payment-icon-q-card {
	margin-top: 0px;
	height: 35px;
	background-position: 0px -244px;
}
.payment-icon-paymark {
	margin-top: 7px;
	height: 18px;
	background-position: 0px -226px;
}
.payment-icon-zipmoney {
	margin-top: 2px;
	height: 30px;
	background-position: 0px 30px;
}
.payment-icon-zippay {
	margin-top: 7px;
	height: 18px;
	background-position: 0px 49px;
}
// Fix for jquery UI
.price_range {
	color: inherit !important;
}
.ui-widget-header {
	background: $gray-500 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover, .ui-state-focus,
.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid $gray-600 !important;
	background: $gray-500 !important;
}
// Shopping Cart Popup
#neto-dropdown {
	width: 250px;
	a {
		padding: 0;
	}
	#cartcontents{
		padding: 10px;
	}
}
.thumb_cart{
	button{
		margin-top:20px;
		&.checkout {
			float:right;
		}
	}
	ul {
		text-align: left;
		list-style-type:none;
		margin:0;
		padding:0;
	}
	li {
		border-bottom:1px solid #EEE;
		padding:10px 0px;
		font-size:11px;
		overflow:auto;
	}
	.left {
		float:left;
		margin-right:5px;
		width:50px;
		img {
			width:50px;
			height:50px;
		}
	}
	.right {
		width:170px;
		float:left;
		a {
			white-space: normal;
			clear:none;
		}
	}
}
// npopup
.successaddmessage {
	padding: 0!important;
	width: auto !important;
	.header {
		font-size:18px;
		font-weight:bold;
		margin-bottom:10px;
	}
	.body {
		padding:5px;
		margin-bottom:10px;
		.image {
			width: 20%em;
			float:left;
			height: 3em;
			img {
				max-width: 100%;
				max-height: 100%;
				height: auto;
				width: auto;
			}
		}
		.description {
			float:left;
			width: 75%;
			height: 3em;
			line-height: 3em;
			overflow: hidden;
		}
	}
	.footer {
		margin-bottom:5px;
		.left {
			float:left;
		}
		.right {
			float:right;
			text-align:right;
		}
	}
	@include media-breakpoint-down(sm) {
		.left, .right {
			float: none !important;
			display: inline;
		}
	}
}
.successaddmessageclear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.anpopup {
	position: fixed !important;
}
.npopup {
	display:none;
	position: relative;
	text-shadow: none;
	background:#FFF;
	border-radius: 4px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	height:auto;
	width: 500px !important;
	margin:0;
	z-index:10000;
	.npopup-body {
		height:auto;
		overflow:auto;
		width:auto;
		padding:10px;
	}
	.npopup-btn-close {
		position: absolute;
		top: -18px;
		right: -18px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		z-index: 8040;
	}
	.npopup-continue {
		margin-right: 10px;
	}
	.npopup-btn-close {
		background-image: url('/assets/npopup_sprite.png');
	}
	@include media-breakpoint-down(sm) {
		.npopup {
			width: auto !important;
			max-width: 80%;
		}
		.npopup-continue, .npopup-checkout, .npopup-view {
			display: block;
			width: 100%;
			margin: 0;
		}
		.npopup-continue, .npopup-view {
			margin-bottom: 10px;
		}
	}
}
// Product page main image
.main-image a > .zoom {
	@include media-breakpoint-down(sm) {
		pointer-events: none;
	}
}
// Product page qty input
#n_product .qty {
	text-align: center;
}
#main-image {
	max-width: 100%;
	height: auto;
	&.component-var-thumb {
		width:100%;
	}
}
// Product thumbnail row
.products-row{
	@extend .justify-content-center;
	@extend .justify-content-sm-start;
}
// Cart
.cartTable {
	tbody tr td {
		vertical-align: middle;
	}
	.row > div {
		display: inline-block;
	}
	.cartTable--heading-quantity,
	.cartTable--heading-price,
	.cartTable--column-image {
		@include media-breakpoint-up(md) {
			width: 100px;
		}
	}
}
// Add margin to stacked btns
.btn-stack .col-12 + .col-12 {
	@include media-breakpoint-down(sm) {
		margin-top: 5px;
	}
}
// Fixing issues with inputs
#suburb_sl, ._itmspec_opt, .n-wrapper-form-control select{
	@extend .form-control;
	@extend select.form-control;
}
// Search Loading
.search_loading_icon {
	position: absolute;
	display: none !important;
}
// Search Dropdown
.nsearchinput-pl.well {
	position: absolute;
	z-index: 100001;
	padding:0;
	width: 100%;
	border-color: $dropdown-border-color;
	background-color: white;
	margin-top: 44px !important;
	ul{
		display: block;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;
	}
	li {
		position: relative;
		display: block;
		a{
			position: relative;
			display: block;
			padding: 10px 15px;
			&:hover, &:focus {
				background: $dropdown-link-hover-bg;
			}
		}
		img {
			margin-right: 10px;
		}
	}
}
// Content images
.n-responsive-content img {
	max-width: 100% !important;
}
// Utility classess
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.block-center {margin:0 auto;}
.text-center {text-align:center !important;}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.float_right {float:right !important;}
.float_left {float:left !important;}
.disable-interactivity { pointer-events: none; }
.btn .fa { pointer-events:none; }
.nactivity{ display: none; }
.btn-default{
	@extend .btn-outline-secondary;
}
.hidden{
	@extend .d-none;
}
// logo
.logo {
	max-width: 100%;
}
.wrapper-logo {
	text-align: center;
}
// Ad Placeholders
.neto-placeholder {
	padding: 110px 0;
	font-size: 30px;
}
.neto-placeholder-rotator {
	display: block;
	background: $gray-200;
	color: $gray-600;
	text-align: center;
	&:hover {
		color: $gray-500;
		text-decoration: none;
	}
}
// Add Bootstrap3 text shadow for carousel
.carousel-caption{
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	.btn {
		text-shadow: none;
	}
}
// Auto hide google conversion frames
[name="google_conversion_frame"] {
	pointer-events: none;
	position: absolute;
}
// Checkout styles
.ajaxloader {
	background: #CCC url(/assets/icons/ajax-loader.gif) no-repeat 50% 50%;
	border-radius:5px;
	opacity: .7;
}
#credit_apply_display, #_cpy_login_pl_login,
#_cpy_login_pl_none, #_cpy_login_pl_register,
#_cpy_checkout_pl, #_cpy_checkout_pl,
#_cpy_login_pl, #_cpy_goback_pl,
._cpy_voucher, ._cpy_credit_table,
._cpy_thirdparty_msg, ._cpy_paydesc,
._cpy_plandesc, ._cpy_comment,
._cpy_vouchermsg {
	display:none;
}
._step {border-bottom:1px solid #EEE; padding-bottom:10px; padding-left:5px;}
._step_no {font-weight:bold; font-size:21px; margin-bottom:5px;}
._step_desc { color:#999; font-size:14px;}
._terms {margin-top:10px;}
.payment_options ul { margin:0px; padding:0px; list-style:none;}
.payment_options li{ float:left; width:55px; height:32px; padding-top:5px; padding-bottom:5px;}
._cpy_comment_pl { padding:5px; margin-bottom:5px; }
._order_total {color:#090;}
._cpy_balancedue {color:#090;}
#_cpy_payment_pl { margin-bottom:8px;}
#_cpy_plan_pl { margin-bottom:8px;}
#_macart_pl table tr td select {margin-bottom:5px;}
#_macart_pl table tr td {vertical-align:middle !important; padding:2px; padding-top:10px;}
#_macart_pl table {margin-top:15px;}
._sh_post_sel { background:#FFFFFF; border:1px solid #CCCCCC; padding:4px;}
._sh_post_sel ul { list-style:none; margin:0px; padding:0px;}
._sh_post_sel li { padding:2px;}
input[readonly] {background:#EFEFEF; color:666;}
._cpy_credit_table TD { vertical-align:top;}
// Footer
.wrapper-footer{
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
}
