[%TRIM inner:'1'%]
	[%PARAM body%]
		[%show_message name:"update_error"%]
			[%PARAM header%]
				<center><div align="left" style="width:700px;" class="errorbox"><ul>
			[%END PARAM%]
			[%PARAM *body%]
				<li>
					[%if [@msg@] eq 'missing_bill_first_name' %]Billing First name is required.
						[%elseif [@msg@] eq 'missing_bill_last_name' %]Billing Last name is required.
						[%elseif [@msg@] eq 'missing_bill_street' %]Billing Street Address is required.
						[%elseif [@msg@] eq 'missing_bill_zip' %]Billing Post Code is required.
						[%elseif [@msg@] eq 'missing_bill_city' %]Billing City is required.
						[%elseif [@msg@] eq 'missing_bill_state' %]Billing State is required.
						[%elseif [@msg@] eq 'missing_bill_phone' %]Billing Phone is required.
						[%elseif [@msg@] eq 'invalid_bill_phone' %]Billing Phone is invalid.
						[%elseif [@msg@] eq 'invalid_bill_fax' %]Billing Fax is invalid.
						[%elseif [@msg@] eq 'missing_ship_first_name' %]First name is required.
						[%elseif [@msg@] eq 'missing_ship_last_name' %]Last name is required.
						[%elseif [@msg@] eq 'missing_ship_street' %]Street Address is required.
						[%elseif [@msg@] eq 'missing_ship_zip' %]Post Code is required.
						[%elseif [@msg@] eq 'missing_ship_city' %]City is required.
						[%elseif [@msg@] eq 'missing_ship_state' %]State is required.
						[%elseif [@msg@] eq 'missing_ship_phone' %]A valid phone number is required. Please enter one below.
						[%elseif [@msg@] eq 'invalid_ship_phone' %]Your phone number is invalid. Please change the number your entered below.
						[%elseif [@msg@] eq 'invalid_ship_fax' %]Your fax number is invalid. Please change the number your entered below.
						[%elseif [@msg@] eq 'invalid_ship_country' %]Sorry! We cannot ship products outside Australia. Please change your address to an Australian address.
						[%elseif [@msg@] eq 'unknown_ship_zip' %]The Post Code '[@ship_zip@]' does not exist in our database. If you continue to get this error please contact us.
						[%elseif [@msg@] eq 'mismatch_ship_zip' %]The Post Code '[@ship_zip@]' does not match your address '[@ship_city@]' '[@ship_state@]'.
						[%elseif [@msg@] eq 'invalid_shipping_method' %]Shipping method is not valid.
						[%elseif [@msg@] eq 'invalid_payment_method' %]Please select your payment method below before continuing.
						[%elseif [@msg@] eq 'process_payment_fail' %]Sorry, We cannot process your payment at the moment. Please try again later or call [@config:COMPANY_PHONE@] during business hours for assistant.
						[%elseif [@msg@] eq 'cannot_process_payment#' %][@error@]
						[%elseif [@msg@] eq 'gateway_error' %]Error processing your card. Please try again or change your payment method. [@error@]
						[%elseif [@msg@] eq 'creditcard_high_risk' %]We are sorry, but your card could not be verified. Please try again or change your payment method. If you believe this is an error, please contact us.
						[%elseif [@msg@] eq 'creditcard_oversea' %]We are sorry, but your card could not be verified. Please try again or change your payment method. If you believe this is an error, please contact us.
						[%elseif [@msg@] eq 'creditcard_declined' %]We are sorry, but your card could not be verified. Please try again or change your payment method. If you believe this is an error, please contact us.
						[%elseif [@msg@] eq 'require_minimum_quantity#' %]You must order minimum of [@min_qty@] [@name@] ([@SKU@]).
						[%elseif [@msg@] eq 'require_maximum_quantity#' %]You can only order maximum of [@max_qty@] [@name@] ([@SKU@]).
						[%elseif [@msg@] eq 'require_quantity_multiplier#' %]You must order [@multiplier_qty@] [@name@] ([@SKU@]) for one box. You are ordering [@qty@] [@name@].
						[%elseif [@msg@] eq 'quantity_not_enough#' %]You must order minimum [@min_qty@] [@name@]. You are ordering [@qty@] [@name@].
						[%elseif [@msg@] eq 'quantity_not_in_range#' %]You must order [@multiplier_qty@] [@name@] for one box. You are ordering [@qty@] [@name@].
						[%elseif [@msg@] eq 'too_many_products' %]Too many products.
						[%elseif [@msg@] eq 'item_not_found' %]The following items are now unavailable or out of stock: '[@SKU@]'.
						[%elseif [@msg@] eq 'item_no_stock' %]Sorry. We don't have enough '[@SKU@]' in stock to fulfill your order. Please change the qty on order in your shopping cart to a lower number and click update. Then try to checkout again.
					[%/ if%]
				</li>
			[%/ PARAM%]
			[%PARAM footer%]
				</ul></div></center><br />
			[%/ PARAM%]
		[%/ show_message%]
		[%show_message name:"create_error"%]
			[%PARAM header%]
				<center><div align="left" style="width:700px;" class="errorbox"><ul>
			[%/ PARAM%]
			[%PARAM *body%]
				<li>
					[%if [@msg@] eq 'request_to_stop' %]You are requesting to stop standing order #[@storder_id@].
						[%elseif [@msg@] eq 'not_active' %]Standing order #[@storder_id@] is not active.
						[%elseif [@msg@] eq 'no_items' %]Standing order #[@storder_id@] is empty.
						[%elseif [@msg@] eq 'shipping_na' %]No delivery method is available for standing order #[@storder_id@] is not active.
						[%elseif [@msg@] eq 'price_changed' %][@grand_total1@] [@grand_total2@] We currently under going website maintenance, please call: [@config:company_phone@] (Mon-Fri 9am-5pm) or Email: [@config:company_email@] to place your order. Or please wait 10-15 minutes before trying again.
						[%elseif [@msg@] eq 'cannot_create_order' %]We currently under going website maintenance, please call: [@config:company_phone@] (Mon-Fri 9am-5pm) or Email: [@config:company_email@] to place your order. Or please wait 10-15 minutes before trying again.
						[%elseif [@msg@] eq 'processing_order' %]Your order is being processed. This may take a few minutes. If you experience difficulties placing your order please call: [@config:company_phone@] or Email: [@config:company_email@]
						[%elseif [@msg@] eq 'page_refreshed' %]Your order is being processed. This may take a few minutes. If you experience difficulties placing your order please call: [@config:company_phone@] or Email: [@config:company_email@]
						[%elseif [@msg@] eq 'not_enough_credit' %]We are sorry, but your account credit could not be verified. Please check your current account credit and try again. If you believe this is an error, please contact us
						[%elseif [@msg@] eq 'invalid_payment_method' %]Please select your payment method below before continuing.
						[%elseif [@msg@] eq 'over_payment_max' %]We are sorry, you can only use [@name@] for orders less than [%FORMAT type:'currency'%][@max@][%END FORMAT%].
						[%elseif [@msg@] eq 'process_payment_fail' %]Sorry, We cannot process your payment at the moment. Please try again later or call [@config:COMPANY_PHONE@] during business hours for assistant.
						[%elseif [@msg@] eq 'cannot_process_payment#' %][@error@]
						[%elseif [@msg@] eq 'gateway_error' %]Error processing your card. Please try again or change your payment method. [@error@]
						[%elseif [@msg@] eq 'creditcard_high_risk' %]We are sorry, but your card could not be verified. Please try again or change your payment method. If you believe this is an error, please contact us.
						[%elseif [@msg@] eq 'creditcard_oversea' %]We are sorry, but your card could not be verified. Please try again or change your payment method. If you believe this is an error, please contact us.
						[%elseif [@msg@] eq 'creditcard_declined' %]We are sorry, but your card could not be verified. Please try again or change your payment method. If you believe this is an error, please contact us.
					[%/if%]
				</li>
			[%/ PARAM%]
			[%PARAM footer%]
				</ul></div></center><br />
			[%/ PARAM%]
		[%/ show_message%]
	[%/ PARAM%]
[%/ TRIM%]
