[%load_template file:"includes/sidebar.template.html"/%]
<div class="col-xs-12">
	<ul class="breadcrumb">
	    <li><a href="[@config:home_url@]">Home</a></li>
	    <li><a href="[%URL page:'account'%][%END URL%]">My Account</a></li>
	    <li><a href="#">Standing Orders</a></li>
	</ul>
	<h1>Standing Orders</h1>
	<form class="form-horizontal" method="get" action="[%URL page:'account' type:'standing_orders'%][%END URL%]">
		<div class="form-group">
		    <label class="col-xs-12 col-sm-3">Search for standing orders by order ID, invoice number or PO number:</label>
			<div class="col-xs-12 col-sm-6">
				<input type="text" class="form-control" name="ord" value="[%nohtml%][%FORM id:'ord'%][%END FORM%][%END nohtml%]" size="10">
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-3">Status:</label>
			<div class="col-xs-12 col-sm-6">
				<select class="form-control" name="sts">
					<option value="">Show All</option>
					<option value="y" [%form id:'sts' if:'eq' value:'y'%]selected[%/form%]>Active</option>
					<option value="n" [%form id:'sts' if:'eq' value:'n'%]selected[%/form%]>Inactive</option>
				</select>
			</div>
		</div>
		<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search Standing Orders</button>
	</form>
	<hr/>
	[%thumb_list type:'standing_orders' limit:'20'%]
	    [%param filter_1%][%form id:'ord'/%][%/param%]
	    [%param filter_2%][%form id:'sts'/%][%/param%]
	    [%param header%]
	        <table width="100%" class="table table-striped table-bordered table-condensed">
	    		<thead>
	            	<tr>
	            		<th>Standing Order ID</th>
	            		<th>Date Placed</th>
	            		<th>Current Status</th>
	            		<th>Date Started</th>
	            		<th>Amount On Order</th>
	            		<th>Next Delivery</th>
	            		<th>Date Fulfilled</th>
	            		<th>&nbsp;</th>
	            	</tr>
	            </thead>
	    [%/param%]
		[%param *body%]
	    	<tr>
	    		<td><a href="[%URL page:'account' type:'standing_orders' id:'[@storder_id@]'%][%END URL%]">[@storder_id@]</a></td>
	    		<td class="small">[%format type:"date" default:"-" format:"#d #k #Y"%][@date_placed@][%/format%]</td>
	    		<td class="small" nowrap>[@order_status@][%data id:'request_to_stop' if:'=' value:'1'%]<br /><span class="small text-danger">Requesting To Stop</span>[%/data%]</td>
	    		<td class="small">[%format type:"date" default:"-" format:"#d #k #Y"%][@date_start@][%/format%]</td>
	    		<td class="small">[%format type:"currency"%][@grand_total@][%/format%]</td>
	    		<td class="small">[%format type:"date" default:"-" format:"#d #k #Y"%][@date_next@][%/format%]</td>
	    		<td class="small">[%format type:"date" default:"-" format:"#d #k #Y"%][@date_fulfilled@][%/format%]</td>
	    		<td class="small" nowrap>
					<a class="small" href="[%URL page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=send_order'%][%END URL%]">Send Order Now</a> |
	    	        <a class="small" href="[%URL page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=update_items'%][%END URL%]">Edit Order</a>
	            </td>
	    	</tr>
		[%/param%]
		[%param *footer%]
	        </table>
	    [%/param%]
	    [%param ifempty%]
	        <div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>No Standing Orders Found.</div>
	    [%/param%]
	[%/thumb_list%]
</div>
