[%load_template file:"customer/standing_orders/messages.html"/%]
<div class="col-xs-12">
	<h1>Shipping Options</h1>
	<h3>[@ship_country_name@] Post Code [@ship_zip@]</h3>
	<p>If you have not defined a preferred shipping method, the cheapest shipping method has been chosen as default.</p><br/>
	<form method="post" name="SetShipping" action="[%url page:'account' type:'standing_orders' id:'[@storder_id@]'%][%/url%]">
		<input type="hidden" name="action" value="[@current_action@]">
		<input type="hidden" name="previous" value="[@previous_action@]">
		<input type="hidden" name="fn" value="confirm">
		<div class="row">
			<div class="col-xs-12">
				[%standing_order_shipping_methods id:'[@storder_id@]'%]
					[%param *body%]
						<div class="form-group">
							<label>
								<input type="radio" name="ship" value="[@id@]" [%data id:'id' if:'=' value:'[@shipping_method_id@]' %]checked[%/data%]>
								[%if [@shipping_quote@]%]
									P.O.A.
								[%else%]
									[%if [@cost@]%]
										[%format type:"currency"%][@cost@][%/format%]
									[%else%]
										[%if [@na@]%]
											N/A
										[%else%]
											FREE
										[%/if%]
									[%/if%]
								[%/if%]
								- [@shipping_method@]. [@shipping_description@]
							</label>
						</div>
					[%/param%]
					[%param ifempty%]
						Sorry, no shipping methods are available.
						<input type="hidden" name="ship" value="" />
					[%/param%]
				[%/standing_order_shipping_methods%]
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				<hr/>
				<a href="[%url page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=[@previous_action@]'/%]" class="btn btn-lg btn-default">Back</a>
				<button class="btn btn-lg btn-success" alt="Save Changes">Save Changes</button>
			</div>
		</div>
	</form>
</div>
[%ga_funnel%]/purchase/shipping.html[%/ga_funnel%]
