[%load_template file:"customer/standing_orders/messages.html"/%]
<script type="text/javascript" language="javascript">
var httpReq ={};
function updloca(oid) {
	var f = document.itemForm;
	var msg = document.getElementById('suburb_mg'+oid);
	var dis = document.getElementById('suburb_di'+oid);
	var sel = document.getElementById('suburb_sl'+oid);
	var zip = f[oid+'_zip'];
	var city = f[oid+'_city'];
	var state = f[oid+'_state'];
	var country = f[oid+'_country'];

	msg.innerHTML = '<i>Loading...</i>'
	msg.style.display = '';
	dis.style.display = 'none';

	if(country.options[country.selectedIndex].value != '[@config:SELECTORCOUNTRY@]') {
		msg.innerHTML = '<i>Please enter your city and state below.</i>';
		city.readOnly = state.readOnly = false;
		city.style.color = state.style.color = '#000000';
	} else {
		zip.value = zip.value.replace(new RegExp('\\D','g'), '').substr(0,4);

		city.readOnly = state.readOnly = true;
		city.style.color = state.style.color = '#666666';
		if( zip.value == '' ) {
			msg.innerHTML = '<i>Please enter your postal code above.</i>';
		} else {
			var url = '[@config:secure_home_url@]/do/get_locate?zip='+escape(zip.value);
			httpReq[oid] = ajax_XMLHttpRequest();
			if(!httpReq[oid]) {
				msg.innerHTML = '<i>Error. Please contact our customer support: [@config:COMPANY_EMAIL@]</i>';
			} else {
				httpReq[oid].onreadystatechange = function() {
					if(httpReq[oid].readyState == 4 && httpReq[oid].status == 200) {
						var data = httpReq[oid].responseText.split('\n');
						sub_ldsel(oid,data);
					}
				};
				httpReq[oid].open("GET",url,true);
				httpReq[oid].send(null);
			}
		}
	}
}

function sub_ldsel(oid,data) {
	var f = document.itemForm;
	var dis = document.getElementById('suburb_di'+oid);
	var msg = document.getElementById('suburb_mg'+oid);
	var city = f[oid+'_city'];
	var state = f[oid+'_state'];

	var count = 0;
	if(data.length > 0) {
		var option = '<option value="">-- Select Suburb --</option>';
		var sel_value = city.value.toUpperCase()+' - '+state.value;
		for(var i=0; i<data.length; i++) {
			if(data[i] != '') {
				option += '<option value="'+data[i]+'"'+(data[i] == sel_value? ' selected':'')+'>'+data[i]+'</option>';
				count++;
			}
		}
	}
	if(count <= 0) {
		msg.innerHTML = '<span class="text-danger">Invalid Post Code.</span>';
		dis.style.display = 'none';
		msg.style.display = '';
	} else {
		dis.innerHTML = '<select id="suburb_sl'+oid+'" onChange="sub_sel(\''+oid+'\')">'+option+'</select>';
		msg.style.display = 'none';
		dis.style.display = '';

		sub_sel(oid);
	}
}

function sub_sel(oid) {
	var f = document.itemForm;
	var sel = document.getElementById('suburb_sl'+oid);
	var city = f[oid+'_city'];
	var state = f[oid+'_state'];
	if(sel) {
		if(sel.selectedIndex > 0) {
			var sp = sel.options[sel.selectedIndex].value.split(' - ');
			if( sp.length > 1 ) {
				state.value = sp[sp.length-1];
				city.value = (sp.slice(0,sp.length-1)).join(' - ');
			}
		}
	}
}
</script>
<div class="col-xs-12">
	<h1>Please Enter Billing Address For Standing Order #[@storder_id@]</h1>
	<form method="post" name="itemForm" action="[%url page:'account' type:'standing_orders' id:'[@storder_id@]'/%]">
		<input type="hidden" name="action" value="[@current_action@]">
		<input type="hidden" name="previous" value="[@previous_action@]">
		<input type="hidden" name="fn" value="confirm">
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>First Name</label>
				<input name="bill_first_name" class="form-control" maxlength="50" value="[@bill_first_name@]">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>Last Name</label>
				<input name="bill_last_name" class="form-control" maxlength="50" value="[@bill_last_name@]">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>Company</label>
				<input name="bill_company" class="form-control" maxlength="50" value="[@bill_company@]">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>Address</label>
				<input name="bill_street1" class="form-control" maxlength="50" value="[@bill_street1@]"><br/>
				<input name="bill_street2" class="form-control" maxlength="50" value="[@bill_street2@]">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>Post Code</label>
				<input name="bill_zip" class="form-control" value="[@bill_zip@]" maxlength="10" onChange="updloca('bill')" onKeyUp="updloca('bill')">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>Suburb Selector</label>
				<div id="suburb_dibill">&nbsp;</div><div style="display:none;" id="suburb_mgbill">&nbsp;</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>City</label>
				<input type="text" class="form-control" name="bill_city" readonly="1" style="color:#666666;" value="[@bill_city@]" maxlength="50">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>State</label>
				<input type="text" class="form-control" name="bill_state" readonly="1" style="color:#666666;" value="[@bill_state@]" maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>Country</label>
				<select name="bill_country" class="form-control" size="1" onChange="updloca('bill')">
					[%countries%]
						[%param *body%]
							<option value="[@country_code@]" [%data id:'country_code' if:'eq' value:'[@bill_country@]'%]selected[%/data%]>[@country_name@]</option>
						[%/param%]
					[%/countries%]
				</select>
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>Phone Number</label>
				<input type="text" class="form-control" name="bill_phone" maxlength="50" value="[@bill_phone@]">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>
					Use this address as my billing address.
					<input name="bill_to_ship" type="checkbox" checked>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				<hr/>
				<a href="[%url page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=[@previous_action@]'/%]" class="btn btn-lg btn-default">Back</a>
				<button class="btn btn-lg btn-success" alt="Save Changes">Save Changes</button>
			</div>
		</div>
	</form>
</div>
<script language="javascript" type="text/javascript">
	updloca('bill');
</script>
