[%load_template file:"customer/standing_orders/messages.html"/%]
<script type="text/javascript" language="javascript">
var httpReq ={};
function updloca(oid) {
	var f = document.itemForm;
	var msg = document.getElementById('suburb_mg'+oid);
	var dis = document.getElementById('suburb_di'+oid);
	var sel = document.getElementById('suburb_sl'+oid);
	var zip = f[oid+'_zip'];
	var city = f[oid+'_city'];
	var state = f[oid+'_state'];
	var country = f[oid+'_country'];

	msg.innerHTML = '<i>Loading...</i>'
	msg.style.display = '';
	dis.style.display = 'none';

	if(country.options[country.selectedIndex].value != '[@config:SELECTORCOUNTRY@]') {
		msg.innerHTML = '<i>Please enter your city and state below.</i>';
		city.readOnly = state.readOnly = false;
		city.style.color = state.style.color = '#000000';
	} else {
		zip.value = zip.value.replace(new RegExp('\\D','g'), '').substr(0,4);

		city.readOnly = state.readOnly = true;
		city.style.color = state.style.color = '#666666';
		if( zip.value == '' ) {
			msg.innerHTML = '<i>Please enter your postal code above.</i>';
		} else {
			var url = '[@config:secure_home_url@]/do/get_locate?zip='+escape(zip.value);
			httpReq[oid] = ajax_XMLHttpRequest();
			if(!httpReq[oid]) {
				msg.innerHTML = '<i>Error. Please contact our customer support: [@config:COMPANY_EMAIL@]</i>';
			} else {
				httpReq[oid].onreadystatechange = function() {
					if(httpReq[oid].readyState == 4 && httpReq[oid].status == 200) {
						var data = httpReq[oid].responseText.split('\n');
						sub_ldsel(oid,data);
					}
				};
				httpReq[oid].open("GET",url,true);
				httpReq[oid].send(null);
			}
		}
	}
}

function sub_ldsel(oid,data) {
	var f = document.itemForm;
	var dis = document.getElementById('suburb_di'+oid);
	var msg = document.getElementById('suburb_mg'+oid);
	var city = f[oid+'_city'];
	var state = f[oid+'_state'];

	var count = 0;
	if(data.length > 0) {
		var option = '<option value="">-- Select Suburb --</option>';
		var sel_value = city.value.toUpperCase()+' - '+state.value;
		for(var i=0; i<data.length; i++) {
			if(data[i] != '') {
				option += '<option value="'+data[i]+'"'+(data[i] == sel_value? ' selected':'')+'>'+data[i]+'</option>';
				count++;
			}
		}
	}
	if(count <= 0) {
		msg.innerHTML = '<span class="text-danger">Invalid Post Code.</span>';
		dis.style.display = 'none';
		msg.style.display = '';
	} else {
		dis.innerHTML = '<select id="suburb_sl'+oid+'" onChange="sub_sel(\''+oid+'\')">'+option+'</select>';
		msg.style.display = 'none';
		dis.style.display = '';

		sub_sel(oid);
	}
}

function sub_sel(oid) {
	var f = document.itemForm;
	var sel = document.getElementById('suburb_sl'+oid);
	var city = f[oid+'_city'];
	var state = f[oid+'_state'];
	if(sel) {
		if(sel.selectedIndex > 0) {
			var sp = sel.options[sel.selectedIndex].value.split(' - ');
			if( sp.length > 1 ) {
				state.value = sp[sp.length-1];
				city.value = (sp.slice(0,sp.length-1)).join(' - ');
			}
		}
	}
}

function chaddr() {
	var obj = document.getElementById('ship_address_sel');
	if(obj.selectedIndex>0){
		document.AddrBook.ship_address.value=obj.options[obj.selectedIndex].value;
		document.AddrBook.submit();
	}
}
</script>
<div class="col-xs-12">
	<h1>Please Enter Shipping Address For Standing Order #[@storder_id@]</h1>
	<form method="post" name="AddrBook" action="[%URL page:'account' type:'standing_orders' id:'[@storder_id@]'%][%/URL%]">
		<input type="hidden" name="action" value="[@current_action@]">
		<input type="hidden" name="previous" value="[@previous_action@]">
		<input type="hidden" name="fn" value="ship_address">
		<input type="hidden" name="ship_address" value="">
	</form>
	<form method="post" name="itemForm" action="[%URL page:'account' type:'standing_orders' id:'[@storder_id@]'%][%/URL%]">
		<input type="hidden" name="action" value="[@current_action@]">
		<input type="hidden" name="previous" value="[@previous_action@]">
		<input type="hidden" name="fn" value="shipping">
		<div class="row">
			<div class="form-group col-xs-12">
				<label>Buying this for your work or business? Enter your purchase order number below.</label>
				<input name="customer_po" class="form-control" maxlength="50" value="[@customer_po@]">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12">
				<label>Confirm Your Ship To Address.</label>
				<label>Choose From Your Address Book.</label>
				<select type="text" class="form-control" id="ship_address_sel">
	                <option value="" class='form-control'></option>
					[%address_book%]
						[%param *body%]
							<option value="[@id@]" [%data id:'id' if:'eq' value:'[@address_book@]'%]selected[%/data%]>[@ship_title@] ([@ship_zip@])</option>
						[%/param%]
					[%/address_book%]
				</select><br/>
				<input type="button" class="btn btn-primary pull-right" value="Confirm Address" onClick="chaddr()">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>First Name</label>
	            <input name="ship_first_name" class="form-control" maxlength="50" value="[@ship_first_name@]">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>Last Name</label>
				<input name="ship_last_name" class="form-control" maxlength="50" value="[@ship_last_name@]">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>Company</label>
	            <input name="ship_company" class="form-control" maxlength="50" value="[@ship_company@]">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>Address</label>
				<input name="ship_street1" class="form-control" maxlength="50" value="[@ship_street1@]"><br/>
				<input name="ship_street2" class="form-control" maxlength="50" value="[@ship_street2@]">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>Post Code</label>
	            <input name="ship_zip" class="form-control" value="[@ship_zip@]" maxlength="10" onChange="updloca('ship')" onKeyUp="updloca('ship')">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>Suburb Selector</label>
				<div id="suburb_diship">&nbsp;</div>
				<div style="display:none;" id="suburb_mgship">&nbsp;</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>Phone Number</label>
				<input name="ship_phone" class="form-control" maxlength="50" value="[@ship_phone@]">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>City</label>
	            <input type="text" class="form-control" name="ship_city" readonly="1" style="color:#666666;" value="[@ship_city@]" maxlength="50">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-sm-6">
				<label>State</label>
				<input type="text" name="ship_state" class="form-control" readonly="1" style="color:#666666;" value="[@ship_state@]" maxlength="50">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
				<label>Country</label>
				<select name="ship_country" class="form-control" onChange="updloca('ship')">
					[%countries%]
						[%param *body%]
							[%data id:'country_code' if:'eq' value:'[@ship_country@]'%]<option value="[@country_code@]" selected>[@country_name@]</option>[%/data%]
						[%/param%]
					[%/countries%]
	            </select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				<hr/>
				<a href="[%url page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=[@previous_action@]'/%]" class="btn btn-lg btn-default">Back</a>
				<button class="btn btn-lg btn-success" alt="Save Changes">Save Changes</button>
			</div>
		</div>
	</form>
</div>
<script language="javascript" type="text/javascript">updloca('ship');</script>
