[%load_template file:"customer/standing_orders/messages.html"/%]
<script type="text/javascript" language="javascript">
function selectPayment() {
	var i=0;
	var obj = document.getElementById('payment'+i);
	var chk = -1;
	while(obj && chk>=0) {
		if(obj.checked) {
			chk = i;
		}
		i++; obj = document.getElementById('plan'+i);
	}

	if(chk>=0) {
		var chr = document.getElementById('charge'+i);
		var detailcc = document.getElementById('pdetail_cc');
		if(chr.value == 'cc') {
			detailcc.style.display = '';
		} else {
			detailcc.style.display = 'none';
		}
	}
}
</script>
<div class="col-xs-12">
<form method="post" action="[%url page:'account' type:'standing_orders' id:'[@storder_id@]'/%]">
	<input type="hidden" name="action" value="[@current_action@]">
	<input type="hidden" name="previous" value="[@previous_action@]">
	<input type="hidden" name="fn" value="confirm">
	<h3>How Would You Like To Pay For This Order?</h3>
	[%payment_methods sortby:'sortorder,name' repeat_only:'1'%]
		[%param *body%]
			<div id="pay_name[@count@]">
				<input type="radio" name="payment" id="payment[@count@]" value="[@id@]" [%data id:'id' if:'=' value:'[@payment_method@]'%]checked[%/data%] onclick="selectPayment()"> <b>[@name@]</b>
			</div>
			<div id="pay_desc[@count@]">
				<input type="hidden" id="charge[@count@]" value="[@charge_type@]">
				[%if [@name@] like 'American Express'%]
					<div class="media">
						<div class="payment-icon-container pull-left">
							<div class="payment-icon payment-icon-americanexpress"></div>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Pay by American Express on our secure site. Your card will be processed by the [@config:COMPANY_BANK_NAME@].</h4>
						</div>
					</div>
				[%/if%]
				[%if [@name@] like 'Visa'%]
					<div class="media">
						<div class="payment-icon-container pull-left">
							<div class="payment-icon payment-icon-visa"></div>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Pay by Visa Card on our secure site. Your card will be processed by the [@config:COMPANY_BANK_NAME@].</h4>
						</div>
					</div>
				[%/if%]
				[%if [@name@] like 'Master Card'%]
					<div class="media">
						<div class="payment-icon-container pull-left">
							<div class="payment-icon payment-icon-mastercard"></div>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Pay by Master Card on our secure site. Your card will be processed by the [@config:COMPANY_BANK_NAME@].</h4>
						</div>
					</div>
				[%/if%]
				[%if [@name@] like 'Discover'%]
					<div class="media">
						<div class="payment-icon-container pull-left">
							<div class="payment-icon payment-icon-discover"></div>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Your credit card has already been processed.</h4>
						</div>
					</div>
				[%/if%]
				[%if [@name@] like 'Cheque'%]
					<div class="media">
						<div class="payment-icon-container pull-left">
							<div class="payment-icon payment-icon-cheque"></div>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Please s/your Cheque to:</h4>
							<p>[@config:company_name@]</p>
							<p>
								[%if [@CONFIG:COMPANY_POADDR@]%]
									[@CONFIG:COMPANY_POADDR@]
								[%else%]
									[@CONFIG:COMPANY_ADDR@]
								[%/if%]
							</p>
							<p>Please include your full name and order number so that we can easily locate your order for fast processing.</p>
						</div>
					</div>
				[%/if%]
				[%if [@name@] like 'Money Order'%]
					<div class="media">
						<div class="payment-icon-container pull-left">
							<div class="payment-icon payment-icon-moneyorder"></div>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Please s/your money order to :</h4>
							<p>[@config:company_name@]</p>
							<p>
								[%if [@CONFIG:COMPANY_POADDR@]%]
									[@CONFIG:COMPANY_POADDR@]
								[%else%]
									[@CONFIG:COMPANY_ADDR@]
								[%/if%]
							</p>
							<p>Please include your full name and order number so that we can easily locate your order.</p>
						</div>
					</div>
				[%/if%]
				[%if [@name@] like 'Direct Deposit'%]
					<div class="media">
						<div class="payment-icon-container pull-left">
							<div class="payment-icon payment-icon-directdeposit"></div>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Please deposit your total order amount to :</h4>
							<h5>[@config:company_bank_name@]</h5>
							<p><b>Name:</b> [@config:company_bank_acc@]</p>
							<p><b>BSB: </b>[@config:company_bank_bsb@]</p>
							<p><b>Ac/no:</b>[@config:company_bank_num@]</p>
							<p>Please leave your order number or last name as a payment reference.</p>
							<p>Once you have deposited the full amount, please email [@config:company_email@] with your order number to confirm your payment.</p>
						</div>
					</div>
				[%/if%]
				[%if [@name@] like 'bpay'%]
					<div class="media">
						<div class="payment-icon-container pull-left">
							<div class="payment-icon payment-icon-bpay"></div>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Biller Code: [@config:bpay_biller_code@]<br>
							Ref: [@bpay_crn@]</h4>
							<h5>Telephone &amp; Internet Banking - BPAY</h5>
							<p>Contact your bank, credit union or building sociey to make this payment from your cheque, savings or credit card account. More info: <a href="http://www.bpay.com.au" target="_blank">www.bpay.com.au</a></p>
						</div>
					</div>
				[%/if%]
				[%if [@name@] like 'PayPal'%]
					<div class="media">
						<div class="payment-icon-container pull-left">
							<div class="payment-icon payment-icon-paypal"></div>
						</div>
						<div class="media-body">
							<h4 class="media-heading">The safer, easier way to pay. If you select to pay via PayPal, we'll s/you to PayPal's website to complete payment. You will have the opportunity to pay with Visa, Mastercard or your Paypal account balance.</h4>
						</div>
					</div>
				[%/if%]
				[%if [@name@] like 'Account'%]
					<h3>[@config:company_name@] Account </h3>
				[%/if%]
			[%/param%]
		[%/payment_methods%]
		<h4>Your Payment Details</h4>
		<div class="row row-padded">
			<div class="form-group">
				<div class="col-xs-12 col-sm-6">
					<label>Card Number</label>
					<input name="card_number" class="form-control" maxlength="16" value="">
				</div>
				<div class="col-xs-12 col-sm-6">
					<label>Card Holder's Name</label>
					<input name="card_holder" class="form-control" maxlength="40" value="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-xs-12 col-sm-6">
					<label>Card Expiration Date</label>
					<div class="row">
						<div class="col-xs-6">
							<select class="form-control" id="card_exp_month" name="card_exp_month">
								<option value=""></option>
								[%months%]
									[%param *body%]
										<option value="[@month@]">[@month@]</option>
									[%/param%]
								[%/months%]
							</select>
						</div>
						<div class="col-xs-6">
							<select class="form-control" name="card_exp_year">
								<option value=""></option>
								[%years from:'+0' to:'+10'%]
									[%param *body%]
										<option value="[@year@]">[@year@]</option>
									[%/param%]
								[%/years%]
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<label>CCV</label>
					<input name="card_ccid" class="form-control">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				<hr/>
				<a href="[%url page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=[@previous_action@]'/%]" class="btn btn-lg btn-default">Back</a>
				<button alt="Save Changes" class="btn btn-lg btn-success">Confirm Order</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" language="javascript">
selectPayment();
</script>
