[%load_template file:"customer/standing_orders/messages.html"/%]
<script type="text/javascript" language="javascript">
function rmcart (id) {
	var obj = document.getElementById(id);
	if(obj) {
		obj.value="0";
	}
	document.SetItems.submit();
}
function saveChanges() {
	if(confirm("Confirm Changes?")) {
		document.SetItems['fn'].value = 'confirm';
		document.SetItems.submit();
	}
}
function updateChanges() {
	document.SetItems.submit();
}
function addItem(ctr) {
	var fm = document.AddItems;
	var addqty = document.getElementById('addqty'+ctr);
	var addsku = document.getElementById('addsku'+ctr);
	if(fm && addqty && addsku) {
		var qty = fm['qty0'];
		var sku = fm['sku0'];
		if(qty && sku) {
			qty.value = addqty.value;
			sku.value = addsku.value;
			fm.submit();
		}
	}
}
</script>
<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-12">
			<h1>Standing Order #[@storder_id@]</h1>
			[%if [@customer_po@]%]
				<h3>Purchase Order Number: [%nohtml%][@customer_po@][%/nohtml%]</h3><br/>
			[%/if%]
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form method="post" name="SetItems" action="[%url page:'account' type:'standing_orders' id:'[@storder_id@]'/%]">
				<input type="hidden" name="action" value="[@current_action@]">
				<input type="hidden" name="fn" value="update">
				[%standing_order_items id:'[@storder_id@]' show_cart:'1'%]
					[%param *header%]
						<h3>Order Status</h3>
						<p>
							<span class="label [%if [@order_status@] eq 'Active'%]label-success[%elseif [@order_status@] eq 'Inactive' || [@order_status@] like 'waiting approval'%]label-warning[%else%]label-danger[%/if%]">
								[@order_status@]
							</span>
						</p>
						<p>
							Next Delivery: [%format type:'date'%][@date_next@][%/format%]<br/>
							Total Orders: [%format type:'number'%][@total_orders_created@][%/format%]<br/>
							Total Spent: [%format type:'currency'%][@total_money_spent@][%/format%]<br/>
							[%data id:'fulfilled' if:'=' value:'1'%]
								Date Fulfilled: [%format type:'date'%][@date_fulfilled@][%/format%]
							[%/data%]
						</p>
						[%if [@request_to_stop@]%]
							<p class="text-danger"><strong>You've requested to stop this standing order.</strong></p>
						[%/if%]
						<hr/>
						<h3>Items On Order</h3>
						<table class="table">
							<thead>
								<tr>
									<th colspan="2">Product</th>
									<th>QTY</th>
									<th>Price</th>
									<th>Discounts</th>
									<th>Subtotal</th>
								</tr>
							</thead>
							<tbody>
					[%/param%]
					[%param *body%]
						<tr>
							<td><img width="50" height="50" src="[%asset_url type:'item' id:'[@SKU@]' thumb:'thumb'%][%/asset_url%]"></td>
							<td>
								[@model@] <i>[@extra@]</i>
								[%if [@aff_id@] eq [@config:aff_rental_id@]%]
									<strong>Rental</strong>
								[%elseif [@aff_id@] eq [@config:aff_ebay_id@]%]
									<br/><strong>eBay ID: [@aff_ref@]</strong>
								[%elseif [@aff_id@] eq [@config:aff_free_id@]%]
									<br/><strong>Free Gift</strong>
								[%/if%]
							</td>
							<td>
								[%if [@editable@]%]
									<div class="form-inline">
										<div class="form-group">
											<input name="line[@count@]" type="hidden" value="[@counter@]">
											<input name="sku[@count@]" type="hidden" value="[@SKU@]">
											<input id="qty[@count@]" class="form-control" type="text" name="qty[@count@]" value="[@qty@]">
											<a href="javascript:rmcart('qty[@count@]');" class="btn btn-primary"><i class="fa fa-close"></i> Remove Product</a>
										</div>
									</div>
								[%else%]
									[@qty@]
								[%/if%]
							</td>
							<td>
								[%format type:'currency'%][@price@][%/format%]
							</td>
							<td>
								[%if [@discount@]%]
									[%format type:'currency'%]-[@discount@][%/format%]
								[%/if%]
							</td>
							<td>[%format type:'currency'%][@subtotal@][%/format%]</td>
						</tr>
					[%/param%]
					[%param *footer%]
						<tr>
							<td colspan="6" style="text-align:right">
								<strong>Order Subtotal: </strong>[%format type:'currency'%][@product_total@][%/format%]<br/>
								[%if [@fixed_shipping_cost@]%]
									<strong>Total Shipping: </strong>[%format type:'currency'%][@shipping_total@][%/format%]<br/>
								[%/if%]
								[%if [@discount_total@]%]
									<strong>Total Discount: </strong>-[%format type:'currency'%][@discount_total@][%/format%]<br/>
								[%/if%]
								[%if [@notax@] eq 0%]
									<strong>GST [%data id:'tax_inc' if:'eq' value:'y' %]Inc[%/data%]: </strong>[%format type:'currency'%][@tax_total@][%/format%]<br/>
								[%/if%]
								<strong>Order Total: </strong>[%format type:'currency'%][@grand_total@][%/format%]
							</td>
						</tr>
						</tbody>
						</table>
						<hr/>
						</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								[%if [@shipping_method_id@]%]
									<h3>Delivery Method</h3>
									<p><strong>Delivery Method: </strong>[@shipping_method@]</p>
									[%if [@fixed_shipping_cost@]%]
										<p><strong>Shipping Total: </strong>[%format type:'currency'%][@shipping_total@][%/format%]</p>
									[%/if%]
									<a href="[%url page:'account' type:'standing_orders' id:'[@storder_id@]' qs:'action=update_shipping'/%]" class="btn btn-primary">Change Delivery Method</a>
								[%/if%]
							</div>
							[%if [@couponcode@]%]
								<div class="col-xs-12 col-sm-6">
									<h3>Special Pricing Arrangements / Discounts</h3>
									<p><strong>Coupon code: </strong>[@couponcode@]</p>
									<p>Special pricing arrangements / discounts will be calculated at time of order.</p>
								</div>
							[%/if%]
						</div>
					[%/param%]
				[%/standing_order_items%]
			</form>
			<div class="row">
				<div class="col-xs-12">
					<hr/>
				</div>
			</div>
			[@usr_group@]
			[%thumb_list type:'storder_products' limit:'100'%]
				[%param group_id%][@usr_group@][%/param%]
				[%param *header%]
					<div class="row">
						<div class="col-xs-12">
							<form method="post" name="AddItems" action="[%url page:'account' type:'standing_orders' id:'[@storder_id@]'%][%/url%]">
								<input type="hidden" name="action" value="update_items">
								<input type="hidden" name="fn" value="add">
								<input type="hidden" name="qty0" value="">
								<input type="hidden" name="sku0" value="">
							</form>
							<h3>Add Items</h3>
							<table class="table">
								<thead>
									<tr>
										<th colspan="2">Product</th>
										<th>Price</th>
										<th>Order Quantity</th>
									</tr>
								</thead>
								<tbody>
				[%/param%]
				[%param *body%]
					<tr>
						<td><img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" alt="[@model@]" width="50px" height="50px"></td>
						<td>
							[@model@]
							[%if [@subtitle@]%]
								[@subtitle@]
							[%/if%]
						</td>
						<td>[%format type:'currency'%][@store_price@][%/format%]</td>
						<td>
							<div class="form-inline">
								<div class="form-group">
									<input type="text"  id="addqty[@count@]" value="" class="form-control">
									<input type="hidden" id="addsku[@count@]" value="[@sku@]">
									<button name="Update" value="Add Item" class="btn btn-primary" onclick="addItem([@count@])"><i class="fa fa-plus"></i> Add Product</a>
								</div>
							</div>
						</td>
				[%/param%]
				[%param *footer%]
					</tbody>
				</table>
				<hr/>
				</div>
				</div>
				[%/param%]
			[%/thumb_list%]
			<div class="row">
				<div class="col-xs-12 text-right">
					<a href="[%url page:'account' type:'standing_orders'%][%/url%]" class="btn btn-lg btn-default">Back</a>
					<button alt="Update Changes" class="btn btn-lg btn-success" onclick="updateChanges()">Update Changes</button>
					<button alt="Save Changes" class="btn btn-lg btn-success" onclick="saveChanges()">Save Changes</button>
				</div>
			</div>
		</div>
