[%load_template file:"customer/standing_orders/messages.html"/%]
<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%url page:'account'/%]">My account</a></li>
		<li class="breadcrumb-item"><a href="[%url page:'account' type:'standing_orders'/%]">Standing orders</a></li>
		<li class="breadcrumb-item"><a href="[%url page:'account' type:'standing_orders' id:'[@storder_id@]'/%]">Standing order #[@storder_id@]</a></li>
	</ol>
</nav>
[%show_standing_order id:'[@storder_id@]'%]
	[%param *header%]
		<div class="row">
			<div class="col-12">
				<h1>Standing Order #[@storder_id@]</h1>
				[%if [@customer_po@]%]
					<h3>Purchase Order Number: [%nohtml%][@customer_po@][%/nohtml%]</h3><br/>
				[%/if%]
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6">
				<h3>Billing address</h3>
				<p>
					[@bill_first_name@] [@bill_last_name@]<br/>
					[%if [@bill_company@]%][@bill_company@]<br/>[%/if%]
					[%if [@bill_street1@]%][@bill_street1@]<br/>[%/if%]
					[%if [@bill_street2@]%][@bill_street2@]<br/>[%/if%]
					[@bill_city@], [@bill_state_name@] [@bill_zip@]<br/>
					[@bill_country_name@]<br/>
					[@bill_phone@]<br/>
				</p>
			</div>
			<div class="col-12 col-md-6">
				<h3>Shipping address</h3>
				<p>
					[@ship_first_name@] [@ship_last_name@]<br/>
					[%if [@ship_company@]%][@ship_company@]<br/>[%/if%]
					[%if [@ship_street1@]%][@ship_street1@]<br/>[%/if%]
					[%if [@ship_street2@]%][@ship_street2@]<br/>[%/if%]
					[@ship_city@], [@ship_state_name@] [@ship_zip@]<br/>
					[@ship_country_name@]<br/>
					[@ship_phone@]<br/>
				</p>
			</div>
			<div class="col-12"><hr/></div>
		</div>
		<div class="row">
			<div class="col-12">
				<h3>Order Status</h3>
				<p>
					<span class="badge [%if [@order_status@] eq 'Active'%]badge-success[%elseif [@order_status@] eq 'Inactive' || [@order_status@] like 'waiting approval'%]badge-warning[%else%]badge-danger[%/if%]">
						[@order_status@]
					</span>
				</p>
				<p>
					Next Delivery: [%format type:'date'%][@date_next@][%/format%]<br/>
					Total Orders: [%format type:'number'%][@total_orders_created@][%/format%]<br/>
					Total Spent: [%format type:'currency'%][@total_money_spent@][%/format%]<br/>
					[%data id:'fulfilled' if:'=' value:'1'%]
						Date Fulfilled: [%format type:'date'%][@date_fulfilled@][%/format%]
					[%/data%]
				</p>
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				[%show_standing_order id:'[@storder_id@]' rental_only:'1'%]
					[%param *header%]
						<h3>Rental Products</h3>
						<table class="table">
							<thead>
								<tr>
									<th>Qty</th>
									<th>Product</th>
								</tr>
							</thead>
							<tbody>
					[%/param%]
					[%param *body%]
							<tr>
								<td>[@qty@]</td>
								<td>
									<img width="50" height="50" src="[%asset_url type:'item' id:'[@sku@]' thumb:'thumb'/%]">
									[@model@] <i>[@extra@]</i>
									[%if [@aff_id@] eq [@config:aff_rental_id@]%]
										<strong>Rental</strong>
									[%elseif [@aff_id@] eq [@config:aff_ebay_id@]%]
										<br/><strong>eBay ID: [@aff_ref@]</strong>
									[%elseif [@aff_id@] eq [@config:aff_free_id@]%]
										<br/><strong>Free Gift</strong>
									[%/if%]
								</td>
							</tr>
					[%/param%]
					[%param *footer%]
						</tbody>
					</table>
					[%/param%]
				[%/show_standing_order%]
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h3>Order Summary</h3>
				[%if [@terms_type@] ne 'once'%]
					<p>Order ships every <strong>[@terms_num_times@] [@terms_type@](s) </strong>from <strong>[%format type:'date'%][@date_start@][%/format%]</strong>.</p>
				[%/if%]
				[%if [@payment_terms_type@] ne 'once'%]
					<p>Payment will be processed every <strong>[@payment_terms_num_times@] [@payment_terms_type@](s) </strong>from time of order.</p>
				[%/if%]
				<table class="table">
					<thead>
						<tr>
							<th>SKU</th>
							<th>Product</th>
							<th>QTY</th>
							<th>Price</th>
							<th>Discounts</th>
							<th>Subtotal</th>
						</tr>
					</thead>
					<tbody>
[%/param%]
[%param *body%]
	<tr>
		<td>[@sku@]</td>
		<td>[@model@] <i>[@extra@]</i>
			[%if [@aff_id@] eq [@config:aff_rental_id@]%]
				<strong>Rental</strong>
			[%elseif [@aff_id@] eq [@config:aff_ebay_id@]%]
				<br/><strong>eBay ID: [@aff_ref@]</strong>
			[%elseif [@aff_id@] eq [@config:aff_free_id@]%]
				<br/><strong>Free Gift</strong>
			[%/if%]
		</td>
		<td>[@qty@]</td>
		<td>[%format type:'currency'%][@price@][%/format%]</td>
		<td>
			[%if [@discount@]%]
				[%format type:'currency'%]-[@discount@][%/format%]
			[%/if%]
		</td>
		<td>[%format type:'currency'%][@subtotal@][%/format%]</td>
	</tr>
[%/param%]
[%param *footer%]
	<tr>
		<td colspan="6" style="text-align:right">
			<strong>Order Subtotal: </strong>[%format type:'currency'%][@product_total@][%/format%]<br/>
			[%if [@fixed_shipping_cost@]%]
				<strong>Total Shipping: </strong>[%format type:'currency'%][@shipping_total@][%/format%]<br/>
			[%/if%]
			[%if [@discount_total@]%]
				<strong>Total Discount: </strong>-[%format type:'currency'%][@discount_total@][%/format%]<br/>
			[%/if%]
			[%if [@notax@] eq 0%]
				<strong>[%if [@config:PRIMARY_TAX_LABEL@]%][@config:PRIMARY_TAX_LABEL@][%else%]GST[%/if%] [%data id:'tax_inc' if:'eq' value:'y' %]Inc[%/data%]: </strong>[%format type:'currency'%][@tax_total@][%/format%]<br/>
			[%/if%]
			<strong>Order Total: </strong>[%format type:'currency'%][@grand_total@][%/format%]
		</td>
	</tr>
</tbody>
</table>
<hr/>
			</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			[%if [@shipping_method_id@]%]
				<h3>Delivery Method</h3>
				<p><strong>Delivery Method: </strong>[@shipping_method@]</p>
				[%if [@fixed_shipping_cost@]%]
					<p><strong>Shipping Total: </strong>[%format type:'currency'%][@shipping_total@][%/format%]</p>
				[%/if%]
			[%/if%]
		</div>
		<div class="col-12 col-md-6">
			<h3>Payment Instructions</h3>
			[%payment_methods id:'[@payment_method@]'%]
				[%param *body%]
					<p><strong>Payment Method: </strong>[@name@]</p>
					<p>
						[%if [@name@] like 'American Express' || [@name@] like 'visa' || [@name@] like 'Master Card' || [@name@] like 'Mastercard'%]
							Your [@name@] will be processed automatically.
						[%/if%]
						[%if [@charge_type@] eq 'cc'%]
							Card Holder: [@card_holder@]<br/>
							Card Number: [@card_number@]</br/>
							Card Expires Date: [@card_exp_month@] / [@card_exp_year@]
						[%/if%]
					</p>
				[%/param%]
				[%param *ifempty%]
					No payment method is selected.
				[%/param%]
			[%/payment_methods%]
		</div>
	</div>
[%/param%]
[%/show_standing_order%]
</div>
