<div class="col-12">
	<nav aria-label="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="[@config:home_url@]">Home</a></li>
		<li class="breadcrumb-item"><a href="[%url page:'account'/%]">My Account</a></li>
		</ol>
	</nav>
	<div class="page-header"><h1>Vouchers &amp; Rewards</h1></div>
	[%active_vouchers%]
	[%param *header%]
		<table class="table table-bordered table-striped" cellpadding="2" cellspacing="0" width="100%" border="0">
		<thead>
			<tr>
				<th>Description</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody>
	[%/ param%]
	[%param *body%]
		<tr>
			<td width="90%"><b>[@vprogram_title@]</b><br />
			[%DATA id:'vprogram_subtitle' if:'ne' value:''%][@vprogram_subtitle@]<br />[%/ DATA%]([@voucher_code@])</td>
			<td nowrap>
				[%format type:'currency'%][@reward_amount@][%/ format%]
				[%DATA id:'show_points' if:'==' value:'1'%]([%format type:'number' dp:'0' sp:','%][@reward_points@][%/ format%] pts)[%/ DATA%]
			</td>
		</tr>
	[%/ param%]
	[%param *footer%]
		</table>
	[%/ param%]
	[%param ifempty%]No vouchers or rewards are available.[%/ param%]
	[%/ active_vouchers%]
</div>
