<section class="account-summary">
<div class="col-xs-12">
	<ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList" role="navigation" aria-label="${general.breadcrumb}">
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="[@config:home_url@]" itemprop="item"><span itemprop="name">${general.breadcrumbs_home}</span></a>
		</li>
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="[%url page:'account'/%]" itemprop="item"><span itemprop="name">${customer.breadcrumb_name}</span></a>
		</li>
	</ul>
	<div class="page-header">
		<h1>${customer.account_summary_title}</h1>
		<p>
			<strong>${customer.welcome} [@bill_first_name@] [@bill_last_name@] [%if [@bill_company@]%]- [@bill_company@][%/if%]</strong>
			(<a href="[%url page:'account' type:'logout'/%]">${customer.log_out}</a>)
		</p>
		[%if [@user:credit_limit@] > 0%]
			<p>${customer.credit_limit} <strong>[%format type:"currency"%][@credit_limit@][%/format%]</strong></p>
		[%/if%]
		[%if [@user:credit@]%]
			<p>${customer.available_credit} <strong>[%format type:'currency'%][@credit@][%/format%]</strong></p>
		[%/if%]
	</div>
</div>
<section class="col-xs-12" aria-label="${customer.account_options}">
	<h2 class="sr-only">${customer.account_options}</h2>
	<div class="row">
		[%if ![@user:email@]%]
			<div class="col-xs-12">
				<div class="alert alert-danger">
					<a class="close" data-dismiss="alert">×</a> ${customer.no_email_title} <br />
					<a href="[%url page:'account' type:'edit_account'/%]">${customer.no_email_link}</a>
				</div>
			</div>
		[%/if%]
		[%if [@unresolve_dispute@]%]
			<div class="col-xs-12">
				<div class="alert alert-warning"> <a class="close" data-dismiss="alert">×</a> ${customer.unresolve_dispute_title}<br />
					<a href="[%url page:'account' type:'warranty'/%]">${customer.unresolve_dispute_link}</a>
				</div>
			</div>
		[%/if%]
		[%if [@config:allow_quote_approval@]%]
			<div class="col-xs-12 col-md-4">
				<a class="btn btn-default btn-lg btn-block" href="[%url page:'account' type:'approve_quote'/%]">
					<p><i class="fa fa-thumbs-up" aria-hidden="true"></i> ${customer.allow_quote_approval_title} </p>
					<p class="text-muted small">${customer.allow_quote_approval_link}</p>
				</a>
				<br>
			</div>
		[%/if%]
		[%if [@config:customer_view_docs@]%]
			<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.customer_view_docs_title}">
				<a class="btn btn-default btn-lg btn-block" href="[%url page:'account' type:'documents'/%]">
					<h3><i class="fa fa-folder-open" aria-hidden="true"></i> ${customer.customer_view_docs_title}</h3>
					<p class="text-muted small">${customer.customer_view_docs_link}</p>
				</a>
				<br>
			</div>
		[%/if%]
		<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.edit_account_title}">
			<a class="btn btn-default btn-lg btn-block" href="[%url page:'account' type:'edit_account'/%]#contact">
				<h3><i class="fa fa-pencil" aria-hidden="true"></i> ${customer.edit_account_title}</h3>
				<p class="text-muted small">${customer.edit_account_link}</p>
			</a>
			<br>
		</div>
		<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.edit_address_title}">
			<a class="btn btn-default btn-lg btn-block" href="[%url page:'account' type:'edit_address'/%]">
				<h3><i class="fa fa-book" aria-hidden="true"></i> ${customer.edit_address_title}</h3>
				<p class="text-muted small">${customer.edit_address_link}</p>
			</a>
			<br>
		</div>
		<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.edit_pwd_title}">
			<a class="btn btn-default btn-lg btn-block" href="[%url page:'account' type:'edit_pwd'/%]">
			<h3><i class="fa fa-lock" aria-hidden="true"></i> ${customer.edit_pwd_title}</h3>
			<p class="text-muted small">${customer.edit_pwd_link}</p>
			</a><br>
		</div>
		<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.payrec_title}">
		<a class="btn btn-default btn-lg btn-block" href="[%url page:'account' type:'payrec'/%]">
			<h3><i class="fa fa-credit-card" aria-hidden="true"></i> ${customer.payrec_title}</h3>
			<p class="text-muted small">${customer.payrec_link}</p>
			</a>
			<br>
		</div>
		<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.orders_title}">
			<a class="btn btn-default btn-lg btn-block" href="[%url page:'account'/%]#orders">
				<h3><i class="fa fa-folder" aria-hidden="true"></i> ${customer.orders_title}</h3>
				<p class="text-muted small">${customer.payrec_link}</p>
			</a>
			<br>
		</div>
		[%thumb_list type:'standing_orders' limit:'1'%]
			[%param filter_1%][%form id:'ord'/%][%/param%]
			[%param filter_2%][%form id:'sts'/%][%/param%]
			[%param *body%]
				<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.standing_orders_title}"> <a class="btn btn-default btn-lg btn-block"  href="[%url page:'account' type:'standing_orders'/%]">
					<h3><i class="fa fa-refresh" aria-hidden="true"></i> ${customer.standing_orders_title}</h3>
					<p class="text-muted small">${customer.standing_orders_link}</p>
					</a>
					<br>
				</div>
			[%/param%]
		[%/thumb_list%]
		<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.quotes_title}">
		<a class="btn btn-default btn-lg btn-block" href="[%url page:'account'/%]#quotes">
			<h3><i class="fa fa-folder-o" aria-hidden="true"></i> ${customer.quotes_title}</h3>
			<p class="text-muted small">${customer.quotes_link}</p>
			</a>
			<br>
		</div>
		[%if [@config:show_wishlist@]%]
			<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.wishlist_title}">
				<a class="btn btn-default btn-lg btn-block"  href="[%url page:'account' type:'wishlist'/%]">
					<h3><i class="fa fa-star" aria-hidden="true"></i> ${customer.wishlist_title}</h3>
					<p class="text-muted small">${customer.wishlist_link}</p>
				</a>
				<br>
			</div>
		[%/if%]
		<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.warranty_title}">
			<a class="btn btn-default btn-lg btn-block" href="[%url page:'account' type:'warranty'/%]">
				<h3><i class="fa fa-info-circle" aria-hidden="true"></i> ${customer.warranty_title}</strong></h3>
				<p class="text-muted small">${customer.warranty_link}</p>
			</a>
			<br>
		</div>
		<div class="col-xs-12 col-md-4" role="article" aria-label="${customer.favourites_title}">
			<a class="btn btn-default btn-lg btn-block" href="[%url page:'account' type:'favourites'/%]">
				<h3><i class="fa fa-truck" aria-hidden="true"></i> ${customer.favourites_title}</h3>
				<p class="text-muted small">${customer.favourites_link}</p>
			</a>
			<br>
		</div>
	</div>
</section>
[%active_vouchers%]
	[%param *header%]
		<div class="col-xs-12">
			<hr>
			<h2>${customer.active_vouchers_title}</h2>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>${customer.active_vouchers_description}</th>
						<th>${customer.active_vouchers_balance}</th>
					</tr>
				</thead>
				<tbody>
	[%/param%]
	[%param *body%]
					<tr>
						<td width="90%">
							<strong>[@vprogram_title@]</strong><br />
							[%if [@vprogram_subtitle@]%][@vprogram_subtitle@]<br />[%/if%]
							([@voucher_code@])
						</td>
						<td>
							[%format type:'currency'%][@reward_amount@][%/format%]
							[%if [@show_points@] == 1%]([%format type:'number' dp:'0' sp:','%][@reward_points@][%/format%] pts)[%/if%]
						</td>
					</tr>
	[%/param%]
	[%param *footer%]
			</table>
		</div>
	[%/param%]
[%/active_vouchers%]
<section class="col-xs-12" aria-label="${customer.orders_title}">
	<hr />
	<h2 id="orders">${customer.orders_title}</h2>
	[%thumb_list type:'orders' limit:'10'%]
		[%param filter_1%]
			[%form id:'ord'/%]
		[%/param%]
		[%param header%]
			<div class="row">
		[%/param%]
		[%param *body%]
				<article class="col-xs-12 col-md-4" role="article" aria-label="Order">
					<div class="well">
						<p>
							<a href="[%url page:'account' type:'view_order' id:'[@order_id@]'/%]" aria-label="Order [@order_id@]">[@order_id@]</a>
							<span class="label pull-right
								[%if [@order_status@] eq 'On Hold' or [@order_status@] eq 'Backorder Approved' or [@order_status@] eq 'New Backorder'%]
										label-warning
									[%elseif [@order_status@] eq 'Pick' or [@order_status@] eq 'Pack'%]
										label-info
									[%elseif [@order_status@] eq 'New'%]
										label-primary
									[%elseif [@order_status@] eq 'Dispatched'%]
										label-success
									[%elseif [@order_status@] eq 'Cancelled'%]
										label-danger
								[%/if%]
								">
								[@order_status@]
								[%if [@refund_status@]%]([@refund_status@])[%/if%]
							</span>
						</p>
						<hr>
						<div class="account-order-card">
							<p>${customer.orders_date_placed}<strong>[%format type:"date" default:"-" format:"#d #k #Y"%][@date_placed@][%/format%]</strong></p>
							[%if [@order_status@] ne 'Cancelled'%]<p>${customer.orders_date_due} <strong>[%format type:'date' default:'[@date_due_text@]' format:'#d #k #Y'%][@date_due@][%/format%]</strong></p>[%/if%]
							<p>
								${customer.orders_amount_owed} <strong>[%format type:"currency"%][@amount_owed@][%/format%]</strong>
								[%if [@amount_owed@] <= 0%]<span class="label label-success">${customer.orders_paid_full}</span>[%/if%]
							</p>
						</div>
						<div class="row btn-stack">
							<div class="col-xs-12 col-md-4">
								<button type="button" title="Track Order Number [@order_id@]" class="btn btn-block btn-info" onclick="window.location='[%url page:'account' type:'track_order' id:'[@order_id@]'/%]'">
									<i class="fa fa-road icon-white" aria-hidden="true"></i> ${customer.orders_track}
								</button>
							</div>
							[%if [@amount_owed@] > 0 and [@order_status@] ne 'Cancelled'%]
								<div class="col-xs-12 col-md-4">
									<button type="button" title="Pay Order Number [@order_id@]" class="btn btn-block btn-success" onclick="location.href='[%url page:'account' type:'pay_order' qs:'action=paynow' id:'[@order_id@]'/%]'">
										<i class="fa fa-check icon-white" aria-hidden="true"></i> ${customer.orders_pay}
									</button>
								</div>
							[%/if%]
							<div class="col-xs-12 col-md-4">
								<button type="button" title="Print Order Number [@order_id@]" class="btn btn-default btn-block" onclick="window.location='[%url page:'account' type:'print'/%]/invoice/[@order_id@]'">
									<i class="fa fa-print" aria-hidden="true"></i> ${customer.orders_print}
								</button>
							</div>
						</div>
					</div>
				</article>
		[%/param%]
		[%param *footer%]
			</div>
			[%if [@total_results@] > 15%]
				<div class="text-center">
					<ul class="pagination" role="navigation" aria-label="Orders Pagination Navigation">
						[%paging limit:'3'%]
							[%param *previous_page%]
								<li><a href="[@url@]" aria-label="${general.pagination_previous_page}">${general.pagination_previous_page}</a></li>
							[%/param%]
							[%param *goback_pages%]
								<li><a href="[@url@]" aria-label="Go To Page [@PAGE@]">[@page@]</a></li>
							[%/param%]
							[%param *current_page%]
								<li class="active"><a href="[@url@]" aria-label="Current Page">[@page@]</a></li>
							[%/param%]
							[%param *gonext_pages%]
								<li><a href="[@url@]" aria-label="Go To Page [@PAGE@]">[@page@]</a></li>
							[%/param%]
							[%param *next_page%]
								<li><a href="[@url@]" aria-label="${general.pagination_next_page}">${general.pagination_next_page}</a></li>
							[%/param%]
						[%/paging%]
					</ul>
				</div>
			[%/if%]
		[%/param%]
		[%param ifempty%]
			<p>${customer.orders_empty} </p>
		[%/param%]
	[%/thumb_list%]
</section>
<section class="col-xs-12" aria-label="${customer.quotes_title}">
	<hr />
	<h2 id="quotes">${customer.quotes_title}</h2>
	[%thumb_list limit:'5' type:'quotes'%]
		[%param pgnum%]
			[%form id:'pgquote'/%]
		[%/param%]
		[%param header%]
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>${customer.quotes_id}</th>
						<th>${customer.quotes_date_quoted}</th>
						<th>${customer.quotes_sales_person}</th>
						<th>${customer.quotes_grand_total}</th>
						[%if [@config:allow_quote_approval@]%]
							<th>${customer.quotes_approve}</th>
						[%/if%]
						<th>${customer.quotes_print}</th>
					</tr>
				</thead>
				<tbody>
		[%/param%]
		[%param *body%]
					<tr>
						<td><a href="[%url page:'account' type:'view_order' id:'[@order_id@]'/%]">[@order_id@]</a></td>
						<td>[%format type:"date" default:"-" format:"#d #k #Y"%][@date_placed@][%/format%]</td>
						<td>[@sales_first_name@]&nbsp;[@sales_last_name@]</td>
						<td>[%format type:"currency"%][@grand_total@][%/format%]</td>
						[%if [@config:allow_quote_approval@]%]
							<td><a href="[%url page:'account' type:'approve_quote'/%]" class="btn btn-success"><i class="fa fa-check icon-white" aria-hidden="true"></i> ${customer.quotes_approve}</a></td>
						[%/if%]
						<td><button type="button" class="btn btn-default" onclick="window.location='[%url page:'account' type:'print'/%]/invoice/[@order_id@]'"><i class="fa fa-print" aria-hidden="true"></i> ${customer.quotes_print}</button>
							</a></td>
					</tr>
		[%/param%]
		[%param *footer%]
				</tbody>
			</table>
			[%if [@total_results@] > 15%]
				<div class="text-center">
					<ul class="pagination" role="navigation" aria-label="Quotes Pagination Navigation">
						[%paging limit:'3'%]
							[%param *previous_page%]
								<li><a href="[@url@]">${general.pagination_previous_page}</a></li>
							[%/param%]
							[%param *goback_pages%]
								<li><a href="[@url@]">[@page@]</a></li>
							[%/param%]
							[%param *current_page%]
								<li class="active"><a href="[@url@]">[@page@]</a></li>
							[%/param%]
							[%param *gonext_pages%]
								<li><a href="[@url@]">[@page@]</a></li>
							[%/param%]
							[%param *next_page%]
								<li><a href="[@url@]">${general.pagination_next_page}</a></li>
							[%/param%]
						[%/paging%]
					</ul>
				</div>
			[%/if%]
		[%/param%]
		[%param ifempty%]
			<p>${customer.quotes_empty} </p>
		[%/param%]
		[%param *footer%]
		[%/param%]
	[%/thumb_list%]
</section>
[%if [@config:show_wishlist@]%]
	<section class="col-xs-12" aria-label="${customer.wishlist_title}">
		<hr />
		<h2>${customer.wishlist_title}</h2>
		[%thumb_list limit:'10' type:'list_wishlists'%]
			[%param pgnum%]
				[%form id:'pgquote'/%]
			[%/param%]
			[%param header%]
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>${customer.wishlist_list_name}</th>
							<th class="hidden">${customer.wishlist_status_visibility}</th>
							<th class="hidden">${customer.wishlist_remind}</th>
							<th>${customer.wishlist_created_date}</th>
							<th colspan="2">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
			[%/param%]
			[%param *body%]
						<tr>
							<td><a href="[%url page:'account' type:'wishlist' fn:'view' id:'[@wishlist_id@]'/%]">[@wishlist_name@]</a></td>
							<td class="hidden">
								[%DATA id:'wishlist_active' if:'eq' value:'y'%]
									[%param if_true%]<span class="label label-success">${customer.wishlist_active_true}</span>[%/param%]
									[%param if_false%]<span class="label label-important">${customer.wishlist_active_false}</span>[%/param%]
								[%/DATA%]
								[%DATA id:'wishlist_private' if:'eq' value:'y'%]
									[%param if_true%]<span class="label">${customer.wishlist_private_true}</span>[%/param%]
									[%param if_false%]<span class="label label-success">${customer.wishlist_private_false}</span>[%/param%]
								[%/DATA%]
							</td>
							<td class="hidden">
								[%DATA id:'reminder_inc_days' if:'>' value:'0'%]
									[%param if_true%][@reminder_inc_days@] ${customer.reminder_inc_days_true}[%/param%]
									[%param if_false%]-[%/param%]
								[%/DATA%]
							</td>
							<td>
								[%format type:'date' format:'#d #k #Y' default:'-'%][@date_created@][%/format%]
								<span class="hidden"> / [%format type:'date' format:'#d #k #Y' default:'-'%][@date_expiry@][%/format%]</span>
							</td>
							<td>
								<a class="btn btn-block btn-danger" href="[%url page:'account' type:'wishlist' id:'[@wishlist_id@]' qs:'proc=deletelist' /%]"><i class="fa fa-trash-o"></i> ${customer.wishlist_delete}</a>
							</td>
							<td>
								<a class="btn btn-block btn-primary" href="[%url page:'account' type:'wishlist' fn:'view' id:'[@wishlist_id@]'/%]"><i class="fa fa-edit"></i> ${customer.wishlist_edit}</a>
							</td>
						</tr>
			[%/param%]
			[%param *footer%]
					</tbody>
				</table>
			[%/param%]
			[%param ifempty%]
				<p>${customer.wishlist_empty} </p>
			[%/param%]
		[%/thumb_list%]
		<form class="form-inline" method="POST" action="[%url page:'account' type:'wishlist'/%]">
			<input type="hidden" name="proc" value="addlist"/>
			<div class="row">
				<label for="inputEmail1" class="col-xs-12 col-md-2 control-label">${customer.add_new_wishlist_title} </label>
				<div class="col-xs-12 col-md-3">
					<input class="form-control" type="text" name="wh_name" value=""/>
					<br>
				</div>
				<div class="col-xs-12 col-md-3">
					<input class="btn btn-block btn-success" type="submit" name="submit" value="${customer.add_new_wishlist_btn}" />
				</div>
			</div>
		</form>
	</section>
[%/if%]
</section>
